In [1]:
import numpy as np
import pandas as pd
import math
pd.set_option('display.max_columns', 100)
pd.options.display.float_format = '{:.2f}'.format

# Outline

###  Part A. Affordable  Rentals
 1. Bring in 2013 PUMS data
 2. Assign county_id to each puma
 3. Bring in and clean, reformat county AMIs data
 4. Add variables for cost limits for ELI, VLI, LI, MI, and HI by bedroom count for each county
 5. Add count dummies for each unit based on income and unit type
 

###  Part B. Affordable Owning
 1. Calculate total monthly housing cost by adding monthly first mortgage, second/junior mortgage, and condo fees
 2. Add count dummies for each unit based on income and unit type

### Part C. Weighting Sample to get estimates
 1. Multiply each dummy by the the household weight variable
 2. Calculte standard errors for each estimate
 
### Part D. Aggregating at PUMA Level
 1. Add dummy variables for vacant "for-rent," vacant "for-sale," and recently moved in and create second dataset
 2. Aggregate at PUMA level for each dataset and export

## Part A1. Bring in 2013 PUMS data

In [2]:
variable_types = {"BDSP":"float","RMSP":"str","MV":"float","WGTP":"float","TAXP":"float"}
columns = ["PUMA","RT","BDSP","BLD","RNTP","MRGP","SMP","TAXP","CONP","TEN","VACS","VALP","GRPIP","GRNTP","HINCP","MV","WGTP"]
pums_df=pd.read_csv("2013_pums.csv", delimiter=",",usecols=columns,dtype=variable_types)
pums_df

,RT,PUMA,WGTP,BDSP,BLD,CONP,MRGP,RNTP,SMP,TEN,VACS,VALP,GRNTP,GRPIP,HINCP,MV,TAXP
0,H,7301,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,H,3702,38.00,3.00,2.00,nan,3500.00,nan,nan,1.00,nan,600000.00,nan,nan,464800.00,6.00,64.00
2,H,8503,78.00,2.00,6.00,430.00,1800.00,nan,460.00,1.00,nan,370000.00,nan,nan,16000.00,2.00,52.00
3,H,300,233.00,1.00,5.00,nan,nan,680.00,nan,3.00,nan,nan,780.00,19.00,50000.00,3.00,nan
4,H,7901,446.00,2.00,1.00,nan,nan,nan,nan,nan,3.00,140000.00,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153584,H,3725,154.00,2.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1210.00,101.00,6000.00,5.00,nan
153585,H,7102,67.00,4.00,2.00,nan,1600.00,nan,600.00,1.00,nan,122000.00,nan,nan,22200.00,4.00,29.00
153586,H,10701,104.00,3.00,2.00,nan,nan,580.00,nan,3.00,nan,nan,640.00,10.00,74500.00,5.00,nan
153587,H,5903,357.00,4.00,2.00,nan,nan,nan,nan,nan,5.00,nan,nan,nan,nan,nan,nan
153588,H,1901,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [3]:
pums_df.rename(columns={"RT":"record_type","BDSP":"number_bedrooms",
    "BLD":"units_in_structure",
    "RNTP":"monthly_rent",
    "MRGP":"first_mortgage",
    "SMP":"second_mortgage",
    "CONP":"condo_fee",
    "TEN":"tenure",
    "VACS":"vacancy_status",
    "VALP":"property_value",
    "GRPIP":"gross_rent_pct_of_income",
    "GRNTP":"gross_rent",
    "HINCP":"hh_income",
    "TAXP":"prop_tax",
    "WGTP":"weight",
    "MV":"moved_in"}, inplace=True)
pums_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax
0,H,7301,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,H,3702,38.00,3.00,2.00,nan,3500.00,nan,nan,1.00,nan,600000.00,nan,nan,464800.00,6.00,64.00
2,H,8503,78.00,2.00,6.00,430.00,1800.00,nan,460.00,1.00,nan,370000.00,nan,nan,16000.00,2.00,52.00
3,H,300,233.00,1.00,5.00,nan,nan,680.00,nan,3.00,nan,nan,780.00,19.00,50000.00,3.00,nan
4,H,7901,446.00,2.00,1.00,nan,nan,nan,nan,nan,3.00,140000.00,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153584,H,3725,154.00,2.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1210.00,101.00,6000.00,5.00,nan
153585,H,7102,67.00,4.00,2.00,nan,1600.00,nan,600.00,1.00,nan,122000.00,nan,nan,22200.00,4.00,29.00
153586,H,10701,104.00,3.00,2.00,nan,nan,580.00,nan,3.00,nan,nan,640.00,10.00,74500.00,5.00,nan
153587,H,5903,357.00,4.00,2.00,nan,nan,nan,nan,nan,5.00,nan,nan,nan,nan,nan,nan
153588,H,1901,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

## Part A2. Assign county id to each puma

In [4]:
# load in crosswalk file
crosswalk_df=pd.read_csv("C:/Users/Terner GSR/Box/Cost of Doing Nothing/Climate Impacts/Data/PUMS/PUMA_County_Crosswalk_v2.csv", delimiter=",")
crosswalk_df

      PUMA     county1 county2 county3 county4 county5 county6 county7
0      101  Alameda CA     NaN     NaN     NaN     NaN     NaN     NaN
1      102  Alameda CA     NaN     NaN     NaN     NaN     NaN     NaN
2      103  Alameda CA     NaN     NaN     NaN     NaN     NaN     NaN
3      104  Alameda CA     NaN     NaN     NaN     NaN     NaN     NaN
4      105  Alameda CA     NaN     NaN     NaN     NaN     NaN     NaN
..     ...         ...     ...     ...     ...     ...     ...     ...
260  11103  Ventura CA     NaN     NaN     NaN     NaN     NaN     NaN
261  11104  Ventura CA     NaN     NaN     NaN     NaN     NaN     NaN
262  11105  Ventura CA     NaN     NaN     NaN     NaN     NaN     NaN
263  11106  Ventura CA     NaN     NaN     NaN     NaN     NaN     NaN
264  11300     Yolo CA     NaN     NaN     NaN     NaN     NaN     NaN

[265 rows x 8 columns]

In [5]:
# add county name column to puma file
puma_county_df=pums_df.merge(crosswalk_df, how='left', left_on = "PUMA",right_on = "PUMA")
puma_county_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7
0,H,7301,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,San Diego CA,NaN,NaN,NaN,NaN,NaN,NaN
1,H,3702,38.00,3.00,2.00,nan,3500.00,nan,nan,1.00,nan,600000.00,nan,nan,464800.00,6.00,64.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN
2,H,8503,78.00,2.00,6.00,430.00,1800.00,nan,460.00,1.00,nan,370000.00,nan,nan,16000.00,2.00,52.00,Santa Clara CA,NaN,NaN,NaN,NaN,NaN,NaN
3,H,300,233.00,1.00,5.00,nan,nan,680.00,nan,3.00,nan,nan,780.00,19.00,50000.00,3.00,nan,Alpine CA,Amador CA,Calaveras CA,Inyo CA,Mariposa CA,Mono CA,Tuolumne CA
4,H,7901,446.00,2.00,1.00,nan,nan,nan,nan,nan,3.00,140000.00,nan,nan,nan,nan,nan,San Luis Obispo CA,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153584,H,3725,154.00,2.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1210.00,101.00,6000.00,5.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN
153585,H,7102,67.00,4.00,2.00,nan,1600.00,nan,600.00,1.00,nan,122000.00,nan,nan,22200.00,4.00,29.00,San Bernardino CA,NaN,NaN,NaN,NaN,NaN,NaN
153586,H,10701,104.00,3.00,2.00,nan,nan,580.00,nan,3.00,nan,nan,640.00,10.00,74500.00,5.00,nan,Tulare CA,NaN,NaN,NaN,NaN,NaN,NaN
153587,H,5903,357.00,4.00,2.00,nan,nan,nan,nan,nan,5.00,nan,nan,nan,nan,nan,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN
153588,H,1901,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Fresno CA,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# remove " CA" from end of each county name
puma_county_df['County'] = puma_county_df['county1'].str.replace(r' CA', '')
puma_county_df['county2'] = puma_county_df['county2'].str.replace(r' CA', '')
puma_county_df['county3'] = puma_county_df['county3'].str.replace(r' CA', '')
puma_county_df['county4'] = puma_county_df['county4'].str.replace(r' CA', '')
puma_county_df['county5'] = puma_county_df['county5'].str.replace(r' CA', '')
puma_county_df['county6'] = puma_county_df['county6'].str.replace(r' CA', '')
puma_county_df['county7'] = puma_county_df['county7'].str.replace(r' CA', '')
puma_county_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County
0,H,7301,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,San Diego CA,NaN,NaN,NaN,NaN,NaN,NaN,San Diego
1,H,3702,38.00,3.00,2.00,nan,3500.00,nan,nan,1.00,nan,600000.00,nan,nan,464800.00,6.00,64.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles
2,H,8503,78.00,2.00,6.00,430.00,1800.00,nan,460.00,1.00,nan,370000.00,nan,nan,16000.00,2.00,52.00,Santa Clara CA,NaN,NaN,NaN,NaN,NaN,NaN,Santa Clara
3,H,300,233.00,1.00,5.00,nan,nan,680.00,nan,3.00,nan,nan,780.00,19.00,50000.00,3.00,nan,Alpine CA,Amador,Calaveras,Inyo,Mariposa,Mono,Tuolumne,Alpine
4,H,7901,446.00,2.00,1.00,nan,nan,nan,nan,nan,3.00,140000.00,nan,nan,nan,nan,nan,San Luis Obispo CA,NaN,NaN,NaN,NaN,NaN,NaN,San Luis Obispo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153584,H,3725,154.00,2.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1210.00,101.00,6000.00,5.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles
153585,H,7102,67.00,4.00,2.00,nan,1600.00,nan,600.00,1.00,nan,122000.00,nan,nan,22200.00,4.00,29.00,San Bernardino CA,NaN,NaN,NaN,NaN,NaN,NaN,San Bernardino
153586,H,10701,104.00,3.00,2.00,nan,nan,580.00,nan,3.00,nan,nan,640.00,10.00,74500.00,5.00,nan,Tulare CA,NaN,NaN,NaN,NaN,NaN,NaN,Tulare
153587,H,5903,357.00,4.00,2.00,nan,nan,nan,nan,nan,5.00,nan,nan,nan,nan,nan,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange
153588,H,1901,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Fresno CA,NaN,NaN,NaN,NaN,NaN,NaN,Fresno

## Part A3. Bring in and clean, reformat county AMIs data

In [7]:
#bring in 2018 county AMIs file
columns=["County","Income_Category","1","2","4","6","8"]
df = pd.read_csv("2013_amis.csv", delimiter=",", usecols=columns)
df

,County,Income_Category,1,2,4,6,8
0,Alameda County\n4-Per,Extremely Low,19650,22450,28050,32550,37050
1,Alameda County\n4-Per,Very Low Income,32750,37400,46750,54250,61750
2,Alameda County\n4-Per,Lower Income,46350,53000,66250,76850,87450
3,Alameda County\n4-Per,Median Income,65450,74800,93500,108450,123400
4,Alameda County\n4-Per,Moderate Income,78550,89750,112200,130150,148100
...,...,...,...,...,...,...,...
285,Yuba County\n4-Person,Extremely Low,12500,14250,17800,20650,23500
286,Yuba County\n4-Person,Very Low Income,20800,23800,29700,34500,39250
287,Yuba County\n4-Person,Lower Income,33250,38000,47500,55100,62700
288,Yuba County\n4-Person,Median Income,41600,47500,59400,68900,78400
289,Yuba County\n4-Person,Moderate Income,49900,57050,71300,82700,94100

In [8]:
#clean county names variable
df['County'] = df['County'].str.replace(r' County\n4-Person', '')
df['County'] = df['County'].str.replace(r' County\n4-Perso', '')
df['County'] = df['County'].str.replace(r' County\n4-Pers', '')
df['County'] = df['County'].str.replace(r' County\n4-Per', '')
df['County'] = df['County'].str.replace(r' County\n4-Pe', '')
df['County'] = df['County'].str.replace(r' County\n4-P', '')
df['County'] = df['County'].str.replace(r' County\n4-', '')
df['County'] = df['County'].str.replace(r' County\n4', '')
df['County'] = df['County'].str.replace(r' County\n', '')
df['County'] = df['County'].str.replace(r' County\ ' , '')
df['County'] = df['County'].str.replace(r' County', '')
df['County'] = df['County'].str.replace(r' Count', '')
df['County'] = df['County'].str.replace(r' Coun', '')
df

      County  Income_Category      1      2       4       6       8
0    Alameda    Extremely Low  19650  22450   28050   32550   37050
1    Alameda  Very Low Income  32750  37400   46750   54250   61750
2    Alameda     Lower Income  46350  53000   66250   76850   87450
3    Alameda    Median Income  65450  74800   93500  108450  123400
4    Alameda  Moderate Income  78550  89750  112200  130150  148100
..       ...              ...    ...    ...     ...     ...     ...
285     Yuba    Extremely Low  12500  14250   17800   20650   23500
286     Yuba  Very Low Income  20800  23800   29700   34500   39250
287     Yuba     Lower Income  33250  38000   47500   55100   62700
288     Yuba    Median Income  41600  47500   59400   68900   78400
289     Yuba  Moderate Income  49900  57050   71300   82700   94100

[290 rows x 7 columns]

In [9]:
#create df for each income level and calculate max rents, rename variables
eli_df = df[df.Income_Category =="Extremely Low"].copy()
eli_df["1"]=eli_df["1"]*0.025
eli_df["2"]=eli_df["2"]*0.025
eli_df["4"]=eli_df["4"]*0.025
eli_df["6"]=eli_df["6"]*0.025
eli_df["8"]=eli_df["8"]*0.025
eli_df.rename(columns={"1":"ELI_studio","2":"ELI_1_br","4":"ELI_2_br","6":"ELI_3_br","8":"ELI_4_br"}, inplace=True)
eli_df.drop('Income_Category', axis=1, inplace=True)
eli_df

              County  ELI_studio  ELI_1_br  ELI_2_br  ELI_3_br  ELI_4_br
0            Alameda      491.25    561.25    701.25    813.75    926.25
5             Alpine      408.75    467.50    583.75    677.50    771.25
10            Amador      363.75    415.00    518.75    602.50    685.00
15             Butte      308.75    352.50    440.00    511.25    581.25
20         Calaveras      366.25    418.75    522.50    606.25    690.00
25            Colusa      303.75    347.50    433.75    503.75    573.75
30      Contra Costa      491.25    561.25    701.25    813.75    926.25
35         Del Norte      303.75    347.50    433.75    503.75    573.75
40         El Dorado      400.00    457.50    571.25    663.75    755.00
45            Fresno      303.75    347.50    433.75    503.75    573.75
50             Glenn      303.75    347.50    433.75    503.75    573.75
55          Humboldt      303.75    347.50    433.75    503.75    573.75
60          Imperial      303.75    347.50    433.75    503.75    573.75
65              Inyo      346.25    395.00    493.75    573.75    652.50
70              Kern      303.75    347.50    433.75    503.75    573.75
75             Kings      303.75    347.50    433.75    503.75    573.75
80              Lake      303.75    347.50    433.75    503.75    573.75
85            Lassen      340.00    388.75    485.00    563.75    641.25
90       Los Angeles      448.75    512.50    640.00    742.50    845.00
95            Madera      303.75    347.50    433.75    503.75    573.75
100            Marin      593.75    678.75    848.75    985.00   1120.00
105         Mariposa      322.50    368.75    460.00    533.75    607.50
110        Mendocino      303.75    347.50    433.75    503.75    573.75
115           Merced      303.75    347.50    433.75    503.75    573.75
120            Modoc      303.75    347.50    433.75    503.75    573.75
125             Mono      411.25    470.00    587.50    682.50    776.25
130         Monterey      375.00    428.75    535.00    621.25    706.25
135             Napa      452.50    517.50    646.25    750.00    853.75
140           Nevada      382.50    436.25    545.00    632.50    720.00
145           Orange      506.25    578.75    722.50    838.75    953.75
150           Placer      400.00    457.50    571.25    663.75    755.00
155           Plumas      326.25    372.50    465.00    540.00    615.00
160        Riverside      352.50    402.50    502.50    583.75    663.75
165       Sacramento      400.00    457.50    571.25    663.75    755.00
170       San Benito      426.25    487.50    608.75    706.25    803.75
175   San Bernardino      352.50    402.50    502.50    583.75    663.75
180        San Diego      433.75    496.25    620.00    718.75    818.75
185    San Francisco      593.75    678.75    848.75    985.00   1120.00
190      San Joaquin      348.75    398.75    497.50    577.50    657.50
195  San Luis Obispo      396.25    452.50    565.00    656.25    746.25
200        San Mateo      593.75    678.75    848.75    985.00   1120.00
205    Santa Barbara      418.75    478.75    597.50    693.75    788.75
210      Santa Clara      557.50    637.50    796.25    923.75   1051.25
215       Santa Cruz      530.00    605.00    756.25    877.50    998.75
220           Shasta      310.00    355.00    442.50    513.75    585.00
225           Sierra      370.00    422.50    527.50    612.50    697.50
230         Siskiyou      303.75    347.50    433.75    503.75    573.75
235           Solano      435.00    496.25    620.00    720.00    818.75
240           Sonoma      435.00    496.25    620.00    720.00    818.75
245       Stanislaus      326.25    372.50    465.00    540.00    615.00
250           Sutter      312.50    356.25    445.00    516.25    587.50
255           Tehama      303.75    347.50    433.75    503.75    573.75
260          Trinity      303.75    347.50    433.75    503.75    573.75
265           Tulare      303.75    347.50    433.75    503.75    573.75
270         Tuolumne      348.75    398.75    497.50    577.50    657.50
275          Ventura      470.00    536.25    670.00    777.50    885.00
280             Yolo      403.75    461.25    576.25    668.75    761.25
285             Yuba      312.50    356.25    445.00    516.25    587.50

In [10]:
vli_df = df[df.Income_Category =="Very Low Income"].copy()
vli_df["1"]=vli_df["1"]*0.025
vli_df["2"]=vli_df["2"]*0.025
vli_df["4"]=vli_df["4"]*0.025
vli_df["6"]=vli_df["6"]*0.025
vli_df["8"]=vli_df["8"]*0.025
vli_df.rename(columns={"1":"VLI_studio","2":"VLI_1_br","4":"VLI_2_br","6":"VLI_3_br","8":"VLI_4_br"}, inplace=True)
vli_df.drop('Income_Category', axis=1, inplace=True)
vli_df

              County  VLI_studio  VLI_1_br  VLI_2_br  VLI_3_br  VLI_4_br
1            Alameda      818.75    935.00   1168.75   1356.25   1543.75
6             Alpine      681.25    778.75    972.50   1128.75   1283.75
11            Amador      606.25    692.50    865.00   1003.75   1142.50
16             Butte      513.75    587.50    733.75    851.25    968.75
21         Calaveras      610.00    697.50    871.25   1011.25   1151.25
26            Colusa      507.50    580.00    723.75    840.00    956.25
31      Contra Costa      818.75    935.00   1168.75   1356.25   1543.75
36         Del Norte      507.50    580.00    723.75    840.00    956.25
41         El Dorado      666.25    761.25    951.25   1103.75   1256.25
46            Fresno      507.50    580.00    723.75    840.00    956.25
51             Glenn      507.50    580.00    723.75    840.00    956.25
56          Humboldt      507.50    580.00    723.75    840.00    956.25
61          Imperial      507.50    580.00    723.75    840.00    956.25
66              Inyo      576.25    658.75    822.50    955.00   1086.25
71              Kern      507.50    580.00    723.75    840.00    956.25
76             Kings      507.50    580.00    723.75    840.00    956.25
81              Lake      507.50    580.00    723.75    840.00    956.25
86            Lassen      566.25    647.50    808.75    938.75   1068.75
91       Los Angeles      747.50    855.00   1067.50   1238.75   1410.00
96            Madera      507.50    580.00    723.75    840.00    956.25
101            Marin      990.00   1131.25   1413.75   1640.00   1866.25
106         Mariposa      537.50    613.75    766.25    890.00   1012.50
111        Mendocino      507.50    580.00    723.75    840.00    956.25
116           Merced      507.50    580.00    723.75    840.00    956.25
121            Modoc      507.50    580.00    723.75    840.00    956.25
126             Mono      686.25    783.75    978.75   1136.25   1292.50
131         Monterey      625.00    713.75    891.25   1035.00   1177.50
136             Napa      753.75    861.25   1076.25   1248.75   1421.25
141           Nevada      636.25    726.25    907.50   1053.75   1198.75
146           Orange      843.75    963.75   1203.75   1397.50   1590.00
151           Placer      666.25    761.25    951.25   1103.75   1256.25
156           Plumas      542.50    620.00    775.00    900.00   1023.75
161        Riverside      586.25    670.00    837.50    972.50   1106.25
166       Sacramento      666.25    761.25    951.25   1103.75   1256.25
171       San Benito      710.00    811.25   1013.75   1176.25   1338.75
176   San Bernardino      586.25    670.00    837.50    972.50   1106.25
181        San Diego      722.50    826.25   1032.50   1197.50   1362.50
186    San Francisco      990.00   1131.25   1413.75   1640.00   1866.25
191      San Joaquin      581.25    663.75    828.75    962.50   1095.00
196  San Luis Obispo      660.00    755.00    942.50   1093.75   1245.00
201        San Mateo      990.00   1131.25   1413.75   1640.00   1866.25
206    Santa Barbara      697.50    796.25    995.00   1155.00   1313.75
211      Santa Clara      928.75   1061.25   1326.25   1538.75   1751.25
216       Santa Cruz      882.50   1008.75   1260.00   1462.50   1663.75
221           Shasta      516.25    590.00    737.50    856.25    973.75
226           Sierra      616.25    703.75    878.75   1020.00   1160.00
231         Siskiyou      507.50    580.00    723.75    840.00    956.25
236           Solano      723.75    826.25   1032.50   1198.75   1363.75
241           Sonoma      723.75    826.25   1032.50   1198.75   1363.75
246       Stanislaus      542.50    620.00    775.00    900.00   1023.75
251           Sutter      520.00    595.00    742.50    862.50    981.25
256           Tehama      507.50    580.00    723.75    840.00    956.25
261          Trinity      507.50    580.00    723.75    840.00    956.25
266           Tulare      507.50    580.00    723.75    840.00    956.25
271         Tuolumne      581.25    665.00    830.00    963.75   1096.25
276          Ventura      782.50    893.75   1116.25   1295.00   1473.75
281             Yolo      673.75    770.00    961.25   1116.25   1270.00
286             Yuba      520.00    595.00    742.50    862.50    981.25

In [11]:
li_df = df[df.Income_Category =="Lower Income"].copy()
li_df["1"]=li_df["1"]*0.025
li_df["2"]=li_df["2"]*0.025
li_df["4"]=li_df["4"]*0.025
li_df["6"]=li_df["6"]*0.025
li_df["8"]=li_df["8"]*0.025
li_df.rename(columns={"1":"LI_studio","2":"LI_1_br","4":"LI_2_br","6":"LI_3_br","8":"LI_4_br"}, inplace=True)
li_df.drop('Income_Category', axis=1, inplace=True)
li_df

              County  LI_studio  LI_1_br  LI_2_br  LI_3_br  LI_4_br
2            Alameda    1158.75  1325.00  1656.25  1921.25  2186.25
7             Alpine    1090.00  1245.00  1556.25  1806.25  2055.00
12            Amador     968.75  1107.50  1383.75  1606.25  1827.50
17             Butte     822.50   940.00  1173.75  1362.50  1550.00
22         Calaveras     976.25  1115.00  1393.75  1617.50  1840.00
27            Colusa     811.25   926.25  1157.50  1343.75  1528.75
32      Contra Costa    1158.75  1325.00  1656.25  1921.25  2186.25
37         Del Norte     811.25   926.25  1157.50  1343.75  1528.75
42         El Dorado    1066.25  1218.75  1522.50  1766.25  2010.00
47            Fresno     811.25   926.25  1157.50  1343.75  1528.75
52             Glenn     811.25   926.25  1157.50  1343.75  1528.75
57          Humboldt     811.25   926.25  1157.50  1343.75  1528.75
62          Imperial     811.25   926.25  1157.50  1343.75  1528.75
67              Inyo     922.50  1053.75  1316.25  1527.50  1737.50
72              Kern     811.25   926.25  1157.50  1343.75  1528.75
77             Kings     811.25   926.25  1157.50  1343.75  1528.75
82              Lake     811.25   926.25  1157.50  1343.75  1528.75
87            Lassen     906.25  1035.00  1293.75  1501.25  1708.75
92       Los Angeles    1196.25  1366.25  1707.50  1981.25  2255.00
97            Madera     811.25   926.25  1157.50  1343.75  1528.75
102            Marin    1583.75  1810.00  2262.50  2623.75  2986.25
107         Mariposa     858.75   981.25  1226.25  1422.50  1618.75
112        Mendocino     811.25   926.25  1157.50  1343.75  1528.75
117           Merced     811.25   926.25  1157.50  1343.75  1528.75
122            Modoc     811.25   926.25  1157.50  1343.75  1528.75
127             Mono    1097.50  1253.75  1566.25  1817.50  2067.50
132         Monterey     998.75  1141.25  1426.25  1655.00  1883.75
137             Napa    1151.25  1315.00  1643.75  1907.50  2170.00
142           Nevada    1017.50  1162.50  1452.50  1685.00  1917.50
147           Orange    1348.75  1541.25  1926.25  2235.00  2543.75
152           Placer    1066.25  1218.75  1522.50  1766.25  2010.00
157           Plumas     868.75   992.50  1240.00  1438.75  1637.50
162        Riverside     938.75  1072.50  1340.00  1555.00  1770.00
167       Sacramento    1066.25  1218.75  1522.50  1766.25  2010.00
172       San Benito    1127.50  1288.75  1610.00  1868.75  2126.25
177   San Bernardino     938.75  1072.50  1340.00  1555.00  1770.00
182        San Diego    1156.25  1322.50  1652.50  1917.50  2181.25
187    San Francisco    1583.75  1810.00  2262.50  2623.75  2986.25
192      San Joaquin     928.75  1061.25  1326.25  1538.75  1751.25
197  San Luis Obispo    1056.25  1206.25  1507.50  1748.75  1990.00
202        San Mateo    1583.75  1810.00  2262.50  2623.75  2986.25
207    Santa Barbara    1115.00  1275.00  1592.50  1847.50  2102.50
212      Santa Clara    1485.00  1697.50  2122.50  2461.25  2801.25
217       Santa Cruz    1412.50  1613.75  2016.25  2340.00  2662.50
222           Shasta     826.25   945.00  1180.00  1370.00  1558.75
227           Sierra     985.00  1125.00  1406.25  1631.25  1856.25
232         Siskiyou     811.25   926.25  1157.50  1343.75  1528.75
237           Solano    1137.50  1300.00  1625.00  1885.00  2145.00
242           Sonoma    1137.50  1300.00  1625.00  1885.00  2145.00
247       Stanislaus     868.75   992.50  1240.00  1438.75  1637.50
252           Sutter     831.25   950.00  1187.50  1377.50  1567.50
257           Tehama     811.25   926.25  1157.50  1343.75  1528.75
262          Trinity     811.25   926.25  1157.50  1343.75  1528.75
267           Tulare     811.25   926.25  1157.50  1343.75  1528.75
272         Tuolumne     930.00  1062.50  1327.50  1540.00  1752.50
277          Ventura    1246.25  1425.00  1780.00  2065.00  2350.00
282             Yolo    1076.25  1230.00  1537.50  1783.75  2030.00
287             Yuba     831.25   950.00  1187.50  1377.50  1567.50

In [12]:
mi_df = df[df.Income_Category =="Median Income"].copy()
mi_df["1"]=mi_df["1"]*0.025
mi_df["2"]=mi_df["2"]*0.025
mi_df["4"]=mi_df["4"]*0.025
mi_df["6"]=mi_df["6"]*0.025
mi_df["8"]=mi_df["8"]*0.025
mi_df.rename(columns={"1":"MI_studio","2":"MI_1_br","4":"MI_2_br","6":"MI_3_br","8":"MI_4_br"}, inplace=True)
mi_df.drop('Income_Category', axis=1, inplace=True)
mi_df

              County  MI_studio  MI_1_br  MI_2_br  MI_3_br  MI_4_br
3            Alameda    1636.25  1870.00  2337.50  2711.25  3085.00
8             Alpine    1492.50  1706.25  2132.50  2473.75  2815.00
13            Amador    1211.25  1383.75  1730.00  2006.25  2283.75
18             Butte    1027.50  1173.75  1467.50  1702.50  1937.50
23         Calaveras    1220.00  1393.75  1742.50  2021.25  2300.00
28            Colusa    1013.75  1157.50  1447.50  1678.75  1911.25
33      Contra Costa    1636.25  1870.00  2337.50  2711.25  3085.00
38         Del Norte    1013.75  1157.50  1447.50  1678.75  1911.25
43         El Dorado    1331.25  1522.50  1902.50  2207.50  2511.25
48            Fresno    1013.75  1157.50  1447.50  1678.75  1911.25
53             Glenn    1013.75  1157.50  1447.50  1678.75  1911.25
58          Humboldt    1013.75  1157.50  1447.50  1678.75  1911.25
63          Imperial    1013.75  1157.50  1447.50  1678.75  1911.25
68              Inyo    1151.25  1316.25  1645.00  1908.75  2171.25
73              Kern    1013.75  1157.50  1447.50  1678.75  1911.25
78             Kings    1013.75  1157.50  1447.50  1678.75  1911.25
83              Lake    1013.75  1157.50  1447.50  1678.75  1911.25
88            Lassen    1168.75  1336.25  1670.00  1937.50  2205.00
93       Los Angeles    1133.75  1296.25  1620.00  1878.75  2138.75
98            Madera    1013.75  1157.50  1447.50  1678.75  1911.25
103            Marin    1802.50  2060.00  2575.00  2987.50  3398.75
108         Mariposa    1072.50  1226.25  1532.50  1777.50  2022.50
113        Mendocino    1013.75  1157.50  1447.50  1678.75  1911.25
118           Merced    1013.75  1157.50  1447.50  1678.75  1911.25
123            Modoc    1013.75  1157.50  1447.50  1678.75  1911.25
128             Mono    1392.50  1592.50  1990.00  2308.75  2626.25
133         Monterey    1202.50  1373.75  1717.50  1992.50  2267.50
138             Napa    1506.25  1722.50  2152.50  2497.50  2841.25
143           Nevada    1270.00  1452.50  1815.00  2105.00  2396.25
148           Orange    1526.25  1743.75  2180.00  2528.75  2877.50
153           Placer    1331.25  1522.50  1902.50  2207.50  2511.25
158           Plumas    1085.00  1240.00  1550.00  1797.50  2046.25
163        Riverside    1137.50  1300.00  1625.00  1885.00  2145.00
168       Sacramento    1331.25  1522.50  1902.50  2207.50  2511.25
173       San Benito    1418.75  1622.50  2027.50  2352.50  2676.25
178   San Bernardino    1137.50  1300.00  1625.00  1885.00  2145.00
183        San Diego    1328.75  1517.50  1897.50  2201.25  2505.00
188    San Francisco    1802.50  2060.00  2575.00  2987.50  3398.75
193      San Joaquin    1160.00  1326.25  1657.50  1922.50  2187.50
198  San Luis Obispo    1320.00  1507.50  1885.00  2186.25  2488.75
203        San Mateo    1802.50  2060.00  2575.00  2987.50  3398.75
208    Santa Barbara    1282.50  1466.25  1832.50  2126.25  2418.75
213      Santa Clara    1846.25  2110.00  2637.50  3060.00  3481.25
218       Santa Cruz    1522.50  1740.00  2175.00  2522.50  2871.25
223           Shasta    1032.50  1180.00  1475.00  1711.25  1947.50
228           Sierra    1263.75  1443.75  1805.00  2093.75  2382.50
233         Siskiyou    1013.75  1157.50  1447.50  1678.75  1911.25
238           Solano    1445.00  1652.50  2065.00  2395.00  2726.25
243           Sonoma    1445.00  1652.50  2065.00  2395.00  2726.25
248       Stanislaus    1085.00  1240.00  1550.00  1797.50  2046.25
253           Sutter    1040.00  1187.50  1485.00  1722.50  1960.00
258           Tehama    1013.75  1157.50  1447.50  1678.75  1911.25
263          Trinity    1013.75  1157.50  1447.50  1678.75  1911.25
268           Tulare    1013.75  1157.50  1447.50  1678.75  1911.25
273         Tuolumne    1167.50  1333.75  1667.50  1933.75  2201.25
278          Ventura    1562.50  1786.25  2232.50  2590.00  2947.50
283             Yolo    1346.25  1537.50  1922.50  2230.00  2537.50
288             Yuba    1040.00  1187.50  1485.00  1722.50  1960.00

In [13]:
moi_df = df[df.Income_Category =="Moderate Income"].copy()
moi_df["1"]=moi_df["1"]*0.025
moi_df["2"]=moi_df["2"]*0.025
moi_df["4"]=moi_df["4"]*0.025
moi_df["6"]=moi_df["6"]*0.025
moi_df["8"]=moi_df["8"]*0.025
moi_df.rename(columns={"1":"MoI_studio","2":"MoI_1_br","4":"MoI_2_br","6":"MoI_3_br","8":"MoI_4_br"}, inplace=True)
moi_df.drop('Income_Category', axis=1, inplace=True)
moi_df

              County  MoI_studio  MoI_1_br  MoI_2_br  MoI_3_br  MoI_4_br
4            Alameda     1963.75   2243.75   2805.00   3253.75   3702.50
9             Alpine     1791.25   2047.50   2558.75   2968.75   3377.50
14            Amador     1453.75   1661.25   2076.25   2408.75   2741.25
19             Butte     1232.50   1408.75   1761.25   2042.50   2325.00
24         Calaveras     1463.75   1672.50   2091.25   2426.25   2760.00
29            Colusa     1216.25   1390.00   1737.50   2015.00   2293.75
34      Contra Costa     1963.75   2243.75   2805.00   3253.75   3702.50
39         Del Norte     1216.25   1390.00   1737.50   2015.00   2293.75
44         El Dorado     1597.50   1826.25   2282.50   2647.50   3012.50
49            Fresno     1216.25   1390.00   1737.50   2015.00   2293.75
54             Glenn     1216.25   1390.00   1737.50   2015.00   2293.75
59          Humboldt     1216.25   1390.00   1737.50   2015.00   2293.75
64          Imperial     1216.25   1390.00   1737.50   2015.00   2293.75
69              Inyo     1381.25   1578.75   1973.75   2290.00   2605.00
74              Kern     1216.25   1390.00   1737.50   2015.00   2293.75
79             Kings     1216.25   1390.00   1737.50   2015.00   2293.75
84              Lake     1216.25   1390.00   1737.50   2015.00   2293.75
89            Lassen     1402.50   1602.50   2003.75   2323.75   2645.00
94       Los Angeles     1361.25   1555.00   1943.75   2255.00   2566.25
99            Madera     1216.25   1390.00   1737.50   2015.00   2293.75
104            Marin     2162.50   2472.50   3090.00   3585.00   4078.75
109         Mariposa     1287.50   1471.25   1838.75   2132.50   2427.50
114        Mendocino     1216.25   1390.00   1737.50   2015.00   2293.75
119           Merced     1216.25   1390.00   1737.50   2015.00   2293.75
124            Modoc     1216.25   1390.00   1737.50   2015.00   2293.75
129             Mono     1671.25   1910.00   2387.50   2770.00   3151.25
134         Monterey     1442.50   1648.75   2061.25   2391.25   2721.25
139             Napa     1807.50   2066.25   2582.50   2996.25   3408.75
144           Nevada     1523.75   1742.50   2177.50   2526.25   2873.75
149           Orange     1831.25   2092.50   2616.25   3035.00   3453.75
154           Placer     1597.50   1826.25   2282.50   2647.50   3012.50
159           Plumas     1302.50   1487.50   1860.00   2157.50   2455.00
164        Riverside     1365.00   1560.00   1950.00   2262.50   2573.75
169       Sacramento     1597.50   1826.25   2282.50   2647.50   3012.50
174       San Benito     1702.50   1946.25   2432.50   2821.25   3211.25
179   San Bernardino     1365.00   1560.00   1950.00   2262.50   2573.75
184        San Diego     1593.75   1822.50   2277.50   2642.50   3006.25
189    San Francisco     2162.50   2472.50   3090.00   3585.00   4078.75
194      San Joaquin     1392.50   1591.25   1988.75   2307.50   2625.00
199  San Luis Obispo     1583.75   1810.00   2262.50   2625.00   2986.25
204        San Mateo     2162.50   2472.50   3090.00   3585.00   4078.75
209    Santa Barbara     1538.75   1758.75   2198.75   2550.00   2902.50
214      Santa Clara     2215.00   2532.50   3165.00   3671.25   4177.50
219       Santa Cruz     1827.50   2087.50   2610.00   3027.50   3445.00
224           Shasta     1238.75   1416.25   1770.00   2053.75   2336.25
229           Sierra     1516.25   1732.50   2166.25   2512.50   2860.00
234         Siskiyou     1216.25   1390.00   1737.50   2015.00   2293.75
239           Solano     1733.75   1982.50   2477.50   2873.75   3270.00
244           Sonoma     1733.75   1982.50   2477.50   2873.75   3270.00
249       Stanislaus     1302.50   1487.50   1860.00   2157.50   2455.00
254           Sutter     1247.50   1426.25   1782.50   2067.50   2352.50
259           Tehama     1216.25   1390.00   1737.50   2015.00   2293.75
264          Trinity     1216.25   1390.00   1737.50   2015.00   2293.75
269           Tulare     1216.25   1390.00   1737.50   2015.00   2293.75
274         Tuolumne     1401.25   1601.25   2001.25   2321.25   2641.25
279          Ventura     1875.00   2142.50   2678.75   3107.50   3536.25
284             Yolo     1615.00   1846.25   2307.50   2676.25   3046.25
289             Yuba     1247.50   1426.25   1782.50   2067.50   2352.50

In [14]:
#combine dfs
all_amis_df=eli_df.merge(vli_df, how='left', left_on = "County",right_on = "County")
all_amis_df=all_amis_df.merge(li_df, how='left', left_on = "County",right_on = "County")
all_amis_df=all_amis_df.merge(mi_df, how='left', left_on = "County",right_on = "County")
all_amis_df=all_amis_df.merge(moi_df, how='left', left_on = "County",right_on = "County")
all_amis_df

,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br
0,Alameda,491.25,561.25,701.25,813.75,926.25,818.75,935.00,1168.75,1356.25,1543.75,1158.75,1325.00,1656.25,1921.25,2186.25,1636.25,1870.00,2337.50,2711.25,3085.00,1963.75,2243.75,2805.00,3253.75,3702.50
1,Alpine,408.75,467.50,583.75,677.50,771.25,681.25,778.75,972.50,1128.75,1283.75,1090.00,1245.00,1556.25,1806.25,2055.00,1492.50,1706.25,2132.50,2473.75,2815.00,1791.25,2047.50,2558.75,2968.75,3377.50
2,Amador,363.75,415.00,518.75,602.50,685.00,606.25,692.50,865.00,1003.75,1142.50,968.75,1107.50,1383.75,1606.25,1827.50,1211.25,1383.75,1730.00,2006.25,2283.75,1453.75,1661.25,2076.25,2408.75,2741.25
3,Butte,308.75,352.50,440.00,511.25,581.25,513.75,587.50,733.75,851.25,968.75,822.50,940.00,1173.75,1362.50,1550.00,1027.50,1173.75,1467.50,1702.50,1937.50,1232.50,1408.75,1761.25,2042.50,2325.00
4,Calaveras,366.25,418.75,522.50,606.25,690.00,610.00,697.50,871.25,1011.25,1151.25,976.25,1115.00,1393.75,1617.50,1840.00,1220.00,1393.75,1742.50,2021.25,2300.00,1463.75,1672.50,2091.25,2426.25,2760.00
5,Colusa,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
6,Contra Costa,491.25,561.25,701.25,813.75,926.25,818.75,935.00,1168.75,1356.25,1543.75,1158.75,1325.00,1656.25,1921.25,2186.25,1636.25,1870.00,2337.50,2711.25,3085.00,1963.75,2243.75,2805.00,3253.75,3702.50
7,Del Norte,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
8,El Dorado,400.00,457.50,571.25,663.75,755.00,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50
9,Fresno,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
10,Glenn,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
11,Humboldt,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
12,Imperial,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
13,Inyo,346.25,395.00,493.75,573.75,652.50,576.25,658.75,822.50,955.00,1086.25,922.50,1053.75,1316.25,1527.50,1737.50,1151.25,1316.25,1645.00,1908.75,2171.25,1381.25,1578.75,1973.75,2290.00,2605.00
14,Kern,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
15,Kings,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
16,Lake,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
17,Lassen,340.00,388.75,485.00,563.75,641.25,566.25,647.50,808.75,938.75,1068.75,906.25,1035.00,1293.75,1501.25,1708.75,1168.75,1336.25,1670.00,1937.50,2205.00,1402.50,1602.50,2003.75,2323.75,2645.00
18,Los Angeles,448.75,512.50,640.00,742.50,845.00,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25
19,Madera,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
20,Marin,593.75,678.75,848.75,985.00,1120.00,990.00,1131.25,1413.75,1640.00,1866.25,1583.75,1810.00,2262.50,2623.75,2986.25,1802.50,2060.00,2575.00,2987.50,3398.75,2162.50,2472.50,3090.00,3585.00,4078.75
21,Mariposa,322.50,368.75,460.00,533.75,607.50,537.50,613.75,766.25,890.00,1012.50,858.75,981.25,1226.25,1422.50,1618.75,1072.50,1226.25,1532.50,1777.50,2022.50,1287.50,1471.25,1838.75,2132.50,2427.50
22,Mendocino,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
23,Merced,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
24,Modoc,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
25,Mono,411.25,470.00,587.50,682.50,776.25,686.25,783.75,978.75,1136.25,1292.50,1097.50,1253.75,1566.25,1817.50,2067.50,1392.50,1592.50,1990.00,2308.75,2626.25,1671.25,1910.00,2387.50,2770.00,3151.25
26,Monterey,375.00,428.75,535.00,621.25,706.25,625.00,713.75,891.25,1035.00,1177.50,998.75,1141.25,1426.25,1655.00,1883.75,1202.50,1373.75,1717.50,1992.50,2267.50,1442.50,1648.75,2061.25,2391.25,2721.25
27,Napa,452.50,517.50,646.25,750.00,853.75,753.75,861.25,1076.25,1248.75,1421.25,1151.25,1315.00,1643.75,1907.50,2170.00,1506.25,1722.50,2152.50,2497.50,2841.25,1807.50,2066.25,2582.50,2996.25,3408.75
28,Nevada,382.50,436.25,545.00,632.50,720.00,636.25,726.25,907.50,1053.75,1198.75,1017.50,1162.50,1452.50,1685.00,1917.50,1270.00,1452.50,1815.00,2105.00,2396.25,1523.75,1742.50,2177.50,2526.25,2873.75
29,Orange,506.25,578.75,722.50,838.75,953.75,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75
30,Placer,400.00,457.50,571.25,663.75,755.00,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50
31,Plumas,326.25,372.50,465.00,540.00,615.00,542.50,620.00,775.00,900.00,1023.75,868.75,992.50,1240.00,1438.75,1637.50,1085.00,1240.00,1550.00,1797.50,2046.25,1302.50,1487.50,1860.00,2157.50,2455.00
32,Riverside,352.50,402.50,502.50,583.75,663.75,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75
33,Sacramento,400.00,457.50,571.25,663.75,755.00,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50
34,San Benito,426.25,487.50,608.75,706.25,803.75,710.00,811.25,1013.75,1176.25,1338.75,1127.50,1288.75,1610.00,1868.75,2126.25,1418.75,1622.50,2027.50,2352.50,2676.25,1702.50,1946.25,2432.50,2821.25,3211.25
35,San Bernardino,352.50,402.50,502.50,583.75,663.75,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75
36,San Diego,433.75,496.25,620.00,718.75,818.75,722.50,826.25,1032.50,1197.50,1362.50,1156.25,1322.50,1652.50,1917.50,2181.25,1328.75,1517.50,1897.50,2201.25,2505.00,1593.75,1822.50,2277.50,2642.50,3006.25
37,San Francisco,593.75,678.75,848.75,985.00,1120.00,990.00,1131.25,1413.75,1640.00,1866.25,1583.75,1810.00,2262.50,2623.75,2986.25,1802.50,2060.00,2575.00,2987.50,3398.75,2162.50,2472.50,3090.00,3585.00,4078.75
38,San Joaquin,348.75,398.75,497.50,577.50,657.50,581.25,663.75,828.75,962.50,1095.00,928.75,1061.25,1326.25,1538.75,1751.25,1160.00,1326.25,1657.50,1922.50,2187.50,1392.50,1591.25,1988.75,2307.50,2625.00
39,San Luis Obispo,396.25,452.50,565.00,656.25,746.25,660.00,755.00,942.50,1093.75,1245.00,1056.25,1206.25,1507.50,1748.75,1990.00,1320.00,1507.50,1885.00,2186.25,2488.75,1583.75,1810.00,2262.50,2625.00,2986.25
40,San Mateo,593.75,678.75,848.75,985.00,1120.00,990.00,1131.25,1413.75,1640.00,1866.25,1583.75,1810.00,2262.50,2623.75,2986.25,1802.50,2060.00,2575.00,2987.50,3398.75,2162.50,2472.50,3090.00,3585.00,4078.75
41,Santa Barbara,418.75,478.75,597.50,693.75,788.75,697.50,796.25,995.00,1155.00,1313.75,1115.00,1275.00,1592.50,1847.50,2102.50,1282.50,1466.25,1832.50,2126.25,2418.75,1538.75,1758.75,2198.75,2550.00,2902.50
42,Santa Clara,557.50,637.50,796.25,923.75,1051.25,928.75,1061.25,1326.25,1538.75,1751.25,1485.00,1697.50,2122.50,2461.25,2801.25,1846.25,2110.00,2637.50,3060.00,3481.25,2215.00,2532.50,3165.00,3671.25,4177.50
43,Santa Cruz,530.00,605.00,756.25,877.50,998.75,882.50,1008.75,1260.00,1462.50,1663.75,1412.50,1613.75,2016.25,2340.00,2662.50,1522.50,1740.00,2175.00,2522.50,2871.25,1827.50,2087.50,2610.00,3027.50,3445.00
44,Shasta,310.00,355.00,442.50,513.75,585.00,516.25,590.00,737.50,856.25,973.75,826.25,945.00,1180.00,1370.00,1558.75,1032.50,1180.00,1475.00,1711.25,1947.50,1238.75,1416.25,1770.00,2053.75,2336.25
45,Sierra,370.00,422.50,527.50,612.50,697.50,616.25,703.75,878.75,1020.00,1160.00,985.00,1125.00,1406.25,1631.25,1856.25,1263.75,1443.75,1805.00,2093.75,2382.50,1516.25,1732.50,2166.25,2512.50,2860.00
46,Siskiyou,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
47,Solano,435.00,496.25,620.00,720.00,818.75,723.75,826.25,1032.50,1198.75,1363.75,1137.50,1300.00,1625.00,1885.00,2145.00,1445.00,1652.50,2065.00,2395.00,2726.25,1733.75,1982.50,2477.50,2873.75,3270.00
48,Sonoma,435.00,496.25,620.00,720.00,818.75,723.75,826.25,1032.50,1198.75,1363.75,1137.50,1300.00,1625.00,1885.00,2145.00,1445.00,1652.50,2065.00,2395.00,2726.25,1733.75,1982.50,2477.50,2873.75,3270.00
49,Stanislaus,326.25,372.50,465.00,540.00,615.00,542.50,620.00,775.00,900.00,1023.75,868.75,992.50,1240.00,1438.75,1637.50,1085.00,1240.00,1550.00,1797.50,2046.25,1302.50,1487.50,1860.00,2157.50,2455.00
50,Sutter,312.50,356.25,445.00,516.25,587.50,520.00,595.00,742.50,862.50,981.25,831.25,950.00,1187.50,1377.50,1567.50,1040.00,1187.50,1485.00,1722.50,1960.00,1247.50,1426.25,1782.50,2067.50,2352.50
51,Tehama,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
52,Trinity,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
53,Tulare,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
54,Tuolumne,348.75,398.75,497.50,577.50,657.50,581.25,665.00,830.00,963.75,1096.25,930.00,1062.50,1327.50,1540.00,1752.50,1167.50,1333.75,1667.50,1933.75,2201.25,1401.25,1601.25,2001.25,2321.25,2641.25
55,Ventura,470.00,536.25,670.00,777.50,885.00,782.50,893.75,1116.25,1295.00,1473.75,1246.25,1425.00,1780.00,2065.00,2350.00,1562.50,1786.25,2232.50,2590.00,2947.50,1875.00,2142.50,2678.75,3107.50,3536.25
56,Yolo,403.75,461.25,576.25,668.75,761.25,673.75,770.00,961.25,1116.25,1270.00,1076.25,1230.00,1537.50,1783.75,2030.00,1346.25,1537.50,1922.50,2230.00,2537.50,1615.00,1846.25,2307.50,2676.25,3046.25
57,Yuba,312.50,356.25,445.00,516.25,587.50,520.00,595.00,742.50,862.50,981.25,831.25,950.00,1187.50,1377.50,1567.50,1040.00,1187.50,1485.00,1722.50,1960.00,1247.50,1426.25,1782.50,2067.50,2352.50

## Part A4. Add count dummies for each unit based on income and unit type

In [15]:
# merge datasets
units_df=puma_county_df.merge(all_amis_df, how='left', left_on = "County",right_on = "County")
units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br
0,H,7301,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,San Diego CA,NaN,NaN,NaN,NaN,NaN,NaN,San Diego,433.75,496.25,620.00,718.75,818.75,722.50,826.25,1032.50,1197.50,1362.50,1156.25,1322.50,1652.50,1917.50,2181.25,1328.75,1517.50,1897.50,2201.25,2505.00,1593.75,1822.50,2277.50,2642.50,3006.25
1,H,3702,38.00,3.00,2.00,nan,3500.00,nan,nan,1.00,nan,600000.00,nan,nan,464800.00,6.00,64.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,742.50,845.00,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25
2,H,8503,78.00,2.00,6.00,430.00,1800.00,nan,460.00,1.00,nan,370000.00,nan,nan,16000.00,2.00,52.00,Santa Clara CA,NaN,NaN,NaN,NaN,NaN,NaN,Santa Clara,557.50,637.50,796.25,923.75,1051.25,928.75,1061.25,1326.25,1538.75,1751.25,1485.00,1697.50,2122.50,2461.25,2801.25,1846.25,2110.00,2637.50,3060.00,3481.25,2215.00,2532.50,3165.00,3671.25,4177.50
3,H,300,233.00,1.00,5.00,nan,nan,680.00,nan,3.00,nan,nan,780.00,19.00,50000.00,3.00,nan,Alpine CA,Amador,Calaveras,Inyo,Mariposa,Mono,Tuolumne,Alpine,408.75,467.50,583.75,677.50,771.25,681.25,778.75,972.50,1128.75,1283.75,1090.00,1245.00,1556.25,1806.25,2055.00,1492.50,1706.25,2132.50,2473.75,2815.00,1791.25,2047.50,2558.75,2968.75,3377.50
4,H,7901,446.00,2.00,1.00,nan,nan,nan,nan,nan,3.00,140000.00,nan,nan,nan,nan,nan,San Luis Obispo CA,NaN,NaN,NaN,NaN,NaN,NaN,San Luis Obispo,396.25,452.50,565.00,656.25,746.25,660.00,755.00,942.50,1093.75,1245.00,1056.25,1206.25,1507.50,1748.75,1990.00,1320.00,1507.50,1885.00,2186.25,2488.75,1583.75,1810.00,2262.50,2625.00,2986.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153584,H,3725,154.00,2.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1210.00,101.00,6000.00,5.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,742.50,845.00,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25
153585,H,7102,67.00,4.00,2.00,nan,1600.00,nan,600.00,1.00,nan,122000.00,nan,nan,22200.00,4.00,29.00,San Bernardino CA,NaN,NaN,NaN,NaN,NaN,NaN,San Bernardino,352.50,402.50,502.50,583.75,663.75,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75
153586,H,10701,104.00,3.00,2.00,nan,nan,580.00,nan,3.00,nan,nan,640.00,10.00,74500.00,5.00,nan,Tulare CA,NaN,NaN,NaN,NaN,NaN,NaN,Tulare,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
153587,H,5903,357.00,4.00,2.00,nan,nan,nan,nan,nan,5.00,nan,nan,nan,nan,nan,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange,506.25,578.75,722.50,838.75,953.75,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75
153588,H,1901,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Fresno CA,NaN,NaN,NaN,NaN,NaN,NaN,Fresno,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75

In [16]:
# create filter masks for each affordability and unit type
ELI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['monthly_rent']<=units_df["ELI_studio"])
ELI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['monthly_rent']<=units_df["ELI_1_br"])
ELI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['monthly_rent']<=units_df["ELI_2_br"])
ELI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['monthly_rent']<=units_df["ELI_3_br"])
ELI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['monthly_rent']<=units_df["ELI_4_br"])
VLI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['monthly_rent']<=units_df["VLI_studio"])
VLI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['monthly_rent']<=units_df["VLI_1_br"])
VLI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['monthly_rent']<=units_df["VLI_2_br"])
VLI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['monthly_rent']<=units_df["VLI_3_br"])
VLI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['monthly_rent']<=units_df["VLI_4_br"])
LI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['monthly_rent']<=units_df["LI_studio"])
LI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['monthly_rent']<=units_df["LI_1_br"])
LI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['monthly_rent']<=units_df["LI_2_br"])
LI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['monthly_rent']<=units_df["LI_3_br"])
LI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['monthly_rent']<=units_df["LI_4_br"])
MI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['monthly_rent']<=units_df["MI_studio"])
MI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['monthly_rent']<=units_df["MI_1_br"])
MI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['monthly_rent']<=units_df["MI_2_br"])
MI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['monthly_rent']<=units_df["MI_3_br"])
MI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['monthly_rent']<=units_df["MI_4_br"])
MoI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['monthly_rent']<=units_df["MoI_studio"])
MoI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['monthly_rent']<=units_df["MoI_1_br"])
MoI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['monthly_rent']<=units_df["MoI_2_br"])
MoI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['monthly_rent']<=units_df["MoI_3_br"])
MoI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['monthly_rent']<=units_df["MoI_4_br"])
HI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['monthly_rent']>=units_df["MoI_studio"])
HI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['monthly_rent']>=units_df["MoI_1_br"])
HI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['monthly_rent']>=units_df["MoI_2_br"])
HI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['monthly_rent']>=units_df["MoI_3_br"])
HI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['monthly_rent']>=units_df["MoI_4_br"])

# apply filter masks to create dummy variables
units_df['rent_ELI_studio_count']=np.where(ELI_studio_mask,1,0)
units_df['rent_ELI_1_br_count']=np.where(ELI_1_br_mask,1,0)
units_df['rent_ELI_2_br_count']=np.where(ELI_2_br_mask,1,0)
units_df['rent_ELI_3_br_count']=np.where(ELI_3_br_mask,1,0)
units_df['rent_ELI_4_br_count']=np.where(ELI_4_br_mask,1,0)
units_df['rent_VLI_studio_count']=np.where(VLI_studio_mask,1,0)
units_df['rent_VLI_1_br_count']=np.where(VLI_1_br_mask,1,0)
units_df['rent_VLI_2_br_count']=np.where(VLI_2_br_mask,1,0)
units_df['rent_VLI_3_br_count']=np.where(VLI_3_br_mask,1,0)
units_df['rent_VLI_4_br_count']=np.where(VLI_4_br_mask,1,0)
units_df['rent_LI_studio_count']=np.where(LI_studio_mask,1,0)
units_df['rent_LI_1_br_count']=np.where(LI_1_br_mask,1,0)
units_df['rent_LI_2_br_count']=np.where(LI_2_br_mask,1,0)
units_df['rent_LI_3_br_count']=np.where(LI_3_br_mask,1,0)
units_df['rent_LI_4_br_count']=np.where(LI_4_br_mask,1,0)
units_df['rent_MI_studio_count']=np.where(MI_studio_mask,1,0)
units_df['rent_MI_1_br_count']=np.where(MI_1_br_mask,1,0)
units_df['rent_MI_2_br_count']=np.where(MI_2_br_mask,1,0)
units_df['rent_MI_3_br_count']=np.where(MI_3_br_mask,1,0)
units_df['rent_MI_4_br_count']=np.where(MI_4_br_mask,1,0)
units_df['rent_MoI_studio_count']=np.where(MoI_studio_mask,1,0)
units_df['rent_MoI_1_br_count']=np.where(MoI_1_br_mask,1,0)
units_df['rent_MoI_2_br_count']=np.where(MoI_2_br_mask,1,0)
units_df['rent_MoI_3_br_count']=np.where(MoI_3_br_mask,1,0)
units_df['rent_MoI_4_br_count']=np.where(MoI_4_br_mask,1,0)
units_df['rent_HI_studio_count']=np.where(HI_studio_mask,1,0)
units_df['rent_HI_1_br_count']=np.where(HI_1_br_mask,1,0)
units_df['rent_HI_2_br_count']=np.where(HI_2_br_mask,1,0)
units_df['rent_HI_3_br_count']=np.where(HI_3_br_mask,1,0)
units_df['rent_HI_4_br_count']=np.where(HI_4_br_mask,1,0)
units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,rent_ELI_studio_count,rent_ELI_1_br_count,rent_ELI_2_br_count,rent_ELI_3_br_count,rent_ELI_4_br_count,rent_VLI_studio_count,rent_VLI_1_br_count,rent_VLI_2_br_count,rent_VLI_3_br_count,rent_VLI_4_br_count,rent_LI_studio_count,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count
0,H,7301,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,San Diego CA,NaN,NaN,NaN,NaN,NaN,NaN,San Diego,433.75,496.25,620.00,718.75,818.75,722.50,826.25,1032.50,1197.50,1362.50,1156.25,1322.50,1652.50,1917.50,2181.25,1328.75,1517.50,1897.50,2201.25,2505.00,1593.75,1822.50,2277.50,2642.50,3006.25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,H,3702,38.00,3.00,2.00,nan,3500.00,nan,nan,1.00,nan,600000.00,nan,nan,464800.00,6.00,64.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,742.50,845.00,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,H,8503,78.00,2.00,6.00,430.00,1800.00,nan,460.00,1.00,nan,370000.00,nan,nan,16000.00,2.00,52.00,Santa Clara CA,NaN,NaN,NaN,NaN,NaN,NaN,Santa Clara,557.50,637.50,796.25,923.75,1051.25,928.75,1061.25,1326.25,1538.75,1751.25,1485.00,1697.50,2122.50,2461.25,2801.25,1846.25,2110.00,2637.50,3060.00,3481.25,2215.00,2532.50,3165.00,3671.25,4177.50,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,H,300,233.00,1.00,5.00,nan,nan,680.00,nan,3.00,nan,nan,780.00,19.00,50000.00,3.00,nan,Alpine CA,Amador,Calaveras,Inyo,Mariposa,Mono,Tuolumne,Alpine,408.75,467.50,583.75,677.50,771.25,681.25,778.75,972.50,1128.75,1283.75,1090.00,1245.00,1556.25,1806.25,2055.00,1492.50,1706.25,2132.50,2473.75,2815.00,1791.25,2047.50,2558.75,2968.75,3377.50,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0
4,H,7901,446.00,2.00,1.00,nan,nan,nan,nan,nan,3.00,140000.00,nan,nan,nan,nan,nan,San Luis Obispo CA,NaN,NaN,NaN,NaN,NaN,NaN,San Luis Obispo,396.25,452.50,565.00,656.25,746.25,660.00,755.00,942.50,1093.75,1245.00,1056.25,1206.25,1507.50,1748.75,1990.00,1320.00,1507.50,1885.00,2186.25,2488.75,1583.75,1810.00,2262.50,2625.00,2986.25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153584,H,3725,154.00,2.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1210.00,101.00,6000.00,5.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,742.50,845.00,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0
153585,H,7102,67.00,4.00,2.00,nan,1600.00,nan,600.00,1.00,nan,122000.00,nan,nan,22200.00,4.00,29.00,San Bernardino CA,NaN,NaN,NaN,NaN,NaN,NaN,San Bernardino,352.50,402.50,502.50,583.75,663.75,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
153586,H,10701,104.00,3.00,2.00,nan,nan,580.00,nan,3.00,nan,nan,640.00,10.00,74500.00,5.00,nan,Tulare CA,NaN,NaN,NaN,NaN,NaN,NaN,Tulare,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0
153587,H,5903,357.00,4.00,2.00,nan,nan,nan,nan,nan,5.00,nan,nan,nan,nan,nan,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange,506.25,578.75,722.50,838.75,953.75,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
153588,H,1901,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Fresno CA,NaN,NaN,NaN,NaN,NaN,NaN,Fresno,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## Part B1. Calculate total monthly housing cost by adding monthly first mortgage, second/junior mortgage, and condo fees

In [17]:
units_df['own_monthly_cost']=units_df['first_mortgage'] + units_df['second_mortgage'] + units_df['condo_fee'] + (units_df['prop_tax']/12)
units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,rent_ELI_studio_count,rent_ELI_1_br_count,rent_ELI_2_br_count,rent_ELI_3_br_count,rent_ELI_4_br_count,rent_VLI_studio_count,rent_VLI_1_br_count,rent_VLI_2_br_count,rent_VLI_3_br_count,rent_VLI_4_br_count,rent_LI_studio_count,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_monthly_cost
0,H,7301,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,San Diego CA,NaN,NaN,NaN,NaN,NaN,NaN,San Diego,433.75,496.25,620.00,718.75,818.75,722.50,826.25,1032.50,1197.50,1362.50,1156.25,1322.50,1652.50,1917.50,2181.25,1328.75,1517.50,1897.50,2201.25,2505.00,1593.75,1822.50,2277.50,2642.50,3006.25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
1,H,3702,38.00,3.00,2.00,nan,3500.00,nan,nan,1.00,nan,600000.00,nan,nan,464800.00,6.00,64.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,742.50,845.00,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
2,H,8503,78.00,2.00,6.00,430.00,1800.00,nan,460.00,1.00,nan,370000.00,nan,nan,16000.00,2.00,52.00,Santa Clara CA,NaN,NaN,NaN,NaN,NaN,NaN,Santa Clara,557.50,637.50,796.25,923.75,1051.25,928.75,1061.25,1326.25,1538.75,1751.25,1485.00,1697.50,2122.50,2461.25,2801.25,1846.25,2110.00,2637.50,3060.00,3481.25,2215.00,2532.50,3165.00,3671.25,4177.50,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2694.33
3,H,300,233.00,1.00,5.00,nan,nan,680.00,nan,3.00,nan,nan,780.00,19.00,50000.00,3.00,nan,Alpine CA,Amador,Calaveras,Inyo,Mariposa,Mono,Tuolumne,Alpine,408.75,467.50,583.75,677.50,771.25,681.25,778.75,972.50,1128.75,1283.75,1090.00,1245.00,1556.25,1806.25,2055.00,1492.50,1706.25,2132.50,2473.75,2815.00,1791.25,2047.50,2558.75,2968.75,3377.50,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,nan
4,H,7901,446.00,2.00,1.00,nan,nan,nan,nan,nan,3.00,140000.00,nan,nan,nan,nan,nan,San Luis Obispo CA,NaN,NaN,NaN,NaN,NaN,NaN,San Luis Obispo,396.25,452.50,565.00,656.25,746.25,660.00,755.00,942.50,1093.75,1245.00,1056.25,1206.25,1507.50,1748.75,1990.00,1320.00,1507.50,1885.00,2186.25,2488.75,1583.75,1810.00,2262.50,2625.00,2986.25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153584,H,3725,154.00,2.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1210.00,101.00,6000.00,5.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,742.50,845.00,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,nan
153585,H,7102,67.00,4.00,2.00,nan,1600.00,nan,600.00,1.00,nan,122000.00,nan,nan,22200.00,4.00,29.00,San Bernardino CA,NaN,NaN,NaN,NaN,NaN,NaN,San Bernardino,352.50,402.50,502.50,583.75,663.75,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
153586,H,10701,104.00,3.00,2.00,nan,nan,580.00,nan,3.00,nan,nan,640.00,10.00,74500.00,5.00,nan,Tulare CA,NaN,NaN,NaN,NaN,NaN,NaN,Tulare,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,nan
153587,H,5903,357.00,4.00,2.00,nan,nan,nan,nan,nan,5.00,nan,nan,nan,nan,nan,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange,506.25,578.75,722.50,838.75,953.75,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
153588,H,1901,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Fresno CA,NaN,NaN,NaN,NaN,NaN,NaN,Fresno,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan

# Part B2. Add count dummies for each unit based on income and unit type

In [18]:
# create filter masks for each affordability and unit type
ELI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['own_monthly_cost']<=units_df["ELI_studio"])
ELI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['own_monthly_cost']<=units_df["ELI_1_br"])
ELI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['own_monthly_cost']<=units_df["ELI_2_br"])
ELI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['own_monthly_cost']<=units_df["ELI_3_br"])
ELI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['own_monthly_cost']<=units_df["ELI_4_br"])
VLI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['own_monthly_cost']<=units_df["VLI_studio"])
VLI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['own_monthly_cost']<=units_df["VLI_1_br"])
VLI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['own_monthly_cost']<=units_df["VLI_2_br"])
VLI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['own_monthly_cost']<=units_df["VLI_3_br"])
VLI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['own_monthly_cost']<=units_df["VLI_4_br"])
LI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['own_monthly_cost']<=units_df["LI_studio"])
LI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['own_monthly_cost']<=units_df["LI_1_br"])
LI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['own_monthly_cost']<=units_df["LI_2_br"])
LI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['own_monthly_cost']<=units_df["LI_3_br"])
LI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['own_monthly_cost']<=units_df["LI_4_br"])
MI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['own_monthly_cost']<=units_df["MI_studio"])
MI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['own_monthly_cost']<=units_df["MI_1_br"])
MI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['own_monthly_cost']<=units_df["MI_2_br"])
MI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['own_monthly_cost']<=units_df["MI_3_br"])
MI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['own_monthly_cost']<=units_df["MI_4_br"])
MoI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['own_monthly_cost']<=units_df["MoI_studio"])
MoI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['own_monthly_cost']<=units_df["MoI_1_br"])
MoI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['own_monthly_cost']<=units_df["MoI_2_br"])
MoI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['own_monthly_cost']<=units_df["MoI_3_br"])
MoI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['own_monthly_cost']<=units_df["MoI_4_br"])
HI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['own_monthly_cost']>=units_df["MoI_studio"])
HI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['own_monthly_cost']>=units_df["MoI_1_br"])
HI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['own_monthly_cost']>=units_df["MoI_2_br"])
HI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['own_monthly_cost']>=units_df["MoI_3_br"])
HI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['own_monthly_cost']>=units_df["MoI_4_br"])

# apply filter masks to create dummy variables
units_df['own_ELI_studio_count']=np.where(ELI_studio_mask,1,0)
units_df['own_ELI_1_br_count']=np.where(ELI_1_br_mask,1,0)
units_df['own_ELI_2_br_count']=np.where(ELI_2_br_mask,1,0)
units_df['own_ELI_3_br_count']=np.where(ELI_3_br_mask,1,0)
units_df['own_ELI_4_br_count']=np.where(ELI_4_br_mask,1,0)
units_df['own_VLI_studio_count']=np.where(VLI_studio_mask,1,0)
units_df['own_VLI_1_br_count']=np.where(VLI_1_br_mask,1,0)
units_df['own_VLI_2_br_count']=np.where(VLI_2_br_mask,1,0)
units_df['own_VLI_3_br_count']=np.where(VLI_3_br_mask,1,0)
units_df['own_VLI_4_br_count']=np.where(VLI_4_br_mask,1,0)
units_df['own_LI_studio_count']=np.where(LI_studio_mask,1,0)
units_df['own_LI_1_br_count']=np.where(LI_1_br_mask,1,0)
units_df['own_LI_2_br_count']=np.where(LI_2_br_mask,1,0)
units_df['own_LI_3_br_count']=np.where(LI_3_br_mask,1,0)
units_df['own_LI_4_br_count']=np.where(LI_4_br_mask,1,0)
units_df['own_MI_studio_count']=np.where(MI_studio_mask,1,0)
units_df['own_MI_1_br_count']=np.where(MI_1_br_mask,1,0)
units_df['own_MI_2_br_count']=np.where(MI_2_br_mask,1,0)
units_df['own_MI_3_br_count']=np.where(MI_3_br_mask,1,0)
units_df['own_MI_4_br_count']=np.where(MI_4_br_mask,1,0)
units_df['own_MoI_studio_count']=np.where(MoI_studio_mask,1,0)
units_df['own_MoI_1_br_count']=np.where(MoI_1_br_mask,1,0)
units_df['own_MoI_2_br_count']=np.where(MoI_2_br_mask,1,0)
units_df['own_MoI_3_br_count']=np.where(MoI_3_br_mask,1,0)
units_df['own_MoI_4_br_count']=np.where(MoI_4_br_mask,1,0)
units_df['own_HI_studio_count']=np.where(HI_studio_mask,1,0)
units_df['own_HI_1_br_count']=np.where(HI_1_br_mask,1,0)
units_df['own_HI_2_br_count']=np.where(HI_2_br_mask,1,0)
units_df['own_HI_3_br_count']=np.where(HI_3_br_mask,1,0)
units_df['own_HI_4_br_count']=np.where(HI_4_br_mask,1,0)
units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,...,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_monthly_cost,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count
0,H,7301,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,San Diego CA,NaN,NaN,NaN,NaN,NaN,NaN,San Diego,433.75,496.25,620.00,718.75,818.75,722.50,826.25,1032.50,1197.50,1362.50,1156.25,1322.50,1652.50,1917.50,2181.25,1328.75,1517.50,1897.50,2201.25,2505.00,1593.75,1822.50,2277.50,2642.50,3006.25,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,H,3702,38.00,3.00,2.00,nan,3500.00,nan,nan,1.00,nan,600000.00,nan,nan,464800.00,6.00,64.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,742.50,845.00,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,H,8503,78.00,2.00,6.00,430.00,1800.00,nan,460.00,1.00,nan,370000.00,nan,nan,16000.00,2.00,52.00,Santa Clara CA,NaN,NaN,NaN,NaN,NaN,NaN,Santa Clara,557.50,637.50,796.25,923.75,1051.25,928.75,1061.25,1326.25,1538.75,1751.25,1485.00,1697.50,2122.50,2461.25,2801.25,1846.25,2110.00,2637.50,3060.00,3481.25,2215.00,2532.50,3165.00,3671.25,4177.50,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2694.33,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,H,300,233.00,1.00,5.00,nan,nan,680.00,nan,3.00,nan,nan,780.00,19.00,50000.00,3.00,nan,Alpine CA,Amador,Calaveras,Inyo,Mariposa,Mono,Tuolumne,Alpine,408.75,467.50,583.75,677.50,771.25,681.25,778.75,972.50,1128.75,1283.75,1090.00,1245.00,1556.25,1806.25,2055.00,1492.50,1706.25,2132.50,2473.75,2815.00,1791.25,2047.50,2558.75,2968.75,3377.50,...,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,H,7901,446.00,2.00,1.00,nan,nan,nan,nan,nan,3.00,140000.00,nan,nan,nan,nan,nan,San Luis Obispo CA,NaN,NaN,NaN,NaN,NaN,NaN,San Luis Obispo,396.25,452.50,565.00,656.25,746.25,660.00,755.00,942.50,1093.75,1245.00,1056.25,1206.25,1507.50,1748.75,1990.00,1320.00,1507.50,1885.00,2186.25,2488.75,1583.75,1810.00,2262.50,2625.00,2986.25,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153584,H,3725,154.00,2.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1210.00,101.00,6000.00,5.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,742.50,845.00,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
153585,H,7102,67.00,4.00,2.00,nan,1600.00,nan,600.00,1.00,nan,122000.00,nan,nan,22200.00,4.00,29.00,San Bernardino CA,NaN,NaN,NaN,NaN,NaN,NaN,San Bernardino,352.50,402.50,502.50,583.75,663.75,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
153586,H,10701,104.00,3.00,2.00,nan,nan,580.00,nan,3.00,nan,nan,640.00,10.00,74500.00,5.00,nan,Tulare CA,NaN,NaN,NaN,NaN,NaN,NaN,Tulare,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,...,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
153587,H,5903,357.00,4.00,2.00,nan,nan,nan,nan,nan,5.00,nan,nan,nan,nan,nan,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange,506.25,578.75,722.50,838.75,953.75,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
153588,H,1901,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Fresno CA,NaN,NaN,NaN,NaN,NaN,NaN,Fresno,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# Part C1. Multiply each dummy by the the household weight variable

In [19]:
units_df.rent_ELI_studio_count=units_df.rent_ELI_studio_count*units_df.weight
units_df.rent_ELI_1_br_count=units_df.rent_ELI_1_br_count*units_df.weight
units_df.rent_ELI_2_br_count=units_df.rent_ELI_2_br_count*units_df.weight
units_df.rent_ELI_3_br_count=units_df.rent_ELI_3_br_count*units_df.weight
units_df.rent_ELI_4_br_count=units_df.rent_ELI_4_br_count*units_df.weight
units_df.rent_VLI_studio_count=units_df.rent_VLI_studio_count*units_df.weight
units_df.rent_VLI_1_br_count=units_df.rent_VLI_1_br_count*units_df.weight
units_df.rent_VLI_2_br_count=units_df.rent_VLI_2_br_count*units_df.weight
units_df.rent_VLI_3_br_count=units_df.rent_VLI_3_br_count*units_df.weight
units_df.rent_VLI_4_br_count=units_df.rent_VLI_4_br_count*units_df.weight
units_df.rent_LI_studio_count=units_df.rent_LI_studio_count*units_df.weight
units_df.rent_LI_1_br_count=units_df.rent_LI_1_br_count*units_df.weight
units_df.rent_LI_2_br_count=units_df.rent_LI_2_br_count*units_df.weight
units_df.rent_LI_3_br_count=units_df.rent_LI_3_br_count*units_df.weight
units_df.rent_LI_4_br_count=units_df.rent_LI_4_br_count*units_df.weight
units_df.rent_MI_studio_count=units_df.rent_MI_studio_count*units_df.weight
units_df.rent_MI_1_br_count=units_df.rent_MI_1_br_count*units_df.weight
units_df.rent_MI_2_br_count=units_df.rent_MI_2_br_count*units_df.weight
units_df.rent_MI_3_br_count=units_df.rent_MI_3_br_count*units_df.weight
units_df.rent_MI_4_br_count=units_df.rent_MI_4_br_count*units_df.weight
units_df.rent_MoI_studio_count=units_df.rent_MoI_studio_count*units_df.weight
units_df.rent_MoI_1_br_count=units_df.rent_MoI_1_br_count*units_df.weight
units_df.rent_MoI_2_br_count=units_df.rent_MoI_2_br_count*units_df.weight
units_df.rent_MoI_3_br_count=units_df.rent_MoI_3_br_count*units_df.weight
units_df.rent_MoI_4_br_count=units_df.rent_MoI_4_br_count*units_df.weight
units_df.rent_HI_studio_count=units_df.rent_HI_studio_count*units_df.weight
units_df.rent_HI_1_br_count=units_df.rent_HI_1_br_count*units_df.weight
units_df.rent_HI_2_br_count=units_df.rent_HI_2_br_count*units_df.weight
units_df.rent_HI_3_br_count=units_df.rent_HI_3_br_count*units_df.weight
units_df.rent_HI_4_br_count=units_df.rent_HI_4_br_count*units_df.weight
units_df.own_ELI_studio_count=units_df.own_ELI_studio_count*units_df.weight
units_df.own_ELI_1_br_count=units_df.own_ELI_1_br_count*units_df.weight
units_df.own_ELI_2_br_count=units_df.own_ELI_2_br_count*units_df.weight
units_df.own_ELI_3_br_count=units_df.own_ELI_3_br_count*units_df.weight
units_df.own_ELI_4_br_count=units_df.own_ELI_4_br_count*units_df.weight
units_df.own_VLI_studio_count=units_df.own_VLI_studio_count*units_df.weight
units_df.own_VLI_1_br_count=units_df.own_VLI_1_br_count*units_df.weight
units_df.own_VLI_2_br_count=units_df.own_VLI_2_br_count*units_df.weight
units_df.own_VLI_3_br_count=units_df.own_VLI_3_br_count*units_df.weight
units_df.own_VLI_4_br_count=units_df.own_VLI_4_br_count*units_df.weight
units_df.own_LI_studio_count=units_df.own_LI_studio_count*units_df.weight
units_df.own_LI_1_br_count=units_df.own_LI_1_br_count*units_df.weight
units_df.own_LI_2_br_count=units_df.own_LI_2_br_count*units_df.weight
units_df.own_LI_3_br_count=units_df.own_LI_3_br_count*units_df.weight
units_df.own_LI_4_br_count=units_df.own_LI_4_br_count*units_df.weight
units_df.own_MI_studio_count=units_df.own_MI_studio_count*units_df.weight
units_df.own_MI_1_br_count=units_df.own_MI_1_br_count*units_df.weight
units_df.own_MI_2_br_count=units_df.own_MI_2_br_count*units_df.weight
units_df.own_MI_3_br_count=units_df.own_MI_3_br_count*units_df.weight
units_df.own_MI_4_br_count=units_df.own_MI_4_br_count*units_df.weight
units_df.own_MoI_studio_count=units_df.own_MoI_studio_count*units_df.weight
units_df.own_MoI_1_br_count=units_df.own_MoI_1_br_count*units_df.weight
units_df.own_MoI_2_br_count=units_df.own_MoI_2_br_count*units_df.weight
units_df.own_MoI_3_br_count=units_df.own_MoI_3_br_count*units_df.weight
units_df.own_MoI_4_br_count=units_df.own_MoI_4_br_count*units_df.weight
units_df.own_HI_studio_count=units_df.own_HI_studio_count*units_df.weight
units_df.own_HI_1_br_count=units_df.own_HI_1_br_count*units_df.weight
units_df.own_HI_2_br_count=units_df.own_HI_2_br_count*units_df.weight
units_df.own_HI_3_br_count=units_df.own_HI_3_br_count*units_df.weight
units_df.own_HI_4_br_count=units_df.own_HI_4_br_count*units_df.weight
units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,...,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_monthly_cost,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count
0,H,7301,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,San Diego CA,NaN,NaN,NaN,NaN,NaN,NaN,San Diego,433.75,496.25,620.00,718.75,818.75,722.50,826.25,1032.50,1197.50,1362.50,1156.25,1322.50,1652.50,1917.50,2181.25,1328.75,1517.50,1897.50,2201.25,2505.00,1593.75,1822.50,2277.50,2642.50,3006.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,H,3702,38.00,3.00,2.00,nan,3500.00,nan,nan,1.00,nan,600000.00,nan,nan,464800.00,6.00,64.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,742.50,845.00,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,H,8503,78.00,2.00,6.00,430.00,1800.00,nan,460.00,1.00,nan,370000.00,nan,nan,16000.00,2.00,52.00,Santa Clara CA,NaN,NaN,NaN,NaN,NaN,NaN,Santa Clara,557.50,637.50,796.25,923.75,1051.25,928.75,1061.25,1326.25,1538.75,1751.25,1485.00,1697.50,2122.50,2461.25,2801.25,1846.25,2110.00,2637.50,3060.00,3481.25,2215.00,2532.50,3165.00,3671.25,4177.50,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2694.33,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,78.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,H,300,233.00,1.00,5.00,nan,nan,680.00,nan,3.00,nan,nan,780.00,19.00,50000.00,3.00,nan,Alpine CA,Amador,Calaveras,Inyo,Mariposa,Mono,Tuolumne,Alpine,408.75,467.50,583.75,677.50,771.25,681.25,778.75,972.50,1128.75,1283.75,1090.00,1245.00,1556.25,1806.25,2055.00,1492.50,1706.25,2132.50,2473.75,2815.00,1791.25,2047.50,2558.75,2968.75,3377.50,...,233.00,0.00,0.00,0.00,0.00,233.00,0.00,0.00,0.00,0.00,233.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,H,7901,446.00,2.00,1.00,nan,nan,nan,nan,nan,3.00,140000.00,nan,nan,nan,nan,nan,San Luis Obispo CA,NaN,NaN,NaN,NaN,NaN,NaN,San Luis Obispo,396.25,452.50,565.00,656.25,746.25,660.00,755.00,942.50,1093.75,1245.00,1056.25,1206.25,1507.50,1748.75,1990.00,1320.00,1507.50,1885.00,2186.25,2488.75,1583.75,1810.00,2262.50,2625.00,2986.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153584,H,3725,154.00,2.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1210.00,101.00,6000.00,5.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,742.50,845.00,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,154.00,0.00,0.00,0.00,0.00,154.00,0.00,0.00,0.00,0.00,154.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
153585,H,7102,67.00,4.00,2.00,nan,1600.00,nan,600.00,1.00,nan,122000.00,nan,nan,22200.00,4.00,29.00,San Bernardino CA,NaN,NaN,NaN,NaN,NaN,NaN,San Bernardino,352.50,402.50,502.50,583.75,663.75,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
153586,H,10701,104.00,3.00,2.00,nan,nan,580.00,nan,3.00,nan,nan,640.00,10.00,74500.00,5.00,nan,Tulare CA,NaN,NaN,NaN,NaN,NaN,NaN,Tulare,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,...,0.00,0.00,104.00,0.00,0.00,0.00,0.00,104.00,0.00,0.00,0.00,0.00,104.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
153587,H,5903,357.00,4.00,2.00,nan,nan,nan,nan,nan,5.00,nan,nan,nan,nan,nan,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange,506.25,578.75,722.50,838.75,953.75,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
153588,H,1901,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Fresno CA,NaN,NaN,NaN,NaN,NaN,NaN,Fresno,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [20]:
units_df[units_df.rent_HI_4_br_count>0]

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,...,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_monthly_cost,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count
51,H,5901,77.00,4.00,2.00,nan,nan,3600.00,nan,3.00,nan,nan,3743.00,18.00,250000.00,2.00,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange,506.25,578.75,722.50,838.75,953.75,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,77.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2421,H,3718,44.00,4.00,2.00,nan,nan,3600.00,nan,3.00,nan,nan,3850.00,9.00,521000.00,3.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,742.50,845.00,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,44.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3518,H,5301,36.00,4.00,2.00,nan,nan,2900.00,nan,3.00,nan,nan,2900.00,31.00,112400.00,1.00,nan,Monterey CA,NaN,NaN,NaN,NaN,NaN,NaN,Monterey,375.00,428.75,535.00,621.25,706.25,625.00,713.75,891.25,1035.00,1177.50,998.75,1141.25,1426.25,1655.00,1883.75,1202.50,1373.75,1717.50,1992.50,2267.50,1442.50,1648.75,2061.25,2391.25,2721.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,36.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5150,H,5901,104.00,4.00,2.00,nan,nan,3600.00,nan,3.00,nan,nan,3745.00,16.00,282000.00,1.00,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange,506.25,578.75,722.50,838.75,953.75,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,104.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5626,H,3726,195.00,4.00,2.00,nan,nan,3600.00,nan,3.00,nan,nan,4110.00,34.00,144000.00,4.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,742.50,845.00,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,195.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149082,H,2902,69.00,4.00,2.00,nan,nan,2300.00,nan,3.00,nan,nan,2433.00,27.00,109000.00,1.00,nan,Kern CA,NaN,NaN,NaN,NaN,NaN,NaN,Kern,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,69.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
150043,H,8302,115.00,4.00,5.00,nan,nan,3000.00,nan,3.00,nan,nan,3070.00,37.00,99700.00,2.00,nan,Santa Barbara CA,NaN,NaN,NaN,NaN,NaN,NaN,Santa Barbara,418.75,478.75,597.50,693.75,788.75,697.50,796.25,995.00,1155.00,1313.75,1115.00,1275.00,1592.50,1847.50,2102.50,1282.50,1466.25,1832.50,2126.25,2418.75,1538.75,1758.75,2198.75,2550.00,2902.50,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,115.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
151854,H,5914,203.00,4.00,2.00,nan,nan,3600.00,nan,3.00,nan,nan,3790.00,38.00,120000.00,2.00,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange,506.25,578.75,722.50,838.75,953.75,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,203.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
152033,H,5301,35.00,4.00,3.00,nan,nan,2900.00,nan,3.00,nan,nan,2994.00,29.00,126000.00,1.00,nan,Monterey CA,NaN,NaN,NaN,NaN,NaN,NaN,Monterey,375.00,428.75,535.00,621.25,706.25,625.00,713.75,891.25,1035.00,1177.50,998.75,1141.25,1426.25,1655.00,1883.75,1202.50,1373.75,1717.50,1992.50,2267.50,1442.50,1648.75,2061.25,2391.25,2721.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,35.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
153365,H,5904,121.00,4.00,2.00,nan,nan,3600.00,nan,3.00,nan,nan,3998.00,21.00,227200.00,3.00,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange,506.25,578.75,722.50,838.75,953.75,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,121.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

# Part D1. Add dummy variables for vacant "for-rent," vacant "for-sale," and recently moved in

In [21]:
# create dummy variables for vacant for rent, vacant for sale, rented in the last year, and sold in the last year
units_df["vacant_for_rent"]=np.where(units_df['vacancy_status']==1,1,0)
units_df["vacant_for_sale"]=np.where(units_df['vacancy_status']==3,1,0)
units_df["moved_last_year"]=np.where(units_df['moved_in']==1,1,0)
units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,...,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_monthly_cost,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count,vacant_for_rent,vacant_for_sale,moved_last_year
0,H,7301,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,San Diego CA,NaN,NaN,NaN,NaN,NaN,NaN,San Diego,433.75,496.25,620.00,718.75,818.75,722.50,826.25,1032.50,1197.50,1362.50,1156.25,1322.50,1652.50,1917.50,2181.25,1328.75,1517.50,1897.50,2201.25,2505.00,1593.75,1822.50,2277.50,2642.50,3006.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
1,H,3702,38.00,3.00,2.00,nan,3500.00,nan,nan,1.00,nan,600000.00,nan,nan,464800.00,6.00,64.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,742.50,845.00,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
2,H,8503,78.00,2.00,6.00,430.00,1800.00,nan,460.00,1.00,nan,370000.00,nan,nan,16000.00,2.00,52.00,Santa Clara CA,NaN,NaN,NaN,NaN,NaN,NaN,Santa Clara,557.50,637.50,796.25,923.75,1051.25,928.75,1061.25,1326.25,1538.75,1751.25,1485.00,1697.50,2122.50,2461.25,2801.25,1846.25,2110.00,2637.50,3060.00,3481.25,2215.00,2532.50,3165.00,3671.25,4177.50,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2694.33,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,78.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
3,H,300,233.00,1.00,5.00,nan,nan,680.00,nan,3.00,nan,nan,780.00,19.00,50000.00,3.00,nan,Alpine CA,Amador,Calaveras,Inyo,Mariposa,Mono,Tuolumne,Alpine,408.75,467.50,583.75,677.50,771.25,681.25,778.75,972.50,1128.75,1283.75,1090.00,1245.00,1556.25,1806.25,2055.00,1492.50,1706.25,2132.50,2473.75,2815.00,1791.25,2047.50,2558.75,2968.75,3377.50,...,0.00,0.00,233.00,0.00,0.00,0.00,0.00,233.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
4,H,7901,446.00,2.00,1.00,nan,nan,nan,nan,nan,3.00,140000.00,nan,nan,nan,nan,nan,San Luis Obispo CA,NaN,NaN,NaN,NaN,NaN,NaN,San Luis Obispo,396.25,452.50,565.00,656.25,746.25,660.00,755.00,942.50,1093.75,1245.00,1056.25,1206.25,1507.50,1748.75,1990.00,1320.00,1507.50,1885.00,2186.25,2488.75,1583.75,1810.00,2262.50,2625.00,2986.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153584,H,3725,154.00,2.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1210.00,101.00,6000.00,5.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,742.50,845.00,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,0.00,0.00,154.00,0.00,0.00,0.00,0.00,154.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
153585,H,7102,67.00,4.00,2.00,nan,1600.00,nan,600.00,1.00,nan,122000.00,nan,nan,22200.00,4.00,29.00,San Bernardino CA,NaN,NaN,NaN,NaN,NaN,NaN,San Bernardino,352.50,402.50,502.50,583.75,663.75,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
153586,H,10701,104.00,3.00,2.00,nan,nan,580.00,nan,3.00,nan,nan,640.00,10.00,74500.00,5.00,nan,Tulare CA,NaN,NaN,NaN,NaN,NaN,NaN,Tulare,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,...,0.00,0.00,0.00,0.00,104.00,0.00,0.00,0.00,0.00,104.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
153587,H,5903,357.00,4.00,2.00,nan,nan,nan,nan,nan,5.00,nan,nan,nan,nan,nan,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange,506.25,578.75,722.50,838.75,953.75,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
153588,H,1901,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Fresno CA,NaN,NaN,NaN,NaN,NaN,NaN,Fresno,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0

In [22]:
#filter for only currently listed or recently moved into units
recent_mask = (units_df.vacant_for_rent==1)|(units_df.vacant_for_sale==1)|(units_df.moved_last_year==1)
recent_units_df = units_df[recent_mask]
recent_units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,...,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_monthly_cost,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count,vacant_for_rent,vacant_for_sale,moved_last_year
4,H,7901,446.00,2.00,1.00,nan,nan,nan,nan,nan,3.00,140000.00,nan,nan,nan,nan,nan,San Luis Obispo CA,NaN,NaN,NaN,NaN,NaN,NaN,San Luis Obispo,396.25,452.50,565.00,656.25,746.25,660.00,755.00,942.50,1093.75,1245.00,1056.25,1206.25,1507.50,1748.75,1990.00,1320.00,1507.50,1885.00,2186.25,2488.75,1583.75,1810.00,2262.50,2625.00,2986.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,1,0
11,H,1904,78.00,2.00,9.00,nan,nan,570.00,nan,3.00,nan,nan,650.00,89.00,8810.00,1.00,nan,Fresno CA,NaN,NaN,NaN,NaN,NaN,NaN,Fresno,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,...,0.00,0.00,0.00,78.00,0.00,0.00,0.00,0.00,78.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
22,H,6103,37.00,3.00,2.00,nan,nan,1200.00,nan,3.00,nan,nan,1527.00,46.00,40000.00,1.00,nan,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN,Placer,400.00,457.50,571.25,663.75,755.00,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50,...,0.00,0.00,0.00,0.00,37.00,0.00,0.00,0.00,0.00,37.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
24,H,7302,64.00,3.00,2.00,nan,nan,1700.00,nan,3.00,nan,nan,1790.00,26.00,82600.00,1.00,nan,San Diego CA,NaN,NaN,NaN,NaN,NaN,NaN,San Diego,433.75,496.25,620.00,718.75,818.75,722.50,826.25,1032.50,1197.50,1362.50,1156.25,1322.50,1652.50,1917.50,2181.25,1328.75,1517.50,1897.50,2201.25,2505.00,1593.75,1822.50,2277.50,2642.50,3006.25,...,0.00,0.00,0.00,0.00,64.00,0.00,0.00,0.00,0.00,64.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
30,H,1904,49.00,5.00,3.00,nan,2500.00,nan,nan,1.00,nan,400000.00,nan,nan,333000.00,1.00,23.00,Fresno CA,NaN,NaN,NaN,NaN,NaN,NaN,Fresno,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153548,H,1302,82.00,2.00,2.00,nan,nan,nan,nan,2.00,nan,700000.00,nan,nan,187000.00,1.00,68.00,Contra Costa CA,NaN,NaN,NaN,NaN,NaN,NaN,Contra Costa,491.25,561.25,701.25,813.75,926.25,818.75,935.00,1168.75,1356.25,1543.75,1158.75,1325.00,1656.25,1921.25,2186.25,1636.25,1870.00,2337.50,2711.25,3085.00,1963.75,2243.75,2805.00,3253.75,3702.50,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
153553,H,11103,59.00,3.00,2.00,nan,1000.00,nan,nan,1.00,nan,340000.00,nan,nan,41600.00,1.00,50.00,Ventura CA,NaN,NaN,NaN,NaN,NaN,NaN,Ventura,470.00,536.25,670.00,777.50,885.00,782.50,893.75,1116.25,1295.00,1473.75,1246.25,1425.00,1780.00,2065.00,2350.00,1562.50,1786.25,2232.50,2590.00,2947.50,1875.00,2142.50,2678.75,3107.50,3536.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
153555,H,6503,93.00,4.00,2.00,nan,nan,2000.00,nan,3.00,nan,nan,2134.00,13.00,204000.00,1.00,nan,Riverside CA,NaN,NaN,NaN,NaN,NaN,NaN,Riverside,352.50,402.50,502.50,583.75,663.75,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75,...,0.00,0.00,0.00,0.00,0.00,93.00,0.00,0.00,0.00,0.00,93.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
153559,H,3765,51.00,2.00,9.00,nan,nan,1600.00,nan,3.00,nan,nan,1677.00,26.00,78000.00,1.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,742.50,845.00,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,0.00,0.00,51.00,0.00,0.00,0.00,0.00,51.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
153564,H,6707,119.00,1.00,6.00,nan,nan,800.00,nan,3.00,nan,nan,820.00,22.00,45000.00,1.00,nan,Sacramento CA,NaN,NaN,NaN,NaN,NaN,NaN,Sacramento,400.00,457.50,571.25,663.75,755.00,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50,...,0.00,0.00,119.00,0.00,0.00,0.00,0.00,119.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1

# Part D2. Aggregating at the PUMA level

In [23]:
# for all units
puma_sums_df = units_df.groupby("PUMA").sum()
puma_counts_df = puma_sums_df[["rent_ELI_studio_count","rent_ELI_1_br_count",
    "rent_ELI_2_br_count",
    "rent_ELI_3_br_count",
    "rent_ELI_4_br_count",
    "rent_VLI_studio_count",
    "rent_VLI_1_br_count",
    "rent_VLI_2_br_count",
    "rent_VLI_3_br_count",
    "rent_VLI_4_br_count",
    "rent_LI_studio_count",
    "rent_LI_1_br_count",
    "rent_LI_2_br_count",
    "rent_LI_3_br_count",
    "rent_LI_4_br_count",
    "rent_MI_studio_count",
    "rent_MI_1_br_count",
    "rent_MI_2_br_count",
    "rent_MI_3_br_count",
    "rent_MI_4_br_count",
    "rent_MoI_studio_count",
    "rent_MoI_1_br_count",
    "rent_MoI_2_br_count",
    "rent_MoI_3_br_count",
    "rent_MoI_4_br_count",
    "rent_HI_studio_count",
    "rent_HI_1_br_count",
    "rent_HI_2_br_count",
    "rent_HI_3_br_count",
    "rent_HI_4_br_count",
    "own_ELI_studio_count",
    "own_ELI_1_br_count",
    "own_ELI_2_br_count",
    "own_ELI_3_br_count",
    "own_ELI_4_br_count",
    "own_VLI_studio_count",
    "own_VLI_1_br_count",
    "own_VLI_2_br_count",
    "own_VLI_3_br_count",
    "own_VLI_4_br_count",
    "own_LI_studio_count",
    "own_LI_1_br_count",
    "own_LI_2_br_count",
    "own_LI_3_br_count",
    "own_LI_4_br_count",
    "own_MI_studio_count",
    "own_MI_1_br_count",
    "own_MI_2_br_count",
    "own_MI_3_br_count",
    "own_MI_4_br_count",
    "own_MoI_studio_count",
    "own_MoI_1_br_count",
    "own_MoI_2_br_count",
    "own_MoI_3_br_count",
    "own_MoI_4_br_count",
    "own_HI_studio_count",
    "own_HI_1_br_count",
    "own_HI_2_br_count",
    "own_HI_3_br_count",
    "own_HI_4_br_count"]].copy()
puma_counts_df

,rent_ELI_studio_count,rent_ELI_1_br_count,rent_ELI_2_br_count,rent_ELI_3_br_count,rent_ELI_4_br_count,rent_VLI_studio_count,rent_VLI_1_br_count,rent_VLI_2_br_count,rent_VLI_3_br_count,rent_VLI_4_br_count,rent_LI_studio_count,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count
PUMA,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
101,628.00,1630.00,966.00,50.00,0.00,1185.00,4316.00,2456.00,452.00,0.00,2240.00,8795.00,5931.00,945.00,69.00,2912.00,12934.00,9401.00,1848.00,289.00,3138.00,14434.00,9729.00,2356.00,495.00,0.00,280.00,561.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,158.00,44.00,0.00,0.00,0.00,158.00,44.00,0.00,0.00,0.00,0.00,0.00,0.00
102,1784.00,3861.00,3002.00,2209.00,251.00,4710.00,11584.00,8652.00,3385.00,884.00,6363.00,19095.00,13589.00,5529.00,1029.00,7017.00,21549.00,16013.00,5861.00,1133.00,7377.00,22292.00,17090.00,5861.00,1133.00,268.00,247.00,395.00,249.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,113.00,0.00,0.00,0.00,214.00,113.00,0.00,0.00,0.00,282.00,113.00,0.00,0.00,58.00,65.00,0.00,50.00,0.00
103,596.00,593.00,462.00,534.00,79.00,1680.00,1780.00,1944.00,625.00,111.00,2229.00,5389.00,4513.00,1189.00,592.00,2517.00,7568.00,5917.00,1646.00,1049.00,2517.00,7568.00,6084.00,2165.00,1253.00,0.00,0.00,55.00,231.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,59.00,0.00,0.00,0.00,0.00,59.00,0.00,0.00,0.00,0.00,59.00,137.00,61.00,0.00,0.00,0.00,65.00,204.00,87.00,0.00
104,187.00,360.00,1590.00,1113.00,132.00,894.00,3354.00,7773.00,3363.00,810.00,894.00,4617.00,10866.00,5573.00,1452.00,894.00,4653.00,10961.00,5573.00,1668.00,894.00,4653.00,10961.00,5573.00,1668.00,0.00,67.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
105,549.00,1503.00,774.00,618.00,42.00,1244.00,4222.00,4760.00,1305.00,109.00,1738.00,9521.00,11372.00,2864.00,220.00,2374.00,10161.00,13495.00,4497.00,699.00,2374.00,10161.00,13559.00,4607.00,870.00,126.00,177.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,72.00,0.00,0.00,0.00,0.00,72.00,72.00,110.00,0.00,0.00,72.00,72.00,110.00,0.00,0.00,0.00,72.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11103,225.00,1558.00,33.00,689.00,38.00,679.00,2581.00,2855.00,1318.00,510.00,1155.00,4291.00,8818.00,5140.00,2356.00,1155.00,4483.00,9676.00,5504.00,2651.00,1155.00,4483.00,9799.00,5580.00,2651.00,0.00,0.00,0.00,0.00,135.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,35.00,28.00,0.00,0.00,0.00,35.00,28.00,0.00,0.00,0.00,35.00,28.00,0.00,0.00,0.00,49.00,0.00,0.00
11104,711.00,1188.00,638.00,572.00,141.00,1085.00,1879.00,1856.00,1067.00,171.00,1213.00,6473.00,5778.00,3232.00,1193.00,1213.00,6853.00,6156.00,4144.00,1533.00,1272.00,7244.00,6516.00,4144.00,1719.00,665.00,377.00,85.00,139.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,133.00,80.00,0.00,0.00,0.00,133.00,248.00,0.00,0.00,0.00,266.00,248.00,0.00,0.00,0.00,266.00,248.00,0.00,0.00,0.00,0.00,0.00,0.00
11105,44.00,369.00,324.00,810.00,164.00,163.00,628.00,1985.00,1134.00,164.00,475.00,975.00,3804.00,3822.00,1442.00,475.00,1210.00,3948.00,3929.00,1605.00,475.00,1210.00,3948.00,3929.00,1605.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,64.00,39.00,0.00,0.00,109.00,64.00,131.00,0.00,0.00,109.00,64.00,131.00,0.00,0.00,0.00,0.00,0.00,0.00
11106,0.00,187.00,245.00,148.00,0.00,0.00,417.00,572.00,264.00,76.00,0.00,1269.00,3683.00,2523.00,1458.00,300.00,1662.00,4229.00,3411.00,1514.00,300.00,1859.00,4367.00,3580.00,1548.00,0.00,0.00,145.00,121.00,0.00,0.00,0.00,0.00,107.00,0.00,0.00,0.00,0.00,107.00,0.00,0.00,0.00,0.00,139.00,0.00,0.00,0.00,332.00,139.00,0.00,0.00,0.00,332.00,139.00,0.00,0.00,0.00,64.00,0.00,39.00
11300,108.00,927.00,577.00,998.00,188.00,817.00,5435.00,6301.00,3980.00,742.00,1070.00,8118.00,13188.00,7795.00,1200.00,1070.00,8235.00,13552.00,8642.00,1504.00,1070.00,8267.00,13908.00,8642.00,1504.00,246.00,178.00,0.00,345.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [24]:
#export it
puma_counts_df.to_csv("weighted_puma_counts.csv")

In [25]:
# for recent units
recent_puma_sums_df = recent_units_df.groupby("PUMA").sum()
recent_puma_counts_df = recent_puma_sums_df[["rent_ELI_studio_count","rent_ELI_1_br_count",
    "rent_ELI_2_br_count",
    "rent_ELI_3_br_count",
    "rent_ELI_4_br_count",
    "rent_VLI_studio_count",
    "rent_VLI_1_br_count",
    "rent_VLI_2_br_count",
    "rent_VLI_3_br_count",
    "rent_VLI_4_br_count",
    "rent_LI_studio_count",
    "rent_LI_1_br_count",
    "rent_LI_2_br_count",
    "rent_LI_3_br_count",
    "rent_LI_4_br_count",
    "rent_MI_studio_count",
    "rent_MI_1_br_count",
    "rent_MI_2_br_count",
    "rent_MI_3_br_count",
    "rent_MI_4_br_count",
    "rent_MoI_studio_count",
    "rent_MoI_1_br_count",
    "rent_MoI_2_br_count",
    "rent_MoI_3_br_count",
    "rent_MoI_4_br_count",
    "rent_HI_studio_count",
    "rent_HI_1_br_count",
    "rent_HI_2_br_count",
    "rent_HI_3_br_count",
    "rent_HI_4_br_count",
    "own_ELI_studio_count",
    "own_ELI_1_br_count",
    "own_ELI_2_br_count",
    "own_ELI_3_br_count",
    "own_ELI_4_br_count",
    "own_VLI_studio_count",
    "own_VLI_1_br_count",
    "own_VLI_2_br_count",
    "own_VLI_3_br_count",
    "own_VLI_4_br_count",
    "own_LI_studio_count",
    "own_LI_1_br_count",
    "own_LI_2_br_count",
    "own_LI_3_br_count",
    "own_LI_4_br_count",
    "own_MI_studio_count",
    "own_MI_1_br_count",
    "own_MI_2_br_count",
    "own_MI_3_br_count",
    "own_MI_4_br_count",
    "own_MoI_studio_count",
    "own_MoI_1_br_count",
    "own_MoI_2_br_count",
    "own_MoI_3_br_count",
    "own_MoI_4_br_count",
    "own_HI_studio_count",
    "own_HI_1_br_count",
    "own_HI_2_br_count",
    "own_HI_3_br_count",
    "own_HI_4_br_count"]].copy()
recent_puma_counts_df

,rent_ELI_studio_count,rent_ELI_1_br_count,rent_ELI_2_br_count,rent_ELI_3_br_count,rent_ELI_4_br_count,rent_VLI_studio_count,rent_VLI_1_br_count,rent_VLI_2_br_count,rent_VLI_3_br_count,rent_VLI_4_br_count,rent_LI_studio_count,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count
PUMA,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
101,0.00,255.00,94.00,0.00,0.00,261.00,337.00,559.00,0.00,0.00,943.00,1763.00,1916.00,114.00,0.00,1368.00,4206.00,3832.00,658.00,220.00,1368.00,5457.00,3971.00,721.00,361.00,0.00,196.00,87.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
102,861.00,626.00,853.00,724.00,51.00,1863.00,1920.00,1653.00,919.00,191.00,2320.00,4679.00,2825.00,2027.00,191.00,2624.00,5309.00,4109.00,2148.00,191.00,2624.00,5653.00,4713.00,2148.00,191.00,0.00,123.00,206.00,186.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
103,0.00,0.00,221.00,162.00,79.00,0.00,66.00,340.00,253.00,79.00,217.00,753.00,1430.00,358.00,254.00,217.00,1878.00,1828.00,621.00,457.00,217.00,1878.00,1928.00,1140.00,603.00,0.00,0.00,0.00,142.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
104,107.00,54.00,132.00,178.00,132.00,408.00,528.00,1909.00,719.00,456.00,408.00,977.00,2909.00,1127.00,589.00,408.00,1013.00,3004.00,1127.00,589.00,408.00,1013.00,3004.00,1127.00,589.00,0.00,67.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
105,288.00,447.00,0.00,131.00,0.00,645.00,549.00,442.00,131.00,0.00,747.00,1985.00,2190.00,498.00,0.00,1076.00,2258.00,3058.00,689.00,0.00,1076.00,2258.00,3122.00,689.00,71.00,126.00,117.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11103,0.00,0.00,0.00,108.00,0.00,0.00,180.00,0.00,182.00,292.00,110.00,1037.00,1647.00,1155.00,737.00,110.00,1229.00,1893.00,1309.00,737.00,110.00,1229.00,2016.00,1385.00,737.00,0.00,0.00,0.00,0.00,135.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11104,203.00,0.00,104.00,0.00,0.00,356.00,367.00,574.00,0.00,0.00,416.00,2184.00,2022.00,784.00,177.00,416.00,2437.00,2243.00,1112.00,177.00,416.00,2719.00,2388.00,1112.00,177.00,584.00,232.00,0.00,139.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11105,0.00,0.00,68.00,68.00,0.00,119.00,141.00,448.00,154.00,0.00,293.00,228.00,1106.00,1253.00,502.00,293.00,331.00,1250.00,1253.00,665.00,293.00,331.00,1250.00,1253.00,665.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11106,0.00,0.00,0.00,44.00,0.00,0.00,0.00,44.00,44.00,0.00,0.00,0.00,830.00,624.00,512.00,257.00,230.00,1302.00,1043.00,568.00,257.00,230.00,1302.00,1212.00,602.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11300,0.00,100.00,0.00,110.00,111.00,528.00,2975.00,3037.00,504.00,176.00,781.00,4172.00,5604.00,2531.00,320.00,781.00,4172.00,5653.00,3065.00,411.00,781.00,4204.00,5792.00,3065.00,411.00,0.00,102.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [26]:
#export it
recent_puma_counts_df.to_csv("weighted_recent_puma_counts.csv")