In [1]:
import numpy as np
import pandas as pd
import math
pd.set_option('display.max_columns', 100)
pd.options.display.float_format = '{:.2f}'.format

# Outline

###  Part A. Affordable  Rentals
 1. Bring in 2015 PUMS data
 2. Assign county_id to each puma
 3. Bring in and clean, reformat county AMIs data
 4. Add variables for cost limits for ELI, VLI, LI, MI, and HI by bedroom count for each county
 5. Add count dummies for each unit based on income and unit type
 

###  Part B. Affordable Owning
 1. Calculate total monthly housing cost by adding monthly first mortgage, second/junior mortgage, and condo fees
 2. Add count dummies for each unit based on income and unit type

### Part C. Weighting Sample to get estimates
 1. Multiply each dummy by the the household weight variable
 2. Calculte standard errors for each estimate
 
### Part D. Aggregating at PUMA Level
 1. Add dummy variables for vacant "for-rent," vacant "for-sale," and recently moved in and create second dataset
 2. Aggregate at PUMA level for each dataset and export

## Part A1. Bring in 2015 PUMS data

In [2]:
variable_types = {"BDSP":"float","RMSP":"str","MV":"float","WGTP":"float","TAXP":"float"}
columns = ["PUMA","RT","BDSP","BLD","RNTP","MRGP","SMP","CONP","TEN","TAXP","VACS","VALP","GRPIP","GRNTP","HINCP","MV","WGTP"]
pums_df=pd.read_csv("2015_pums.csv", delimiter=",",usecols=columns,dtype=variable_types)
pums_df

,RT,PUMA,WGTP,BDSP,BLD,CONP,MRGP,RNTP,SMP,TEN,VACS,VALP,GRNTP,GRPIP,HINCP,MV,TAXP
0,H,5906,100.00,1.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1120.00,26.00,52000.00,2.00,nan
1,H,8105,66.00,3.00,2.00,0.00,6200.00,nan,nan,1.00,nan,1800000.00,nan,nan,232000.00,1.00,68.00
2,H,3727,65.00,3.00,3.00,0.00,2700.00,nan,nan,1.00,nan,1200000.00,nan,nan,108800.00,4.00,68.00
3,H,6101,98.00,3.00,2.00,0.00,700.00,nan,nan,1.00,nan,375000.00,nan,nan,65000.00,4.00,57.00
4,H,3738,203.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,29000.00,6.00,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155213,H,6505,65.00,3.00,2.00,240.00,nan,nan,nan,2.00,nan,330000.00,nan,nan,62600.00,6.00,68.00
155214,H,8303,67.00,4.00,2.00,0.00,2300.00,nan,nan,1.00,nan,950000.00,nan,nan,35500.00,3.00,65.00
155215,H,3717,61.00,2.00,7.00,nan,nan,1400.00,nan,3.00,nan,nan,1450.00,101.00,4500.00,1.00,nan
155216,H,2904,61.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,42700.00,5.00,6.00
155217,H,6103,69.00,3.00,2.00,nan,nan,2000.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan

In [3]:
pums_df.rename(columns={"RT":"record_type","BDSP":"number_bedrooms",
    "BLD":"units_in_structure",
    "RNTP":"monthly_rent",
    "MRGP":"first_mortgage",
    "SMP":"second_mortgage",
    "CONP":"condo_fee",
    "TEN":"tenure",
    "VACS":"vacancy_status",
    "VALP":"property_value",
    "GRPIP":"gross_rent_pct_of_income",
    "GRNTP":"gross_rent",
    "HINCP":"hh_income",
    "TAXP":"prop_tax",
    "WGTP":"weight",
    "MV":"moved_in"}, inplace=True)
pums_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax
0,H,5906,100.00,1.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1120.00,26.00,52000.00,2.00,nan
1,H,8105,66.00,3.00,2.00,0.00,6200.00,nan,nan,1.00,nan,1800000.00,nan,nan,232000.00,1.00,68.00
2,H,3727,65.00,3.00,3.00,0.00,2700.00,nan,nan,1.00,nan,1200000.00,nan,nan,108800.00,4.00,68.00
3,H,6101,98.00,3.00,2.00,0.00,700.00,nan,nan,1.00,nan,375000.00,nan,nan,65000.00,4.00,57.00
4,H,3738,203.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,29000.00,6.00,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155213,H,6505,65.00,3.00,2.00,240.00,nan,nan,nan,2.00,nan,330000.00,nan,nan,62600.00,6.00,68.00
155214,H,8303,67.00,4.00,2.00,0.00,2300.00,nan,nan,1.00,nan,950000.00,nan,nan,35500.00,3.00,65.00
155215,H,3717,61.00,2.00,7.00,nan,nan,1400.00,nan,3.00,nan,nan,1450.00,101.00,4500.00,1.00,nan
155216,H,2904,61.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,42700.00,5.00,6.00
155217,H,6103,69.00,3.00,2.00,nan,nan,2000.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan

## Part A2. Assign county id to each puma

In [4]:
# load in crosswalk file
crosswalk_df=pd.read_csv("C:/Users/Terner GSR/Box/Cost of Doing Nothing/Climate Impacts/Data/PUMS/PUMA_County_Crosswalk_v2.csv", delimiter=",")
crosswalk_df

      PUMA     county1 county2 county3 county4 county5 county6 county7
0      101  Alameda CA     NaN     NaN     NaN     NaN     NaN     NaN
1      102  Alameda CA     NaN     NaN     NaN     NaN     NaN     NaN
2      103  Alameda CA     NaN     NaN     NaN     NaN     NaN     NaN
3      104  Alameda CA     NaN     NaN     NaN     NaN     NaN     NaN
4      105  Alameda CA     NaN     NaN     NaN     NaN     NaN     NaN
..     ...         ...     ...     ...     ...     ...     ...     ...
260  11103  Ventura CA     NaN     NaN     NaN     NaN     NaN     NaN
261  11104  Ventura CA     NaN     NaN     NaN     NaN     NaN     NaN
262  11105  Ventura CA     NaN     NaN     NaN     NaN     NaN     NaN
263  11106  Ventura CA     NaN     NaN     NaN     NaN     NaN     NaN
264  11300     Yolo CA     NaN     NaN     NaN     NaN     NaN     NaN

[265 rows x 8 columns]

In [5]:
# add county name column to puma file
puma_county_df=pums_df.merge(crosswalk_df, how='left', left_on = "PUMA",right_on = "PUMA")
puma_county_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7
0,H,5906,100.00,1.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1120.00,26.00,52000.00,2.00,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN
1,H,8105,66.00,3.00,2.00,0.00,6200.00,nan,nan,1.00,nan,1800000.00,nan,nan,232000.00,1.00,68.00,San Mateo CA,NaN,NaN,NaN,NaN,NaN,NaN
2,H,3727,65.00,3.00,3.00,0.00,2700.00,nan,nan,1.00,nan,1200000.00,nan,nan,108800.00,4.00,68.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN
3,H,6101,98.00,3.00,2.00,0.00,700.00,nan,nan,1.00,nan,375000.00,nan,nan,65000.00,4.00,57.00,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN
4,H,3738,203.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,29000.00,6.00,2.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155213,H,6505,65.00,3.00,2.00,240.00,nan,nan,nan,2.00,nan,330000.00,nan,nan,62600.00,6.00,68.00,Riverside CA,NaN,NaN,NaN,NaN,NaN,NaN
155214,H,8303,67.00,4.00,2.00,0.00,2300.00,nan,nan,1.00,nan,950000.00,nan,nan,35500.00,3.00,65.00,Santa Barbara CA,NaN,NaN,NaN,NaN,NaN,NaN
155215,H,3717,61.00,2.00,7.00,nan,nan,1400.00,nan,3.00,nan,nan,1450.00,101.00,4500.00,1.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN
155216,H,2904,61.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,42700.00,5.00,6.00,Kern CA,NaN,NaN,NaN,NaN,NaN,NaN
155217,H,6103,69.00,3.00,2.00,nan,nan,2000.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# remove " CA" from end of each county name
puma_county_df['County'] = puma_county_df['county1'].str.replace(r' CA', '')
puma_county_df['county2'] = puma_county_df['county2'].str.replace(r' CA', '')
puma_county_df['county3'] = puma_county_df['county3'].str.replace(r' CA', '')
puma_county_df['county4'] = puma_county_df['county4'].str.replace(r' CA', '')
puma_county_df['county5'] = puma_county_df['county5'].str.replace(r' CA', '')
puma_county_df['county6'] = puma_county_df['county6'].str.replace(r' CA', '')
puma_county_df['county7'] = puma_county_df['county7'].str.replace(r' CA', '')
puma_county_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County
0,H,5906,100.00,1.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1120.00,26.00,52000.00,2.00,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange
1,H,8105,66.00,3.00,2.00,0.00,6200.00,nan,nan,1.00,nan,1800000.00,nan,nan,232000.00,1.00,68.00,San Mateo CA,NaN,NaN,NaN,NaN,NaN,NaN,San Mateo
2,H,3727,65.00,3.00,3.00,0.00,2700.00,nan,nan,1.00,nan,1200000.00,nan,nan,108800.00,4.00,68.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles
3,H,6101,98.00,3.00,2.00,0.00,700.00,nan,nan,1.00,nan,375000.00,nan,nan,65000.00,4.00,57.00,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN,Placer
4,H,3738,203.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,29000.00,6.00,2.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155213,H,6505,65.00,3.00,2.00,240.00,nan,nan,nan,2.00,nan,330000.00,nan,nan,62600.00,6.00,68.00,Riverside CA,NaN,NaN,NaN,NaN,NaN,NaN,Riverside
155214,H,8303,67.00,4.00,2.00,0.00,2300.00,nan,nan,1.00,nan,950000.00,nan,nan,35500.00,3.00,65.00,Santa Barbara CA,NaN,NaN,NaN,NaN,NaN,NaN,Santa Barbara
155215,H,3717,61.00,2.00,7.00,nan,nan,1400.00,nan,3.00,nan,nan,1450.00,101.00,4500.00,1.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles
155216,H,2904,61.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,42700.00,5.00,6.00,Kern CA,NaN,NaN,NaN,NaN,NaN,NaN,Kern
155217,H,6103,69.00,3.00,2.00,nan,nan,2000.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN,Placer

## Part A3. Bring in and clean, reformat county AMIs data

In [7]:
#bring in 2018 county AMIs file
columns=["County","Income_Category","1","2","4","6","8"]
df = pd.read_csv("2015_amis.csv", delimiter=",", usecols=columns)
df

,County,Income_Category,1,2,4,6,8
0,Alameda County\n4-Per,Extremely Low,19650,22450,28050,32570,40890
1,Alameda County\n4-Per,Very Low Income,32750,37400,46750,54250,61750
2,Alameda County\n4-Per,Low Income,50150,57300,71600,83100,94550
3,Alameda County\n4-Per,Median Income,65450,74800,93500,108450,123400
4,Alameda County\n4-Per,Moderate Income,78550,89750,112200,130150,148100
...,...,...,...,...,...,...,...
285,Yuba County\n4-Person,Extremely Low,12500,15930,24250,32570,37600
286,Yuba County\n4-Person,Very Low Income,20800,23800,29700,34500,39250
287,Yuba County\n4-Person,Low Income,33250,38000,47500,55100,62700
288,Yuba County\n4-Person,Median Income,41600,47500,59400,68900,78400
289,Yuba County\n4-Person,Moderate Income,49900,57050,71300,82700,94100

In [8]:
#clean county names variable
df['County'] = df['County'].str.replace(r' County\n4-Person', '')
df['County'] = df['County'].str.replace(r' County\n4-Perso', '')
df['County'] = df['County'].str.replace(r' County\n4-Pers', '')
df['County'] = df['County'].str.replace(r' County\n4-Per', '')
df['County'] = df['County'].str.replace(r' County\n4-Pe', '')
df['County'] = df['County'].str.replace(r' County\n4-P', '')
df['County'] = df['County'].str.replace(r' County\n4-', '')
df['County'] = df['County'].str.replace(r' County\n4', '')
df['County'] = df['County'].str.replace(r' County\n', '')
df['County'] = df['County'].str.replace(r' County\ ' , '')
df['County'] = df['County'].str.replace(r' County', '')
df['County'] = df['County'].str.replace(r' Count', '')
df['County'] = df['County'].str.replace(r' Coun', '')
df

      County  Income_Category      1      2       4       6       8
0    Alameda    Extremely Low  19650  22450   28050   32570   40890
1    Alameda  Very Low Income  32750  37400   46750   54250   61750
2    Alameda       Low Income  50150  57300   71600   83100   94550
3    Alameda    Median Income  65450  74800   93500  108450  123400
4    Alameda  Moderate Income  78550  89750  112200  130150  148100
..       ...              ...    ...    ...     ...     ...     ...
285     Yuba    Extremely Low  12500  15930   24250   32570   37600
286     Yuba  Very Low Income  20800  23800   29700   34500   39250
287     Yuba       Low Income  33250  38000   47500   55100   62700
288     Yuba    Median Income  41600  47500   59400   68900   78400
289     Yuba  Moderate Income  49900  57050   71300   82700   94100

[290 rows x 7 columns]

In [9]:
df[df["County"]=="Santa Clara"]

          County  Income_Category      1       2       4       6       8
210  Santa Clara    Extremely Low  22350   25550   31900   37050   42150
211  Santa Clara  Very Low Income  37250   42550   53150   61700   70200
212  Santa Clara       Low Income  59400   67900   84900   98450  112050
213  Santa Clara    Median Income  74400   85050  106300  123300  140300
214  Santa Clara  Moderate Income  89300  102050  127550  147950  168350

In [10]:
#create df for each income level and calculate max rents, rename variables
eli_df = df[df.Income_Category =="Extremely Low"].copy()
eli_df["1"]=eli_df["1"]*0.025
eli_df["2"]=eli_df["2"]*0.025
eli_df["4"]=eli_df["4"]*0.025
eli_df["6"]=eli_df["6"]*0.025
eli_df["8"]=eli_df["8"]*0.025
eli_df.rename(columns={"1":"ELI_studio","2":"ELI_1_br","4":"ELI_2_br","6":"ELI_3_br","8":"ELI_4_br"}, inplace=True)
eli_df.drop('Income_Category', axis=1, inplace=True)
eli_df

              County  ELI_studio  ELI_1_br  ELI_2_br  ELI_3_br  ELI_4_br
0            Alameda      491.25    561.25    701.25    814.25   1022.25
5             Alpine      453.75    518.75    647.50    814.25   1022.25
10            Amador      380.00    435.00    606.25    814.25   1022.25
15             Butte      308.75    398.25    606.25    814.25    940.00
20         Calaveras      368.75    421.25    606.25    814.25   1022.25
25            Colusa      308.75    398.25    606.25    814.25    968.75
30      Contra Costa      491.25    561.25    701.25    814.25   1022.25
35         Del Norte      303.75    398.25    606.25    814.25    940.00
40         El Dorado      400.00    457.50    606.25    814.25   1022.25
45            Fresno      303.75    398.25    606.25    814.25    940.00
50             Glenn      303.75    398.25    606.25    814.25    940.00
55          Humboldt      303.75    398.25    606.25    814.25    940.00
60          Imperial      303.75    398.25    606.25    814.25    940.00
65              Inyo      376.25    430.00    606.25    814.25   1022.25
70              Kern      303.75    398.25    606.25    814.25    940.00
75             Kings      303.75    398.25    606.25    814.25    940.00
80              Lake      303.75    398.25    606.25    814.25    940.00
85            Lassen      365.00    416.25    606.25    814.25   1022.25
90       Los Angeles      448.75    512.50    640.00    814.25   1022.25
95            Madera      303.75    398.25    606.25    814.25    940.00
100            Marin      616.25    703.75    878.75   1020.00   1160.00
105         Mariposa      325.00    398.25    606.25    814.25   1022.25
110        Mendocino      305.00    398.25    606.25    814.25    957.50
115           Merced      303.75    398.25    606.25    814.25    940.00
120            Modoc      303.75    398.25    606.25    814.25    940.00
125             Mono      426.25    487.50    608.75    814.25   1022.25
130         Monterey      381.25    435.00    606.25    814.25   1022.25
135             Napa      458.75    525.00    655.00    814.25   1022.25
140           Nevada      402.50    460.00    606.25    814.25   1022.25
145           Orange      506.25    578.75    722.50    838.75   1022.25
150           Placer      400.00    457.50    606.25    814.25   1022.25
155           Plumas      326.25    398.25    606.25    814.25    940.00
160        Riverside      352.50    402.50    606.25    814.25   1022.25
165       Sacramento      400.00    457.50    606.25    814.25   1022.25
170       San Benito      426.25    487.50    608.75    814.25   1022.25
175   San Bernardino      352.50    402.50    606.25    814.25   1022.25
180        San Diego      433.75    496.25    620.00    814.25   1022.25
185    San Francisco      616.25    703.75    878.75   1020.00   1160.00
190      San Joaquin      348.75    398.75    606.25    814.25    983.75
195  San Luis Obispo      406.25    463.75    606.25    814.25   1022.25
200        San Mateo      616.25    703.75    878.75   1020.00   1160.00
205    Santa Barbara      421.25    481.25    606.25    814.25   1022.25
210      Santa Clara      558.75    638.75    797.50    926.25   1053.75
215       Santa Cruz      530.00    605.00    756.25    877.50   1022.25
220           Shasta      310.00    398.25    606.25    814.25    940.00
225           Sierra      370.00    422.50    606.25    814.25   1022.25
230         Siskiyou      303.75    398.25    606.25    814.25    940.00
235           Solano      435.00    496.25    620.00    814.25   1022.25
240           Sonoma      435.00    496.25    620.00    814.25   1022.25
245       Stanislaus      326.25    398.25    606.25    814.25    940.00
250           Sutter      312.50    398.25    606.25    814.25    940.00
255           Tehama      303.75    398.25    606.25    814.25    940.00
260          Trinity      303.75    398.25    606.25    814.25    940.00
265           Tulare      303.75    398.25    606.25    814.25    940.00
270         Tuolumne      348.75    398.75    606.25    814.25   1022.25
275          Ventura      476.25    545.00    680.00    814.25   1022.25
280             Yolo      403.75    461.25    606.25    814.25   1022.25
285             Yuba      312.50    398.25    606.25    814.25    940.00

In [11]:
vli_df = df[df.Income_Category =="Very Low Income"].copy()
vli_df["1"]=vli_df["1"]*0.025
vli_df["2"]=vli_df["2"]*0.025
vli_df["4"]=vli_df["4"]*0.025
vli_df["6"]=vli_df["6"]*0.025
vli_df["8"]=vli_df["8"]*0.025
vli_df.rename(columns={"1":"VLI_studio","2":"VLI_1_br","4":"VLI_2_br","6":"VLI_3_br","8":"VLI_4_br"}, inplace=True)
vli_df.drop('Income_Category', axis=1, inplace=True)
vli_df

              County  VLI_studio  VLI_1_br  VLI_2_br  VLI_3_br  VLI_4_br
1            Alameda      818.75    935.00   1168.75   1356.25   1543.75
6             Alpine      756.25    865.00   1080.00   1253.75   1426.25
11            Amador      633.75    723.75    903.75   1048.75   1193.75
16             Butte      513.75    587.50    733.75    851.25    968.75
21         Calaveras      615.00    702.50    877.50   1018.75   1158.75
26            Colusa      513.75    587.50    733.75    851.25    968.75
31      Contra Costa      818.75    935.00   1168.75   1356.25   1543.75
36         Del Norte      507.50    580.00    723.75    840.00    956.25
41         El Dorado      666.25    761.25    951.25   1103.75   1256.25
46            Fresno      507.50    580.00    723.75    840.00    956.25
51             Glenn      507.50    580.00    723.75    840.00    956.25
56          Humboldt      507.50    580.00    723.75    840.00    956.25
61          Imperial      507.50    580.00    723.75    840.00    956.25
66              Inyo      626.25    715.00    893.75   1037.50   1180.00
71              Kern      507.50    580.00    723.75    840.00    956.25
76             Kings      507.50    580.00    723.75    840.00    956.25
81              Lake      507.50    580.00    723.75    840.00    956.25
86            Lassen      607.50    695.00    867.50   1007.50   1146.25
91       Los Angeles      747.50    855.00   1067.50   1238.75   1410.00
96            Madera      507.50    580.00    723.75    840.00    956.25
101            Marin     1026.25   1172.50   1465.00   1700.00   1935.00
106         Mariposa      542.50    620.00    773.75    898.75   1022.50
111        Mendocino      507.50    580.00    725.00    841.25    957.50
116           Merced      507.50    580.00    723.75    840.00    956.25
121            Modoc      507.50    580.00    723.75    840.00    956.25
126             Mono      711.25    812.50   1015.00   1177.50   1340.00
131         Monterey      635.00    725.00    906.25   1051.25   1196.25
136             Napa      765.00    873.75   1091.25   1266.25   1441.25
141           Nevada      671.25    767.50    958.75   1112.50   1266.25
146           Orange      843.75    963.75   1203.75   1397.50   1590.00
151           Placer      666.25    761.25    951.25   1103.75   1256.25
156           Plumas      542.50    620.00    775.00    900.00   1023.75
161        Riverside      586.25    670.00    837.50    972.50   1106.25
166       Sacramento      666.25    761.25    951.25   1103.75   1256.25
171       San Benito      710.00    811.25   1013.75   1176.25   1338.75
176   San Bernardino      586.25    670.00    837.50    972.50   1106.25
181        San Diego      722.50    826.25   1032.50   1197.50   1362.50
186    San Francisco     1026.25   1172.50   1465.00   1700.00   1935.00
191      San Joaquin      581.25    663.75    828.75    962.50   1095.00
196  San Luis Obispo      675.00    771.25    963.75   1118.75   1272.50
201        San Mateo     1026.25   1172.50   1465.00   1700.00   1935.00
206    Santa Barbara      702.50    802.50   1002.50   1163.75   1323.75
211      Santa Clara      931.25   1063.75   1328.75   1542.50   1755.00
216       Santa Cruz      882.50   1008.75   1260.00   1462.50   1663.75
221           Shasta      516.25    590.00    737.50    856.25    973.75
226           Sierra      616.25    703.75    878.75   1020.00   1160.00
231         Siskiyou      507.50    580.00    723.75    840.00    956.25
236           Solano      723.75    826.25   1032.50   1198.75   1363.75
241           Sonoma      723.75    826.25   1032.50   1198.75   1363.75
246       Stanislaus      542.50    620.00    775.00    900.00   1023.75
251           Sutter      520.00    595.00    742.50    862.50    981.25
256           Tehama      507.50    580.00    723.75    840.00    956.25
261          Trinity      507.50    580.00    723.75    840.00    956.25
266           Tulare      507.50    580.00    723.75    840.00    956.25
271         Tuolumne      581.25    665.00    830.00    963.75   1096.25
276          Ventura      793.75    906.25   1132.50   1313.75   1495.00
281             Yolo      673.75    770.00    961.25   1116.25   1270.00
286             Yuba      520.00    595.00    742.50    862.50    981.25

In [12]:
li_df = df[df.Income_Category =="Low Income"].copy()
li_df["1"]=li_df["1"]*0.025
li_df["2"]=li_df["2"]*0.025
li_df["4"]=li_df["4"]*0.025
li_df["6"]=li_df["6"]*0.025
li_df["8"]=li_df["8"]*0.025
li_df.rename(columns={"1":"LI_studio","2":"LI_1_br","4":"LI_2_br","6":"LI_3_br","8":"LI_4_br"}, inplace=True)
li_df.drop('Income_Category', axis=1, inplace=True)
li_df

              County  LI_studio  LI_1_br  LI_2_br  LI_3_br  LI_4_br
2            Alameda    1253.75  1432.50  1790.00  2077.50  2363.75
7             Alpine    1152.50  1316.25  1645.00  1908.75  2172.50
12            Amador    1012.50  1157.50  1446.25  1678.75  1910.00
17             Butte     822.50   940.00  1173.75  1362.50  1550.00
22         Calaveras     983.75  1123.75  1403.75  1628.75  1853.75
27            Colusa     822.50   940.00  1173.75  1362.50  1550.00
32      Contra Costa    1253.75  1432.50  1790.00  2077.50  2363.75
37         Del Norte     811.25   926.25  1157.50  1343.75  1528.75
42         El Dorado    1066.25  1218.75  1522.50  1766.25  2010.00
47            Fresno     811.25   926.25  1157.50  1343.75  1528.75
52             Glenn     811.25   926.25  1157.50  1343.75  1528.75
57          Humboldt     811.25   926.25  1157.50  1343.75  1528.75
62          Imperial     811.25   926.25  1157.50  1343.75  1528.75
67              Inyo    1001.25  1145.00  1430.00  1660.00  1888.75
72              Kern     811.25   926.25  1157.50  1343.75  1528.75
77             Kings     811.25   926.25  1157.50  1343.75  1528.75
82              Lake     811.25   926.25  1157.50  1343.75  1528.75
87            Lassen     971.25  1110.00  1387.50  1610.00  1832.50
92       Los Angeles    1196.25  1366.25  1707.50  1981.25  2255.00
97            Madera     811.25   926.25  1157.50  1343.75  1528.75
102            Marin    1642.50  1877.50  2346.25  2722.50  3097.50
107         Mariposa     866.25   990.00  1237.50  1436.25  1633.75
112        Mendocino     812.50   928.75  1160.00  1346.25  1531.25
117           Merced     811.25   926.25  1157.50  1343.75  1528.75
122            Modoc     811.25   926.25  1157.50  1343.75  1528.75
127             Mono    1118.75  1278.75  1597.50  1853.75  2108.75
132         Monterey    1015.00  1160.00  1450.00  1682.50  1915.00
137             Napa    1222.50  1396.25  1745.00  2025.00  2303.75
142           Nevada    1073.75  1226.25  1532.50  1778.75  2023.75
147           Orange    1348.75  1541.25  1926.25  2235.00  2543.75
152           Placer    1066.25  1218.75  1522.50  1766.25  2010.00
157           Plumas     868.75   992.50  1240.00  1438.75  1637.50
162        Riverside     938.75  1072.50  1340.00  1555.00  1770.00
167       Sacramento    1066.25  1218.75  1522.50  1766.25  2010.00
172       San Benito    1127.50  1288.75  1610.00  1868.75  2126.25
177   San Bernardino     938.75  1072.50  1340.00  1555.00  1770.00
182        San Diego    1156.25  1322.50  1652.50  1917.50  2181.25
187    San Francisco    1642.50  1877.50  2346.25  2722.50  3097.50
192      San Joaquin     928.75  1061.25  1326.25  1538.75  1751.25
197  San Luis Obispo    1080.00  1235.00  1542.50  1790.00  2036.25
202        San Mateo    1642.50  1877.50  2346.25  2722.50  3097.50
207    Santa Barbara    1123.75  1283.75  1603.75  1861.25  2117.50
212      Santa Clara    1485.00  1697.50  2122.50  2461.25  2801.25
217       Santa Cruz    1412.50  1613.75  2016.25  2340.00  2662.50
222           Shasta     826.25   945.00  1180.00  1370.00  1558.75
227           Sierra     985.00  1125.00  1406.25  1631.25  1856.25
232         Siskiyou     811.25   926.25  1157.50  1343.75  1528.75
237           Solano    1137.50  1300.00  1625.00  1885.00  2145.00
242           Sonoma    1137.50  1300.00  1625.00  1885.00  2145.00
247       Stanislaus     868.75   992.50  1240.00  1438.75  1637.50
252           Sutter     831.25   950.00  1187.50  1377.50  1567.50
257           Tehama     811.25   926.25  1157.50  1343.75  1528.75
262          Trinity     811.25   926.25  1157.50  1343.75  1528.75
267           Tulare     811.25   926.25  1157.50  1343.75  1528.75
272         Tuolumne     930.00  1062.50  1327.50  1540.00  1752.50
277          Ventura    1268.75  1450.00  1812.50  2102.50  2392.50
282             Yolo    1076.25  1230.00  1537.50  1783.75  2030.00
287             Yuba     831.25   950.00  1187.50  1377.50  1567.50

In [13]:
mi_df = df[df.Income_Category =="Median Income"].copy()
mi_df["1"]=mi_df["1"]*0.025
mi_df["2"]=mi_df["2"]*0.025
mi_df["4"]=mi_df["4"]*0.025
mi_df["6"]=mi_df["6"]*0.025
mi_df["8"]=mi_df["8"]*0.025
mi_df.rename(columns={"1":"MI_studio","2":"MI_1_br","4":"MI_2_br","6":"MI_3_br","8":"MI_4_br"}, inplace=True)
mi_df.drop('Income_Category', axis=1, inplace=True)
mi_df

              County  MI_studio  MI_1_br  MI_2_br  MI_3_br  MI_4_br
3            Alameda    1636.25  1870.00  2337.50  2711.25  3085.00
8             Alpine    1661.25  1897.50  2372.50  2752.50  3131.25
13            Amador    1265.00  1446.25  1807.50  2096.25  2386.25
18             Butte    1027.50  1173.75  1467.50  1702.50  1937.50
23         Calaveras    1228.75  1403.75  1755.00  2036.25  2316.25
28            Colusa    1027.50  1173.75  1467.50  1702.50  1937.50
33      Contra Costa    1636.25  1870.00  2337.50  2711.25  3085.00
38         Del Norte    1013.75  1157.50  1447.50  1678.75  1911.25
43         El Dorado    1331.25  1522.50  1902.50  2207.50  2511.25
48            Fresno    1013.75  1157.50  1447.50  1678.75  1911.25
53             Glenn    1013.75  1157.50  1447.50  1678.75  1911.25
58          Humboldt    1013.75  1157.50  1447.50  1678.75  1911.25
63          Imperial    1013.75  1157.50  1447.50  1678.75  1911.25
68              Inyo    1251.25  1430.00  1787.50  2073.75  2360.00
73              Kern    1013.75  1157.50  1447.50  1678.75  1911.25
78             Kings    1013.75  1157.50  1447.50  1678.75  1911.25
83              Lake    1013.75  1157.50  1447.50  1678.75  1911.25
88            Lassen    1215.00  1387.50  1735.00  2012.50  2290.00
93       Los Angeles    1133.75  1296.25  1620.00  1878.75  2138.75
98            Madera    1013.75  1157.50  1447.50  1678.75  1911.25
103            Marin    1802.50  2060.00  2575.00  2987.50  3398.75
108         Mariposa    1083.75  1237.50  1547.50  1795.00  2042.50
113        Mendocino    1031.25  1177.50  1472.50  1707.50  1943.75
118           Merced    1013.75  1157.50  1447.50  1678.75  1911.25
123            Modoc    1013.75  1157.50  1447.50  1678.75  1911.25
128             Mono    1421.25  1623.75  2030.00  2355.00  2680.00
133         Monterey    1202.50  1373.75  1717.50  1992.50  2267.50
138             Napa    1506.25  1722.50  2152.50  2497.50  2841.25
143           Nevada    1286.25  1470.00  1837.50  2131.25  2425.00
148           Orange    1526.25  1743.75  2180.00  2528.75  2877.50
153           Placer    1331.25  1522.50  1902.50  2207.50  2511.25
158           Plumas    1085.00  1240.00  1550.00  1797.50  2046.25
163        Riverside    1137.50  1300.00  1625.00  1885.00  2145.00
168       Sacramento    1331.25  1522.50  1902.50  2207.50  2511.25
173       San Benito    1418.75  1622.50  2027.50  2352.50  2676.25
178   San Bernardino    1137.50  1300.00  1625.00  1885.00  2145.00
183        San Diego    1328.75  1517.50  1897.50  2201.25  2505.00
188    San Francisco    1802.50  2060.00  2575.00  2987.50  3398.75
193      San Joaquin    1160.00  1326.25  1657.50  1922.50  2187.50
198  San Luis Obispo    1348.75  1542.50  1927.50  2236.25  2543.75
203        San Mateo    1802.50  2060.00  2575.00  2987.50  3398.75
208    Santa Barbara    1320.00  1507.50  1885.00  2186.25  2488.75
213      Santa Clara    1860.00  2126.25  2657.50  3082.50  3507.50
218       Santa Cruz    1522.50  1740.00  2175.00  2522.50  2871.25
223           Shasta    1032.50  1180.00  1475.00  1711.25  1947.50
228           Sierra    1256.25  1436.25  1795.00  2082.50  2370.00
233         Siskiyou    1013.75  1157.50  1447.50  1678.75  1911.25
238           Solano    1445.00  1652.50  2065.00  2395.00  2726.25
243           Sonoma    1445.00  1652.50  2065.00  2395.00  2726.25
248       Stanislaus    1085.00  1240.00  1550.00  1797.50  2046.25
253           Sutter    1040.00  1187.50  1485.00  1722.50  1960.00
258           Tehama    1013.75  1157.50  1447.50  1678.75  1911.25
263          Trinity    1013.75  1157.50  1447.50  1678.75  1911.25
268           Tulare    1013.75  1157.50  1447.50  1678.75  1911.25
273         Tuolumne    1167.50  1333.75  1667.50  1933.75  2201.25
278          Ventura    1562.50  1786.25  2232.50  2590.00  2947.50
283             Yolo    1346.25  1537.50  1922.50  2230.00  2537.50
288             Yuba    1040.00  1187.50  1485.00  1722.50  1960.00

In [14]:
moi_df = df[df.Income_Category =="Moderate Income"].copy()
moi_df["1"]=moi_df["1"]*0.025
moi_df["2"]=moi_df["2"]*0.025
moi_df["4"]=moi_df["4"]*0.025
moi_df["6"]=moi_df["6"]*0.025
moi_df["8"]=moi_df["8"]*0.025
moi_df.rename(columns={"1":"MoI_studio","2":"MoI_1_br","4":"MoI_2_br","6":"MoI_3_br","8":"MoI_4_br"}, inplace=True)
moi_df.drop('Income_Category', axis=1, inplace=True)
moi_df

              County  MoI_studio  MoI_1_br  MoI_2_br  MoI_3_br  MoI_4_br
4            Alameda     1963.75   2243.75   2805.00   3253.75   3702.50
9             Alpine     1993.75   2277.50   2847.50   3302.50   3758.75
14            Amador     1517.50   1735.00   2168.75   2516.25   2862.50
19             Butte     1232.50   1408.75   1761.25   2042.50   2325.00
24         Calaveras     1473.75   1685.00   2106.25   2443.75   2780.00
29            Colusa     1232.50   1408.75   1761.25   2042.50   2325.00
34      Contra Costa     1963.75   2243.75   2805.00   3253.75   3702.50
39         Del Norte     1216.25   1390.00   1737.50   2015.00   2293.75
44         El Dorado     1597.50   1826.25   2282.50   2647.50   3012.50
49            Fresno     1216.25   1390.00   1737.50   2015.00   2293.75
54             Glenn     1216.25   1390.00   1737.50   2015.00   2293.75
59          Humboldt     1216.25   1390.00   1737.50   2015.00   2293.75
64          Imperial     1216.25   1390.00   1737.50   2015.00   2293.75
69              Inyo     1501.25   1716.25   2145.00   2488.75   2831.25
74              Kern     1216.25   1390.00   1737.50   2015.00   2293.75
79             Kings     1216.25   1390.00   1737.50   2015.00   2293.75
84              Lake     1216.25   1390.00   1737.50   2015.00   2293.75
89            Lassen     1457.50   1666.25   2082.50   2416.25   2748.75
94       Los Angeles     1361.25   1555.00   1943.75   2255.00   2566.25
99            Madera     1216.25   1390.00   1737.50   2015.00   2293.75
104            Marin     2162.50   2472.50   3090.00   3585.00   4078.75
109         Mariposa     1300.00   1486.25   1857.50   2155.00   2452.50
114        Mendocino     1237.50   1413.75   1767.50   2050.00   2332.50
119           Merced     1216.25   1390.00   1737.50   2015.00   2293.75
124            Modoc     1216.25   1390.00   1737.50   2015.00   2293.75
129             Mono     1705.00   1948.75   2436.25   2826.25   3216.25
134         Monterey     1442.50   1648.75   2061.25   2391.25   2721.25
139             Napa     1807.50   2066.25   2582.50   2996.25   3408.75
144           Nevada     1543.75   1763.75   2205.00   2557.50   2910.00
149           Orange     1831.25   2092.50   2616.25   3035.00   3453.75
154           Placer     1597.50   1826.25   2282.50   2647.50   3012.50
159           Plumas     1302.50   1487.50   1860.00   2157.50   2455.00
164        Riverside     1365.00   1560.00   1950.00   2262.50   2573.75
169       Sacramento     1597.50   1826.25   2282.50   2647.50   3012.50
174       San Benito     1702.50   1946.25   2432.50   2821.25   3211.25
179   San Bernardino     1365.00   1560.00   1950.00   2262.50   2573.75
184        San Diego     1593.75   1822.50   2277.50   2642.50   3006.25
189    San Francisco     2162.50   2472.50   3090.00   3585.00   4078.75
194      San Joaquin     1392.50   1591.25   1988.75   2307.50   2625.00
199  San Luis Obispo     1618.75   1850.00   2312.50   2682.50   3052.50
204        San Mateo     2162.50   2472.50   3090.00   3585.00   4078.75
209    Santa Barbara     1583.75   1810.00   2262.50   2625.00   2986.25
214      Santa Clara     2232.50   2551.25   3188.75   3698.75   4208.75
219       Santa Cruz     1827.50   2087.50   2610.00   3027.50   3445.00
224           Shasta     1238.75   1416.25   1770.00   2053.75   2336.25
229           Sierra     1507.50   1722.50   2153.75   2498.75   2842.50
234         Siskiyou     1216.25   1390.00   1737.50   2015.00   2293.75
239           Solano     1733.75   1982.50   2477.50   2873.75   3270.00
244           Sonoma     1733.75   1982.50   2477.50   2873.75   3270.00
249       Stanislaus     1302.50   1487.50   1860.00   2157.50   2455.00
254           Sutter     1247.50   1426.25   1782.50   2067.50   2352.50
259           Tehama     1216.25   1390.00   1737.50   2015.00   2293.75
264          Trinity     1216.25   1390.00   1737.50   2015.00   2293.75
269           Tulare     1216.25   1390.00   1737.50   2015.00   2293.75
274         Tuolumne     1401.25   1601.25   2001.25   2321.25   2641.25
279          Ventura     1875.00   2142.50   2678.75   3107.50   3536.25
284             Yolo     1615.00   1846.25   2307.50   2676.25   3046.25
289             Yuba     1247.50   1426.25   1782.50   2067.50   2352.50

In [15]:
#combine dfs
all_amis_df=eli_df.merge(vli_df, how='left', left_on = "County",right_on = "County")
all_amis_df=all_amis_df.merge(li_df, how='left', left_on = "County",right_on = "County")
all_amis_df=all_amis_df.merge(mi_df, how='left', left_on = "County",right_on = "County")
all_amis_df=all_amis_df.merge(moi_df, how='left', left_on = "County",right_on = "County")
all_amis_df

,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br
0,Alameda,491.25,561.25,701.25,814.25,1022.25,818.75,935.00,1168.75,1356.25,1543.75,1253.75,1432.50,1790.00,2077.50,2363.75,1636.25,1870.00,2337.50,2711.25,3085.00,1963.75,2243.75,2805.00,3253.75,3702.50
1,Alpine,453.75,518.75,647.50,814.25,1022.25,756.25,865.00,1080.00,1253.75,1426.25,1152.50,1316.25,1645.00,1908.75,2172.50,1661.25,1897.50,2372.50,2752.50,3131.25,1993.75,2277.50,2847.50,3302.50,3758.75
2,Amador,380.00,435.00,606.25,814.25,1022.25,633.75,723.75,903.75,1048.75,1193.75,1012.50,1157.50,1446.25,1678.75,1910.00,1265.00,1446.25,1807.50,2096.25,2386.25,1517.50,1735.00,2168.75,2516.25,2862.50
3,Butte,308.75,398.25,606.25,814.25,940.00,513.75,587.50,733.75,851.25,968.75,822.50,940.00,1173.75,1362.50,1550.00,1027.50,1173.75,1467.50,1702.50,1937.50,1232.50,1408.75,1761.25,2042.50,2325.00
4,Calaveras,368.75,421.25,606.25,814.25,1022.25,615.00,702.50,877.50,1018.75,1158.75,983.75,1123.75,1403.75,1628.75,1853.75,1228.75,1403.75,1755.00,2036.25,2316.25,1473.75,1685.00,2106.25,2443.75,2780.00
5,Colusa,308.75,398.25,606.25,814.25,968.75,513.75,587.50,733.75,851.25,968.75,822.50,940.00,1173.75,1362.50,1550.00,1027.50,1173.75,1467.50,1702.50,1937.50,1232.50,1408.75,1761.25,2042.50,2325.00
6,Contra Costa,491.25,561.25,701.25,814.25,1022.25,818.75,935.00,1168.75,1356.25,1543.75,1253.75,1432.50,1790.00,2077.50,2363.75,1636.25,1870.00,2337.50,2711.25,3085.00,1963.75,2243.75,2805.00,3253.75,3702.50
7,Del Norte,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
8,El Dorado,400.00,457.50,606.25,814.25,1022.25,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50
9,Fresno,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
10,Glenn,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
11,Humboldt,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
12,Imperial,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
13,Inyo,376.25,430.00,606.25,814.25,1022.25,626.25,715.00,893.75,1037.50,1180.00,1001.25,1145.00,1430.00,1660.00,1888.75,1251.25,1430.00,1787.50,2073.75,2360.00,1501.25,1716.25,2145.00,2488.75,2831.25
14,Kern,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
15,Kings,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
16,Lake,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
17,Lassen,365.00,416.25,606.25,814.25,1022.25,607.50,695.00,867.50,1007.50,1146.25,971.25,1110.00,1387.50,1610.00,1832.50,1215.00,1387.50,1735.00,2012.50,2290.00,1457.50,1666.25,2082.50,2416.25,2748.75
18,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25
19,Madera,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
20,Marin,616.25,703.75,878.75,1020.00,1160.00,1026.25,1172.50,1465.00,1700.00,1935.00,1642.50,1877.50,2346.25,2722.50,3097.50,1802.50,2060.00,2575.00,2987.50,3398.75,2162.50,2472.50,3090.00,3585.00,4078.75
21,Mariposa,325.00,398.25,606.25,814.25,1022.25,542.50,620.00,773.75,898.75,1022.50,866.25,990.00,1237.50,1436.25,1633.75,1083.75,1237.50,1547.50,1795.00,2042.50,1300.00,1486.25,1857.50,2155.00,2452.50
22,Mendocino,305.00,398.25,606.25,814.25,957.50,507.50,580.00,725.00,841.25,957.50,812.50,928.75,1160.00,1346.25,1531.25,1031.25,1177.50,1472.50,1707.50,1943.75,1237.50,1413.75,1767.50,2050.00,2332.50
23,Merced,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
24,Modoc,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
25,Mono,426.25,487.50,608.75,814.25,1022.25,711.25,812.50,1015.00,1177.50,1340.00,1118.75,1278.75,1597.50,1853.75,2108.75,1421.25,1623.75,2030.00,2355.00,2680.00,1705.00,1948.75,2436.25,2826.25,3216.25
26,Monterey,381.25,435.00,606.25,814.25,1022.25,635.00,725.00,906.25,1051.25,1196.25,1015.00,1160.00,1450.00,1682.50,1915.00,1202.50,1373.75,1717.50,1992.50,2267.50,1442.50,1648.75,2061.25,2391.25,2721.25
27,Napa,458.75,525.00,655.00,814.25,1022.25,765.00,873.75,1091.25,1266.25,1441.25,1222.50,1396.25,1745.00,2025.00,2303.75,1506.25,1722.50,2152.50,2497.50,2841.25,1807.50,2066.25,2582.50,2996.25,3408.75
28,Nevada,402.50,460.00,606.25,814.25,1022.25,671.25,767.50,958.75,1112.50,1266.25,1073.75,1226.25,1532.50,1778.75,2023.75,1286.25,1470.00,1837.50,2131.25,2425.00,1543.75,1763.75,2205.00,2557.50,2910.00
29,Orange,506.25,578.75,722.50,838.75,1022.25,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75
30,Placer,400.00,457.50,606.25,814.25,1022.25,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50
31,Plumas,326.25,398.25,606.25,814.25,940.00,542.50,620.00,775.00,900.00,1023.75,868.75,992.50,1240.00,1438.75,1637.50,1085.00,1240.00,1550.00,1797.50,2046.25,1302.50,1487.50,1860.00,2157.50,2455.00
32,Riverside,352.50,402.50,606.25,814.25,1022.25,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75
33,Sacramento,400.00,457.50,606.25,814.25,1022.25,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50
34,San Benito,426.25,487.50,608.75,814.25,1022.25,710.00,811.25,1013.75,1176.25,1338.75,1127.50,1288.75,1610.00,1868.75,2126.25,1418.75,1622.50,2027.50,2352.50,2676.25,1702.50,1946.25,2432.50,2821.25,3211.25
35,San Bernardino,352.50,402.50,606.25,814.25,1022.25,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75
36,San Diego,433.75,496.25,620.00,814.25,1022.25,722.50,826.25,1032.50,1197.50,1362.50,1156.25,1322.50,1652.50,1917.50,2181.25,1328.75,1517.50,1897.50,2201.25,2505.00,1593.75,1822.50,2277.50,2642.50,3006.25
37,San Francisco,616.25,703.75,878.75,1020.00,1160.00,1026.25,1172.50,1465.00,1700.00,1935.00,1642.50,1877.50,2346.25,2722.50,3097.50,1802.50,2060.00,2575.00,2987.50,3398.75,2162.50,2472.50,3090.00,3585.00,4078.75
38,San Joaquin,348.75,398.75,606.25,814.25,983.75,581.25,663.75,828.75,962.50,1095.00,928.75,1061.25,1326.25,1538.75,1751.25,1160.00,1326.25,1657.50,1922.50,2187.50,1392.50,1591.25,1988.75,2307.50,2625.00
39,San Luis Obispo,406.25,463.75,606.25,814.25,1022.25,675.00,771.25,963.75,1118.75,1272.50,1080.00,1235.00,1542.50,1790.00,2036.25,1348.75,1542.50,1927.50,2236.25,2543.75,1618.75,1850.00,2312.50,2682.50,3052.50
40,San Mateo,616.25,703.75,878.75,1020.00,1160.00,1026.25,1172.50,1465.00,1700.00,1935.00,1642.50,1877.50,2346.25,2722.50,3097.50,1802.50,2060.00,2575.00,2987.50,3398.75,2162.50,2472.50,3090.00,3585.00,4078.75
41,Santa Barbara,421.25,481.25,606.25,814.25,1022.25,702.50,802.50,1002.50,1163.75,1323.75,1123.75,1283.75,1603.75,1861.25,2117.50,1320.00,1507.50,1885.00,2186.25,2488.75,1583.75,1810.00,2262.50,2625.00,2986.25
42,Santa Clara,558.75,638.75,797.50,926.25,1053.75,931.25,1063.75,1328.75,1542.50,1755.00,1485.00,1697.50,2122.50,2461.25,2801.25,1860.00,2126.25,2657.50,3082.50,3507.50,2232.50,2551.25,3188.75,3698.75,4208.75
43,Santa Cruz,530.00,605.00,756.25,877.50,1022.25,882.50,1008.75,1260.00,1462.50,1663.75,1412.50,1613.75,2016.25,2340.00,2662.50,1522.50,1740.00,2175.00,2522.50,2871.25,1827.50,2087.50,2610.00,3027.50,3445.00
44,Shasta,310.00,398.25,606.25,814.25,940.00,516.25,590.00,737.50,856.25,973.75,826.25,945.00,1180.00,1370.00,1558.75,1032.50,1180.00,1475.00,1711.25,1947.50,1238.75,1416.25,1770.00,2053.75,2336.25
45,Sierra,370.00,422.50,606.25,814.25,1022.25,616.25,703.75,878.75,1020.00,1160.00,985.00,1125.00,1406.25,1631.25,1856.25,1256.25,1436.25,1795.00,2082.50,2370.00,1507.50,1722.50,2153.75,2498.75,2842.50
46,Siskiyou,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
47,Solano,435.00,496.25,620.00,814.25,1022.25,723.75,826.25,1032.50,1198.75,1363.75,1137.50,1300.00,1625.00,1885.00,2145.00,1445.00,1652.50,2065.00,2395.00,2726.25,1733.75,1982.50,2477.50,2873.75,3270.00
48,Sonoma,435.00,496.25,620.00,814.25,1022.25,723.75,826.25,1032.50,1198.75,1363.75,1137.50,1300.00,1625.00,1885.00,2145.00,1445.00,1652.50,2065.00,2395.00,2726.25,1733.75,1982.50,2477.50,2873.75,3270.00
49,Stanislaus,326.25,398.25,606.25,814.25,940.00,542.50,620.00,775.00,900.00,1023.75,868.75,992.50,1240.00,1438.75,1637.50,1085.00,1240.00,1550.00,1797.50,2046.25,1302.50,1487.50,1860.00,2157.50,2455.00
50,Sutter,312.50,398.25,606.25,814.25,940.00,520.00,595.00,742.50,862.50,981.25,831.25,950.00,1187.50,1377.50,1567.50,1040.00,1187.50,1485.00,1722.50,1960.00,1247.50,1426.25,1782.50,2067.50,2352.50
51,Tehama,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
52,Trinity,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
53,Tulare,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
54,Tuolumne,348.75,398.75,606.25,814.25,1022.25,581.25,665.00,830.00,963.75,1096.25,930.00,1062.50,1327.50,1540.00,1752.50,1167.50,1333.75,1667.50,1933.75,2201.25,1401.25,1601.25,2001.25,2321.25,2641.25
55,Ventura,476.25,545.00,680.00,814.25,1022.25,793.75,906.25,1132.50,1313.75,1495.00,1268.75,1450.00,1812.50,2102.50,2392.50,1562.50,1786.25,2232.50,2590.00,2947.50,1875.00,2142.50,2678.75,3107.50,3536.25
56,Yolo,403.75,461.25,606.25,814.25,1022.25,673.75,770.00,961.25,1116.25,1270.00,1076.25,1230.00,1537.50,1783.75,2030.00,1346.25,1537.50,1922.50,2230.00,2537.50,1615.00,1846.25,2307.50,2676.25,3046.25
57,Yuba,312.50,398.25,606.25,814.25,940.00,520.00,595.00,742.50,862.50,981.25,831.25,950.00,1187.50,1377.50,1567.50,1040.00,1187.50,1485.00,1722.50,1960.00,1247.50,1426.25,1782.50,2067.50,2352.50

## Part A4. Add count dummies for each unit based on income and unit type

In [16]:
# merge datasets
units_df=puma_county_df.merge(all_amis_df, how='left', left_on = "County",right_on = "County")
units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br
0,H,5906,100.00,1.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1120.00,26.00,52000.00,2.00,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange,506.25,578.75,722.50,838.75,1022.25,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75
1,H,8105,66.00,3.00,2.00,0.00,6200.00,nan,nan,1.00,nan,1800000.00,nan,nan,232000.00,1.00,68.00,San Mateo CA,NaN,NaN,NaN,NaN,NaN,NaN,San Mateo,616.25,703.75,878.75,1020.00,1160.00,1026.25,1172.50,1465.00,1700.00,1935.00,1642.50,1877.50,2346.25,2722.50,3097.50,1802.50,2060.00,2575.00,2987.50,3398.75,2162.50,2472.50,3090.00,3585.00,4078.75
2,H,3727,65.00,3.00,3.00,0.00,2700.00,nan,nan,1.00,nan,1200000.00,nan,nan,108800.00,4.00,68.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25
3,H,6101,98.00,3.00,2.00,0.00,700.00,nan,nan,1.00,nan,375000.00,nan,nan,65000.00,4.00,57.00,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN,Placer,400.00,457.50,606.25,814.25,1022.25,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50
4,H,3738,203.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,29000.00,6.00,2.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155213,H,6505,65.00,3.00,2.00,240.00,nan,nan,nan,2.00,nan,330000.00,nan,nan,62600.00,6.00,68.00,Riverside CA,NaN,NaN,NaN,NaN,NaN,NaN,Riverside,352.50,402.50,606.25,814.25,1022.25,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75
155214,H,8303,67.00,4.00,2.00,0.00,2300.00,nan,nan,1.00,nan,950000.00,nan,nan,35500.00,3.00,65.00,Santa Barbara CA,NaN,NaN,NaN,NaN,NaN,NaN,Santa Barbara,421.25,481.25,606.25,814.25,1022.25,702.50,802.50,1002.50,1163.75,1323.75,1123.75,1283.75,1603.75,1861.25,2117.50,1320.00,1507.50,1885.00,2186.25,2488.75,1583.75,1810.00,2262.50,2625.00,2986.25
155215,H,3717,61.00,2.00,7.00,nan,nan,1400.00,nan,3.00,nan,nan,1450.00,101.00,4500.00,1.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25
155216,H,2904,61.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,42700.00,5.00,6.00,Kern CA,NaN,NaN,NaN,NaN,NaN,NaN,Kern,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
155217,H,6103,69.00,3.00,2.00,nan,nan,2000.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN,Placer,400.00,457.50,606.25,814.25,1022.25,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50

In [17]:
# create filter masks for each affordability and unit type
ELI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['monthly_rent']<=units_df["ELI_studio"])
ELI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['monthly_rent']<=units_df["ELI_1_br"])
ELI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['monthly_rent']<=units_df["ELI_2_br"])
ELI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['monthly_rent']<=units_df["ELI_3_br"])
ELI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['monthly_rent']<=units_df["ELI_4_br"])
VLI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['monthly_rent']<=units_df["VLI_studio"])
VLI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['monthly_rent']<=units_df["VLI_1_br"])
VLI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['monthly_rent']<=units_df["VLI_2_br"])
VLI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['monthly_rent']<=units_df["VLI_3_br"])
VLI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['monthly_rent']<=units_df["VLI_4_br"])
LI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['monthly_rent']<=units_df["LI_studio"])
LI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['monthly_rent']<=units_df["LI_1_br"])
LI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['monthly_rent']<=units_df["LI_2_br"])
LI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['monthly_rent']<=units_df["LI_3_br"])
LI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['monthly_rent']<=units_df["LI_4_br"])
MI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['monthly_rent']<=units_df["MI_studio"])
MI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['monthly_rent']<=units_df["MI_1_br"])
MI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['monthly_rent']<=units_df["MI_2_br"])
MI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['monthly_rent']<=units_df["MI_3_br"])
MI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['monthly_rent']<=units_df["MI_4_br"])
MoI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['monthly_rent']<=units_df["MoI_studio"])
MoI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['monthly_rent']<=units_df["MoI_1_br"])
MoI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['monthly_rent']<=units_df["MoI_2_br"])
MoI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['monthly_rent']<=units_df["MoI_3_br"])
MoI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['monthly_rent']<=units_df["MoI_4_br"])
HI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['monthly_rent']>=units_df["MoI_studio"])
HI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['monthly_rent']>=units_df["MoI_1_br"])
HI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['monthly_rent']>=units_df["MoI_2_br"])
HI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['monthly_rent']>=units_df["MoI_3_br"])
HI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['monthly_rent']>=units_df["MoI_4_br"])

# apply filter masks to create dummy variables
units_df['rent_ELI_studio_count']=np.where(ELI_studio_mask,1,0)
units_df['rent_ELI_1_br_count']=np.where(ELI_1_br_mask,1,0)
units_df['rent_ELI_2_br_count']=np.where(ELI_2_br_mask,1,0)
units_df['rent_ELI_3_br_count']=np.where(ELI_3_br_mask,1,0)
units_df['rent_ELI_4_br_count']=np.where(ELI_4_br_mask,1,0)
units_df['rent_VLI_studio_count']=np.where(VLI_studio_mask,1,0)
units_df['rent_VLI_1_br_count']=np.where(VLI_1_br_mask,1,0)
units_df['rent_VLI_2_br_count']=np.where(VLI_2_br_mask,1,0)
units_df['rent_VLI_3_br_count']=np.where(VLI_3_br_mask,1,0)
units_df['rent_VLI_4_br_count']=np.where(VLI_4_br_mask,1,0)
units_df['rent_LI_studio_count']=np.where(LI_studio_mask,1,0)
units_df['rent_LI_1_br_count']=np.where(LI_1_br_mask,1,0)
units_df['rent_LI_2_br_count']=np.where(LI_2_br_mask,1,0)
units_df['rent_LI_3_br_count']=np.where(LI_3_br_mask,1,0)
units_df['rent_LI_4_br_count']=np.where(LI_4_br_mask,1,0)
units_df['rent_MI_studio_count']=np.where(MI_studio_mask,1,0)
units_df['rent_MI_1_br_count']=np.where(MI_1_br_mask,1,0)
units_df['rent_MI_2_br_count']=np.where(MI_2_br_mask,1,0)
units_df['rent_MI_3_br_count']=np.where(MI_3_br_mask,1,0)
units_df['rent_MI_4_br_count']=np.where(MI_4_br_mask,1,0)
units_df['rent_MoI_studio_count']=np.where(MoI_studio_mask,1,0)
units_df['rent_MoI_1_br_count']=np.where(MoI_1_br_mask,1,0)
units_df['rent_MoI_2_br_count']=np.where(MoI_2_br_mask,1,0)
units_df['rent_MoI_3_br_count']=np.where(MoI_3_br_mask,1,0)
units_df['rent_MoI_4_br_count']=np.where(MoI_4_br_mask,1,0)
units_df['rent_HI_studio_count']=np.where(HI_studio_mask,1,0)
units_df['rent_HI_1_br_count']=np.where(HI_1_br_mask,1,0)
units_df['rent_HI_2_br_count']=np.where(HI_2_br_mask,1,0)
units_df['rent_HI_3_br_count']=np.where(HI_3_br_mask,1,0)
units_df['rent_HI_4_br_count']=np.where(HI_4_br_mask,1,0)
units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,rent_ELI_studio_count,rent_ELI_1_br_count,rent_ELI_2_br_count,rent_ELI_3_br_count,rent_ELI_4_br_count,rent_VLI_studio_count,rent_VLI_1_br_count,rent_VLI_2_br_count,rent_VLI_3_br_count,rent_VLI_4_br_count,rent_LI_studio_count,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count
0,H,5906,100.00,1.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1120.00,26.00,52000.00,2.00,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange,506.25,578.75,722.50,838.75,1022.25,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0
1,H,8105,66.00,3.00,2.00,0.00,6200.00,nan,nan,1.00,nan,1800000.00,nan,nan,232000.00,1.00,68.00,San Mateo CA,NaN,NaN,NaN,NaN,NaN,NaN,San Mateo,616.25,703.75,878.75,1020.00,1160.00,1026.25,1172.50,1465.00,1700.00,1935.00,1642.50,1877.50,2346.25,2722.50,3097.50,1802.50,2060.00,2575.00,2987.50,3398.75,2162.50,2472.50,3090.00,3585.00,4078.75,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,H,3727,65.00,3.00,3.00,0.00,2700.00,nan,nan,1.00,nan,1200000.00,nan,nan,108800.00,4.00,68.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,H,6101,98.00,3.00,2.00,0.00,700.00,nan,nan,1.00,nan,375000.00,nan,nan,65000.00,4.00,57.00,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN,Placer,400.00,457.50,606.25,814.25,1022.25,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,H,3738,203.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,29000.00,6.00,2.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155213,H,6505,65.00,3.00,2.00,240.00,nan,nan,nan,2.00,nan,330000.00,nan,nan,62600.00,6.00,68.00,Riverside CA,NaN,NaN,NaN,NaN,NaN,NaN,Riverside,352.50,402.50,606.25,814.25,1022.25,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
155214,H,8303,67.00,4.00,2.00,0.00,2300.00,nan,nan,1.00,nan,950000.00,nan,nan,35500.00,3.00,65.00,Santa Barbara CA,NaN,NaN,NaN,NaN,NaN,NaN,Santa Barbara,421.25,481.25,606.25,814.25,1022.25,702.50,802.50,1002.50,1163.75,1323.75,1123.75,1283.75,1603.75,1861.25,2117.50,1320.00,1507.50,1885.00,2186.25,2488.75,1583.75,1810.00,2262.50,2625.00,2986.25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
155215,H,3717,61.00,2.00,7.00,nan,nan,1400.00,nan,3.00,nan,nan,1450.00,101.00,4500.00,1.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0
155216,H,2904,61.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,42700.00,5.00,6.00,Kern CA,NaN,NaN,NaN,NaN,NaN,NaN,Kern,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
155217,H,6103,69.00,3.00,2.00,nan,nan,2000.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN,Placer,400.00,457.50,606.25,814.25,1022.25,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0

## Part B1. Calculate total monthly housing cost by adding monthly first mortgage, second/junior mortgage, and condo fees

In [18]:
units_df['own_monthly_cost']=units_df['first_mortgage'] + units_df['second_mortgage'] + units_df['condo_fee'] + (units_df['prop_tax']/12)
units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,rent_ELI_studio_count,rent_ELI_1_br_count,rent_ELI_2_br_count,rent_ELI_3_br_count,rent_ELI_4_br_count,rent_VLI_studio_count,rent_VLI_1_br_count,rent_VLI_2_br_count,rent_VLI_3_br_count,rent_VLI_4_br_count,rent_LI_studio_count,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_monthly_cost
0,H,5906,100.00,1.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1120.00,26.00,52000.00,2.00,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange,506.25,578.75,722.50,838.75,1022.25,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,nan
1,H,8105,66.00,3.00,2.00,0.00,6200.00,nan,nan,1.00,nan,1800000.00,nan,nan,232000.00,1.00,68.00,San Mateo CA,NaN,NaN,NaN,NaN,NaN,NaN,San Mateo,616.25,703.75,878.75,1020.00,1160.00,1026.25,1172.50,1465.00,1700.00,1935.00,1642.50,1877.50,2346.25,2722.50,3097.50,1802.50,2060.00,2575.00,2987.50,3398.75,2162.50,2472.50,3090.00,3585.00,4078.75,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
2,H,3727,65.00,3.00,3.00,0.00,2700.00,nan,nan,1.00,nan,1200000.00,nan,nan,108800.00,4.00,68.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
3,H,6101,98.00,3.00,2.00,0.00,700.00,nan,nan,1.00,nan,375000.00,nan,nan,65000.00,4.00,57.00,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN,Placer,400.00,457.50,606.25,814.25,1022.25,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
4,H,3738,203.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,29000.00,6.00,2.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155213,H,6505,65.00,3.00,2.00,240.00,nan,nan,nan,2.00,nan,330000.00,nan,nan,62600.00,6.00,68.00,Riverside CA,NaN,NaN,NaN,NaN,NaN,NaN,Riverside,352.50,402.50,606.25,814.25,1022.25,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
155214,H,8303,67.00,4.00,2.00,0.00,2300.00,nan,nan,1.00,nan,950000.00,nan,nan,35500.00,3.00,65.00,Santa Barbara CA,NaN,NaN,NaN,NaN,NaN,NaN,Santa Barbara,421.25,481.25,606.25,814.25,1022.25,702.50,802.50,1002.50,1163.75,1323.75,1123.75,1283.75,1603.75,1861.25,2117.50,1320.00,1507.50,1885.00,2186.25,2488.75,1583.75,1810.00,2262.50,2625.00,2986.25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
155215,H,3717,61.00,2.00,7.00,nan,nan,1400.00,nan,3.00,nan,nan,1450.00,101.00,4500.00,1.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,nan
155216,H,2904,61.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,42700.00,5.00,6.00,Kern CA,NaN,NaN,NaN,NaN,NaN,NaN,Kern,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
155217,H,6103,69.00,3.00,2.00,nan,nan,2000.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN,Placer,400.00,457.50,606.25,814.25,1022.25,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,nan

# Part B2. Add count dummies for each unit based on income and unit type

In [19]:
# create filter masks for each affordability and unit type
ELI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['own_monthly_cost']<=units_df["ELI_studio"])
ELI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['own_monthly_cost']<=units_df["ELI_1_br"])
ELI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['own_monthly_cost']<=units_df["ELI_2_br"])
ELI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['own_monthly_cost']<=units_df["ELI_3_br"])
ELI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['own_monthly_cost']<=units_df["ELI_4_br"])
VLI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['own_monthly_cost']<=units_df["VLI_studio"])
VLI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['own_monthly_cost']<=units_df["VLI_1_br"])
VLI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['own_monthly_cost']<=units_df["VLI_2_br"])
VLI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['own_monthly_cost']<=units_df["VLI_3_br"])
VLI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['own_monthly_cost']<=units_df["VLI_4_br"])
LI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['own_monthly_cost']<=units_df["LI_studio"])
LI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['own_monthly_cost']<=units_df["LI_1_br"])
LI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['own_monthly_cost']<=units_df["LI_2_br"])
LI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['own_monthly_cost']<=units_df["LI_3_br"])
LI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['own_monthly_cost']<=units_df["LI_4_br"])
MI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['own_monthly_cost']<=units_df["MI_studio"])
MI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['own_monthly_cost']<=units_df["MI_1_br"])
MI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['own_monthly_cost']<=units_df["MI_2_br"])
MI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['own_monthly_cost']<=units_df["MI_3_br"])
MI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['own_monthly_cost']<=units_df["MI_4_br"])
MoI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['own_monthly_cost']<=units_df["MoI_studio"])
MoI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['own_monthly_cost']<=units_df["MoI_1_br"])
MoI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['own_monthly_cost']<=units_df["MoI_2_br"])
MoI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['own_monthly_cost']<=units_df["MoI_3_br"])
MoI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['own_monthly_cost']<=units_df["MoI_4_br"])
HI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['own_monthly_cost']>=units_df["MoI_studio"])
HI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['own_monthly_cost']>=units_df["MoI_1_br"])
HI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['own_monthly_cost']>=units_df["MoI_2_br"])
HI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['own_monthly_cost']>=units_df["MoI_3_br"])
HI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['own_monthly_cost']>=units_df["MoI_4_br"])

# apply filter masks to create dummy variables
units_df['own_ELI_studio_count']=np.where(ELI_studio_mask,1,0)
units_df['own_ELI_1_br_count']=np.where(ELI_1_br_mask,1,0)
units_df['own_ELI_2_br_count']=np.where(ELI_2_br_mask,1,0)
units_df['own_ELI_3_br_count']=np.where(ELI_3_br_mask,1,0)
units_df['own_ELI_4_br_count']=np.where(ELI_4_br_mask,1,0)
units_df['own_VLI_studio_count']=np.where(VLI_studio_mask,1,0)
units_df['own_VLI_1_br_count']=np.where(VLI_1_br_mask,1,0)
units_df['own_VLI_2_br_count']=np.where(VLI_2_br_mask,1,0)
units_df['own_VLI_3_br_count']=np.where(VLI_3_br_mask,1,0)
units_df['own_VLI_4_br_count']=np.where(VLI_4_br_mask,1,0)
units_df['own_LI_studio_count']=np.where(LI_studio_mask,1,0)
units_df['own_LI_1_br_count']=np.where(LI_1_br_mask,1,0)
units_df['own_LI_2_br_count']=np.where(LI_2_br_mask,1,0)
units_df['own_LI_3_br_count']=np.where(LI_3_br_mask,1,0)
units_df['own_LI_4_br_count']=np.where(LI_4_br_mask,1,0)
units_df['own_MI_studio_count']=np.where(MI_studio_mask,1,0)
units_df['own_MI_1_br_count']=np.where(MI_1_br_mask,1,0)
units_df['own_MI_2_br_count']=np.where(MI_2_br_mask,1,0)
units_df['own_MI_3_br_count']=np.where(MI_3_br_mask,1,0)
units_df['own_MI_4_br_count']=np.where(MI_4_br_mask,1,0)
units_df['own_MoI_studio_count']=np.where(MoI_studio_mask,1,0)
units_df['own_MoI_1_br_count']=np.where(MoI_1_br_mask,1,0)
units_df['own_MoI_2_br_count']=np.where(MoI_2_br_mask,1,0)
units_df['own_MoI_3_br_count']=np.where(MoI_3_br_mask,1,0)
units_df['own_MoI_4_br_count']=np.where(MoI_4_br_mask,1,0)
units_df['own_HI_studio_count']=np.where(HI_studio_mask,1,0)
units_df['own_HI_1_br_count']=np.where(HI_1_br_mask,1,0)
units_df['own_HI_2_br_count']=np.where(HI_2_br_mask,1,0)
units_df['own_HI_3_br_count']=np.where(HI_3_br_mask,1,0)
units_df['own_HI_4_br_count']=np.where(HI_4_br_mask,1,0)
units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,...,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_monthly_cost,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count
0,H,5906,100.00,1.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1120.00,26.00,52000.00,2.00,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange,506.25,578.75,722.50,838.75,1022.25,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75,...,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,H,8105,66.00,3.00,2.00,0.00,6200.00,nan,nan,1.00,nan,1800000.00,nan,nan,232000.00,1.00,68.00,San Mateo CA,NaN,NaN,NaN,NaN,NaN,NaN,San Mateo,616.25,703.75,878.75,1020.00,1160.00,1026.25,1172.50,1465.00,1700.00,1935.00,1642.50,1877.50,2346.25,2722.50,3097.50,1802.50,2060.00,2575.00,2987.50,3398.75,2162.50,2472.50,3090.00,3585.00,4078.75,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,H,3727,65.00,3.00,3.00,0.00,2700.00,nan,nan,1.00,nan,1200000.00,nan,nan,108800.00,4.00,68.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,H,6101,98.00,3.00,2.00,0.00,700.00,nan,nan,1.00,nan,375000.00,nan,nan,65000.00,4.00,57.00,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN,Placer,400.00,457.50,606.25,814.25,1022.25,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,H,3738,203.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,29000.00,6.00,2.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155213,H,6505,65.00,3.00,2.00,240.00,nan,nan,nan,2.00,nan,330000.00,nan,nan,62600.00,6.00,68.00,Riverside CA,NaN,NaN,NaN,NaN,NaN,NaN,Riverside,352.50,402.50,606.25,814.25,1022.25,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
155214,H,8303,67.00,4.00,2.00,0.00,2300.00,nan,nan,1.00,nan,950000.00,nan,nan,35500.00,3.00,65.00,Santa Barbara CA,NaN,NaN,NaN,NaN,NaN,NaN,Santa Barbara,421.25,481.25,606.25,814.25,1022.25,702.50,802.50,1002.50,1163.75,1323.75,1123.75,1283.75,1603.75,1861.25,2117.50,1320.00,1507.50,1885.00,2186.25,2488.75,1583.75,1810.00,2262.50,2625.00,2986.25,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
155215,H,3717,61.00,2.00,7.00,nan,nan,1400.00,nan,3.00,nan,nan,1450.00,101.00,4500.00,1.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
155216,H,2904,61.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,42700.00,5.00,6.00,Kern CA,NaN,NaN,NaN,NaN,NaN,NaN,Kern,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
155217,H,6103,69.00,3.00,2.00,nan,nan,2000.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN,Placer,400.00,457.50,606.25,814.25,1022.25,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50,...,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# Part C1. Multiply each dummy by the the household weight variable

In [20]:
units_df.rent_ELI_studio_count=units_df.rent_ELI_studio_count*units_df.weight
units_df.rent_ELI_1_br_count=units_df.rent_ELI_1_br_count*units_df.weight
units_df.rent_ELI_2_br_count=units_df.rent_ELI_2_br_count*units_df.weight
units_df.rent_ELI_3_br_count=units_df.rent_ELI_3_br_count*units_df.weight
units_df.rent_ELI_4_br_count=units_df.rent_ELI_4_br_count*units_df.weight
units_df.rent_VLI_studio_count=units_df.rent_VLI_studio_count*units_df.weight
units_df.rent_VLI_1_br_count=units_df.rent_VLI_1_br_count*units_df.weight
units_df.rent_VLI_2_br_count=units_df.rent_VLI_2_br_count*units_df.weight
units_df.rent_VLI_3_br_count=units_df.rent_VLI_3_br_count*units_df.weight
units_df.rent_VLI_4_br_count=units_df.rent_VLI_4_br_count*units_df.weight
units_df.rent_LI_studio_count=units_df.rent_LI_studio_count*units_df.weight
units_df.rent_LI_1_br_count=units_df.rent_LI_1_br_count*units_df.weight
units_df.rent_LI_2_br_count=units_df.rent_LI_2_br_count*units_df.weight
units_df.rent_LI_3_br_count=units_df.rent_LI_3_br_count*units_df.weight
units_df.rent_LI_4_br_count=units_df.rent_LI_4_br_count*units_df.weight
units_df.rent_MI_studio_count=units_df.rent_MI_studio_count*units_df.weight
units_df.rent_MI_1_br_count=units_df.rent_MI_1_br_count*units_df.weight
units_df.rent_MI_2_br_count=units_df.rent_MI_2_br_count*units_df.weight
units_df.rent_MI_3_br_count=units_df.rent_MI_3_br_count*units_df.weight
units_df.rent_MI_4_br_count=units_df.rent_MI_4_br_count*units_df.weight
units_df.rent_MoI_studio_count=units_df.rent_MoI_studio_count*units_df.weight
units_df.rent_MoI_1_br_count=units_df.rent_MoI_1_br_count*units_df.weight
units_df.rent_MoI_2_br_count=units_df.rent_MoI_2_br_count*units_df.weight
units_df.rent_MoI_3_br_count=units_df.rent_MoI_3_br_count*units_df.weight
units_df.rent_MoI_4_br_count=units_df.rent_MoI_4_br_count*units_df.weight
units_df.rent_HI_studio_count=units_df.rent_HI_studio_count*units_df.weight
units_df.rent_HI_1_br_count=units_df.rent_HI_1_br_count*units_df.weight
units_df.rent_HI_2_br_count=units_df.rent_HI_2_br_count*units_df.weight
units_df.rent_HI_3_br_count=units_df.rent_HI_3_br_count*units_df.weight
units_df.rent_HI_4_br_count=units_df.rent_HI_4_br_count*units_df.weight
units_df.own_ELI_studio_count=units_df.own_ELI_studio_count*units_df.weight
units_df.own_ELI_1_br_count=units_df.own_ELI_1_br_count*units_df.weight
units_df.own_ELI_2_br_count=units_df.own_ELI_2_br_count*units_df.weight
units_df.own_ELI_3_br_count=units_df.own_ELI_3_br_count*units_df.weight
units_df.own_ELI_4_br_count=units_df.own_ELI_4_br_count*units_df.weight
units_df.own_VLI_studio_count=units_df.own_VLI_studio_count*units_df.weight
units_df.own_VLI_1_br_count=units_df.own_VLI_1_br_count*units_df.weight
units_df.own_VLI_2_br_count=units_df.own_VLI_2_br_count*units_df.weight
units_df.own_VLI_3_br_count=units_df.own_VLI_3_br_count*units_df.weight
units_df.own_VLI_4_br_count=units_df.own_VLI_4_br_count*units_df.weight
units_df.own_LI_studio_count=units_df.own_LI_studio_count*units_df.weight
units_df.own_LI_1_br_count=units_df.own_LI_1_br_count*units_df.weight
units_df.own_LI_2_br_count=units_df.own_LI_2_br_count*units_df.weight
units_df.own_LI_3_br_count=units_df.own_LI_3_br_count*units_df.weight
units_df.own_LI_4_br_count=units_df.own_LI_4_br_count*units_df.weight
units_df.own_MI_studio_count=units_df.own_MI_studio_count*units_df.weight
units_df.own_MI_1_br_count=units_df.own_MI_1_br_count*units_df.weight
units_df.own_MI_2_br_count=units_df.own_MI_2_br_count*units_df.weight
units_df.own_MI_3_br_count=units_df.own_MI_3_br_count*units_df.weight
units_df.own_MI_4_br_count=units_df.own_MI_4_br_count*units_df.weight
units_df.own_MoI_studio_count=units_df.own_MoI_studio_count*units_df.weight
units_df.own_MoI_1_br_count=units_df.own_MoI_1_br_count*units_df.weight
units_df.own_MoI_2_br_count=units_df.own_MoI_2_br_count*units_df.weight
units_df.own_MoI_3_br_count=units_df.own_MoI_3_br_count*units_df.weight
units_df.own_MoI_4_br_count=units_df.own_MoI_4_br_count*units_df.weight
units_df.own_HI_studio_count=units_df.own_HI_studio_count*units_df.weight
units_df.own_HI_1_br_count=units_df.own_HI_1_br_count*units_df.weight
units_df.own_HI_2_br_count=units_df.own_HI_2_br_count*units_df.weight
units_df.own_HI_3_br_count=units_df.own_HI_3_br_count*units_df.weight
units_df.own_HI_4_br_count=units_df.own_HI_4_br_count*units_df.weight
units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,...,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_monthly_cost,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count
0,H,5906,100.00,1.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1120.00,26.00,52000.00,2.00,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange,506.25,578.75,722.50,838.75,1022.25,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75,...,100.00,0.00,0.00,0.00,0.00,100.00,0.00,0.00,0.00,0.00,100.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,H,8105,66.00,3.00,2.00,0.00,6200.00,nan,nan,1.00,nan,1800000.00,nan,nan,232000.00,1.00,68.00,San Mateo CA,NaN,NaN,NaN,NaN,NaN,NaN,San Mateo,616.25,703.75,878.75,1020.00,1160.00,1026.25,1172.50,1465.00,1700.00,1935.00,1642.50,1877.50,2346.25,2722.50,3097.50,1802.50,2060.00,2575.00,2987.50,3398.75,2162.50,2472.50,3090.00,3585.00,4078.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,H,3727,65.00,3.00,3.00,0.00,2700.00,nan,nan,1.00,nan,1200000.00,nan,nan,108800.00,4.00,68.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,H,6101,98.00,3.00,2.00,0.00,700.00,nan,nan,1.00,nan,375000.00,nan,nan,65000.00,4.00,57.00,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN,Placer,400.00,457.50,606.25,814.25,1022.25,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,H,3738,203.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,29000.00,6.00,2.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155213,H,6505,65.00,3.00,2.00,240.00,nan,nan,nan,2.00,nan,330000.00,nan,nan,62600.00,6.00,68.00,Riverside CA,NaN,NaN,NaN,NaN,NaN,NaN,Riverside,352.50,402.50,606.25,814.25,1022.25,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
155214,H,8303,67.00,4.00,2.00,0.00,2300.00,nan,nan,1.00,nan,950000.00,nan,nan,35500.00,3.00,65.00,Santa Barbara CA,NaN,NaN,NaN,NaN,NaN,NaN,Santa Barbara,421.25,481.25,606.25,814.25,1022.25,702.50,802.50,1002.50,1163.75,1323.75,1123.75,1283.75,1603.75,1861.25,2117.50,1320.00,1507.50,1885.00,2186.25,2488.75,1583.75,1810.00,2262.50,2625.00,2986.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
155215,H,3717,61.00,2.00,7.00,nan,nan,1400.00,nan,3.00,nan,nan,1450.00,101.00,4500.00,1.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,61.00,0.00,0.00,0.00,0.00,61.00,0.00,0.00,0.00,0.00,61.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
155216,H,2904,61.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,42700.00,5.00,6.00,Kern CA,NaN,NaN,NaN,NaN,NaN,NaN,Kern,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
155217,H,6103,69.00,3.00,2.00,nan,nan,2000.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN,Placer,400.00,457.50,606.25,814.25,1022.25,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,69.00,0.00,0.00,0.00,0.00,69.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [21]:
units_df[units_df.rent_HI_4_br_count>0]

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,...,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_monthly_cost,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count
154,H,3725,82.00,4.00,2.00,nan,nan,2700.00,nan,3.00,nan,nan,3540.00,62.00,68000.00,1.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,82.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
599,H,5902,132.00,4.00,2.00,nan,nan,3700.00,nan,3.00,nan,nan,3916.00,9.00,531800.00,3.00,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange,506.25,578.75,722.50,838.75,1022.25,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,132.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
900,H,5904,37.00,4.00,2.00,nan,nan,3700.00,nan,3.00,nan,nan,3908.00,10.00,483000.00,1.00,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange,506.25,578.75,722.50,838.75,1022.25,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,37.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3673,H,7114,63.00,4.00,2.00,nan,nan,2700.00,nan,3.00,nan,nan,2888.00,101.00,26700.00,3.00,nan,San Bernardino CA,NaN,NaN,NaN,NaN,NaN,NaN,San Bernardino,352.50,402.50,606.25,814.25,1022.25,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,63.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3797,H,3763,94.00,4.00,2.00,nan,nan,3700.00,nan,3.00,nan,nan,4303.00,39.00,130790.00,1.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,94.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145792,H,3706,136.00,4.00,2.00,nan,nan,3700.00,nan,3.00,nan,nan,3902.00,40.00,118000.00,3.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,136.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
145888,H,3729,44.00,4.00,2.00,nan,nan,3400.00,nan,3.00,nan,nan,3527.00,8.00,563000.00,2.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,44.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
148733,H,1902,85.00,4.00,9.00,nan,nan,2600.00,nan,nan,2.00,nan,nan,nan,nan,nan,nan,Fresno CA,NaN,NaN,NaN,NaN,NaN,NaN,Fresno,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,85.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
150417,H,3714,109.00,4.00,2.00,nan,nan,2600.00,nan,3.00,nan,nan,3052.00,38.00,95330.00,4.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,109.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
154374,H,2901,122.00,4.00,2.00,nan,nan,2500.00,nan,3.00,nan,nan,2715.00,13.00,251000.00,1.00,nan,Kern CA,NaN,NaN,NaN,NaN,NaN,NaN,Kern,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,122.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

# Part D1. Add dummy variables for vacant "for-rent," vacant "for-sale," and recently moved in

In [22]:
# create dummy variables for vacant for rent, vacant for sale, rented in the last year, and sold in the last year
units_df["vacant_for_rent"]=np.where(units_df['vacancy_status']==1,1,0)
units_df["vacant_for_sale"]=np.where(units_df['vacancy_status']==3,1,0)
units_df["moved_last_year"]=np.where(units_df['moved_in']==1,1,0)
units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,...,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_monthly_cost,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count,vacant_for_rent,vacant_for_sale,moved_last_year
0,H,5906,100.00,1.00,8.00,nan,nan,1100.00,nan,3.00,nan,nan,1120.00,26.00,52000.00,2.00,nan,Orange CA,NaN,NaN,NaN,NaN,NaN,NaN,Orange,506.25,578.75,722.50,838.75,1022.25,843.75,963.75,1203.75,1397.50,1590.00,1348.75,1541.25,1926.25,2235.00,2543.75,1526.25,1743.75,2180.00,2528.75,2877.50,1831.25,2092.50,2616.25,3035.00,3453.75,...,0.00,0.00,100.00,0.00,0.00,0.00,0.00,100.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
1,H,8105,66.00,3.00,2.00,0.00,6200.00,nan,nan,1.00,nan,1800000.00,nan,nan,232000.00,1.00,68.00,San Mateo CA,NaN,NaN,NaN,NaN,NaN,NaN,San Mateo,616.25,703.75,878.75,1020.00,1160.00,1026.25,1172.50,1465.00,1700.00,1935.00,1642.50,1877.50,2346.25,2722.50,3097.50,1802.50,2060.00,2575.00,2987.50,3398.75,2162.50,2472.50,3090.00,3585.00,4078.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
2,H,3727,65.00,3.00,3.00,0.00,2700.00,nan,nan,1.00,nan,1200000.00,nan,nan,108800.00,4.00,68.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
3,H,6101,98.00,3.00,2.00,0.00,700.00,nan,nan,1.00,nan,375000.00,nan,nan,65000.00,4.00,57.00,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN,Placer,400.00,457.50,606.25,814.25,1022.25,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
4,H,3738,203.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,29000.00,6.00,2.00,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155213,H,6505,65.00,3.00,2.00,240.00,nan,nan,nan,2.00,nan,330000.00,nan,nan,62600.00,6.00,68.00,Riverside CA,NaN,NaN,NaN,NaN,NaN,NaN,Riverside,352.50,402.50,606.25,814.25,1022.25,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
155214,H,8303,67.00,4.00,2.00,0.00,2300.00,nan,nan,1.00,nan,950000.00,nan,nan,35500.00,3.00,65.00,Santa Barbara CA,NaN,NaN,NaN,NaN,NaN,NaN,Santa Barbara,421.25,481.25,606.25,814.25,1022.25,702.50,802.50,1002.50,1163.75,1323.75,1123.75,1283.75,1603.75,1861.25,2117.50,1320.00,1507.50,1885.00,2186.25,2488.75,1583.75,1810.00,2262.50,2625.00,2986.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
155215,H,3717,61.00,2.00,7.00,nan,nan,1400.00,nan,3.00,nan,nan,1450.00,101.00,4500.00,1.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,0.00,0.00,61.00,0.00,0.00,0.00,0.00,61.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
155216,H,2904,61.00,2.00,1.00,0.00,nan,nan,nan,2.00,nan,17000.00,nan,nan,42700.00,5.00,6.00,Kern CA,NaN,NaN,NaN,NaN,NaN,NaN,Kern,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
155217,H,6103,69.00,3.00,2.00,nan,nan,2000.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN,Placer,400.00,457.50,606.25,814.25,1022.25,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50,...,0.00,0.00,0.00,0.00,69.00,0.00,0.00,0.00,0.00,69.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1,0,0

In [23]:
#filter for only currently listed or recently moved into units
recent_mask = (units_df.vacant_for_rent==1)|(units_df.vacant_for_sale==1)|(units_df.moved_last_year==1)
recent_units_df = units_df[recent_mask]
recent_units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,...,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_monthly_cost,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count,vacant_for_rent,vacant_for_sale,moved_last_year
1,H,8105,66.00,3.00,2.00,0.00,6200.00,nan,nan,1.00,nan,1800000.00,nan,nan,232000.00,1.00,68.00,San Mateo CA,NaN,NaN,NaN,NaN,NaN,NaN,San Mateo,616.25,703.75,878.75,1020.00,1160.00,1026.25,1172.50,1465.00,1700.00,1935.00,1642.50,1877.50,2346.25,2722.50,3097.50,1802.50,2060.00,2575.00,2987.50,3398.75,2162.50,2472.50,3090.00,3585.00,4078.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
10,H,3719,56.00,1.00,6.00,nan,nan,1700.00,nan,3.00,nan,nan,1850.00,31.00,70730.00,1.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,56.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
21,H,3721,60.00,1.00,6.00,nan,nan,1200.00,nan,3.00,nan,nan,1290.00,42.00,37000.00,1.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,0.00,60.00,0.00,0.00,0.00,0.00,60.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
35,H,101,45.00,3.00,2.00,0.00,3800.00,nan,nan,1.00,nan,800000.00,nan,nan,140000.00,1.00,68.00,Alameda CA,NaN,NaN,NaN,NaN,NaN,NaN,Alameda,491.25,561.25,701.25,814.25,1022.25,818.75,935.00,1168.75,1356.25,1543.75,1253.75,1432.50,1790.00,2077.50,2363.75,1636.25,1870.00,2337.50,2711.25,3085.00,1963.75,2243.75,2805.00,3253.75,3702.50,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
38,H,7703,50.00,1.00,5.00,nan,nan,230.00,nan,3.00,nan,nan,270.00,27.00,12000.00,1.00,nan,San Joaquin CA,NaN,NaN,NaN,NaN,NaN,NaN,San Joaquin,348.75,398.75,606.25,814.25,983.75,581.25,663.75,828.75,962.50,1095.00,928.75,1061.25,1326.25,1538.75,1751.25,1160.00,1326.25,1657.50,1922.50,2187.50,1392.50,1591.25,1988.75,2307.50,2625.00,...,0.00,0.00,50.00,0.00,0.00,0.00,0.00,50.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155197,H,6501,76.00,2.00,2.00,0.00,1500.00,nan,nan,1.00,nan,450000.00,nan,nan,135300.00,1.00,64.00,Riverside CA,NaN,NaN,NaN,NaN,NaN,NaN,Riverside,352.50,402.50,606.25,814.25,1022.25,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
155209,H,1901,96.00,3.00,1.00,nan,nan,200.00,nan,3.00,nan,nan,200.00,6.00,37000.00,1.00,nan,Fresno CA,NaN,NaN,NaN,NaN,NaN,NaN,Fresno,303.75,398.25,606.25,814.25,940.00,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75,...,0.00,0.00,0.00,0.00,96.00,0.00,0.00,0.00,0.00,96.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
155210,H,6507,64.00,2.00,5.00,nan,nan,1100.00,nan,3.00,nan,nan,1160.00,23.00,60400.00,1.00,nan,Riverside CA,NaN,NaN,NaN,NaN,NaN,NaN,Riverside,352.50,402.50,606.25,814.25,1022.25,586.25,670.00,837.50,972.50,1106.25,938.75,1072.50,1340.00,1555.00,1770.00,1137.50,1300.00,1625.00,1885.00,2145.00,1365.00,1560.00,1950.00,2262.50,2573.75,...,0.00,0.00,0.00,64.00,0.00,0.00,0.00,0.00,64.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
155215,H,3717,61.00,2.00,7.00,nan,nan,1400.00,nan,3.00,nan,nan,1450.00,101.00,4500.00,1.00,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,814.25,1022.25,747.50,855.00,1067.50,1238.75,1410.00,1196.25,1366.25,1707.50,1981.25,2255.00,1133.75,1296.25,1620.00,1878.75,2138.75,1361.25,1555.00,1943.75,2255.00,2566.25,...,0.00,0.00,0.00,61.00,0.00,0.00,0.00,0.00,61.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
155217,H,6103,69.00,3.00,2.00,nan,nan,2000.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN,Placer,400.00,457.50,606.25,814.25,1022.25,666.25,761.25,951.25,1103.75,1256.25,1066.25,1218.75,1522.50,1766.25,2010.00,1331.25,1522.50,1902.50,2207.50,2511.25,1597.50,1826.25,2282.50,2647.50,3012.50,...,0.00,0.00,0.00,0.00,69.00,0.00,0.00,0.00,0.00,69.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1,0,0

# Part D2. Aggregating at the PUMA level

In [24]:
# for all units
puma_sums_df = units_df.groupby("PUMA").sum()
puma_counts_df = puma_sums_df[["rent_ELI_studio_count","rent_ELI_1_br_count",
    "rent_ELI_2_br_count",
    "rent_ELI_3_br_count",
    "rent_ELI_4_br_count",
    "rent_VLI_studio_count",
    "rent_VLI_1_br_count",
    "rent_VLI_2_br_count",
    "rent_VLI_3_br_count",
    "rent_VLI_4_br_count",
    "rent_LI_studio_count",
    "rent_LI_1_br_count",
    "rent_LI_2_br_count",
    "rent_LI_3_br_count",
    "rent_LI_4_br_count",
    "rent_MI_studio_count",
    "rent_MI_1_br_count",
    "rent_MI_2_br_count",
    "rent_MI_3_br_count",
    "rent_MI_4_br_count",
    "rent_MoI_studio_count",
    "rent_MoI_1_br_count",
    "rent_MoI_2_br_count",
    "rent_MoI_3_br_count",
    "rent_MoI_4_br_count",
    "rent_HI_studio_count",
    "rent_HI_1_br_count",
    "rent_HI_2_br_count",
    "rent_HI_3_br_count",
    "rent_HI_4_br_count",
    "own_ELI_studio_count",
    "own_ELI_1_br_count",
    "own_ELI_2_br_count",
    "own_ELI_3_br_count",
    "own_ELI_4_br_count",
    "own_VLI_studio_count",
    "own_VLI_1_br_count",
    "own_VLI_2_br_count",
    "own_VLI_3_br_count",
    "own_VLI_4_br_count",
    "own_LI_studio_count",
    "own_LI_1_br_count",
    "own_LI_2_br_count",
    "own_LI_3_br_count",
    "own_LI_4_br_count",
    "own_MI_studio_count",
    "own_MI_1_br_count",
    "own_MI_2_br_count",
    "own_MI_3_br_count",
    "own_MI_4_br_count",
    "own_MoI_studio_count",
    "own_MoI_1_br_count",
    "own_MoI_2_br_count",
    "own_MoI_3_br_count",
    "own_MoI_4_br_count",
    "own_HI_studio_count",
    "own_HI_1_br_count",
    "own_HI_2_br_count",
    "own_HI_3_br_count",
    "own_HI_4_br_count"]].copy()
puma_counts_df

,rent_ELI_studio_count,rent_ELI_1_br_count,rent_ELI_2_br_count,rent_ELI_3_br_count,rent_ELI_4_br_count,rent_VLI_studio_count,rent_VLI_1_br_count,rent_VLI_2_br_count,rent_VLI_3_br_count,rent_VLI_4_br_count,rent_LI_studio_count,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count
PUMA,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
101,503.00,1196.00,370.00,186.00,0.00,1632.00,2875.00,1668.00,605.00,144.00,2945.00,7068.00,5661.00,1332.00,341.00,4247.00,9544.00,8699.00,2461.00,502.00,4609.00,11214.00,9424.00,2637.00,813.00,157.00,278.00,71.00,302.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,129.00,0.00,0.00,0.00,142.00,526.00,58.00,0.00,0.00,233.00,630.00,97.00,0.00,0.00,369.00,926.00,377.00,0.00,0.00,356.00,487.00,309.00
102,2771.00,2817.00,1720.00,1453.00,391.00,5823.00,7656.00,4993.00,3564.00,541.00,9305.00,13766.00,11442.00,6224.00,1070.00,10727.00,17036.00,13904.00,6473.00,1217.00,11161.00,18926.00,14756.00,6473.00,1438.00,528.00,1145.00,1132.00,248.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,65.00,64.00,137.00,0.00,34.00,211.00,164.00,252.00,0.00,149.00,329.00,487.00,317.00,0.00,305.00,329.00,548.00,533.00,78.00,237.00,37.00,68.00,73.00
103,70.00,852.00,630.00,236.00,153.00,729.00,2006.00,1496.00,933.00,153.00,1728.00,5170.00,3906.00,1914.00,198.00,2160.00,7221.00,4966.00,2440.00,310.00,2160.00,8031.00,5718.00,3169.00,338.00,0.00,698.00,60.00,314.00,0.00,0.00,0.00,0.00,107.00,155.00,0.00,0.00,57.00,249.00,155.00,0.00,0.00,199.00,817.00,778.00,0.00,0.00,534.00,1593.00,1164.00,0.00,0.00,699.00,1775.00,1429.00,0.00,0.00,265.00,596.00,370.00
104,195.00,2129.00,1594.00,1846.00,146.00,1162.00,4222.00,6059.00,3214.00,971.00,1696.00,6083.00,10419.00,4961.00,1320.00,1735.00,6083.00,11318.00,5129.00,1320.00,1812.00,6191.00,11318.00,5129.00,1320.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,137.00,0.00,0.00,0.00,0.00,170.00,47.00,0.00,29.00,131.00,170.00,158.00,0.00,29.00,392.00,326.00,246.00,0.00,29.00,570.00,326.00,246.00,0.00,0.00,267.00,44.00,75.00
105,175.00,185.00,499.00,375.00,220.00,175.00,1946.00,3027.00,1080.00,484.00,1787.00,8807.00,10438.00,2733.00,656.00,1995.00,10383.00,12557.00,3355.00,731.00,2105.00,10573.00,13158.00,3520.00,1173.00,223.00,68.00,454.00,131.00,0.00,0.00,0.00,0.00,0.00,113.00,0.00,0.00,0.00,508.00,181.00,0.00,0.00,63.00,583.00,409.00,0.00,0.00,298.00,1067.00,555.00,0.00,0.00,358.00,1422.00,555.00,55.00,0.00,306.00,354.00,320.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11103,0.00,1090.00,1144.00,392.00,57.00,617.00,1815.00,2641.00,1137.00,310.00,1460.00,3876.00,9065.00,5063.00,2859.00,1743.00,4324.00,9756.00,5834.00,3103.00,1743.00,4324.00,10000.00,5913.00,3367.00,0.00,0.00,55.00,0.00,0.00,0.00,0.00,0.00,0.00,44.00,0.00,0.00,109.00,187.00,44.00,0.00,0.00,311.00,785.00,455.00,0.00,0.00,311.00,946.00,455.00,0.00,0.00,311.00,1007.00,455.00,0.00,0.00,0.00,63.00,56.00
11104,109.00,659.00,478.00,335.00,265.00,236.00,1332.00,1233.00,1291.00,265.00,895.00,3424.00,7443.00,2941.00,755.00,933.00,4461.00,8336.00,3520.00,959.00,1439.00,4583.00,8748.00,3815.00,1012.00,148.00,156.00,93.00,330.00,0.00,0.00,0.00,0.00,114.00,93.00,0.00,0.00,60.00,206.00,232.00,0.00,0.00,167.00,972.00,573.00,0.00,0.00,167.00,1181.00,754.00,0.00,0.00,167.00,1341.00,807.00,0.00,0.00,0.00,281.00,56.00
11105,40.00,163.00,323.00,489.00,467.00,130.00,1424.00,3513.00,1295.00,519.00,334.00,2309.00,5735.00,2773.00,849.00,334.00,2635.00,5924.00,2934.00,931.00,334.00,2805.00,6223.00,2934.00,931.00,188.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,51.00,0.00,0.00,0.00,37.00,156.00,0.00,42.00,122.00,361.00,503.00,0.00,82.00,122.00,515.00,766.00,0.00,82.00,122.00,632.00,766.00,0.00,0.00,0.00,79.00,0.00
11106,35.00,272.00,229.00,0.00,39.00,35.00,685.00,849.00,552.00,318.00,116.00,1522.00,4446.00,2913.00,1331.00,635.00,2250.00,5024.00,3494.00,2081.00,635.00,2250.00,5476.00,3579.00,2081.00,0.00,0.00,39.00,73.00,0.00,0.00,0.00,0.00,0.00,54.00,0.00,0.00,0.00,0.00,54.00,0.00,0.00,0.00,402.00,699.00,0.00,0.00,0.00,659.00,842.00,0.00,0.00,0.00,879.00,1146.00,99.00,0.00,0.00,178.00,220.00
11300,666.00,1310.00,1292.00,853.00,161.00,1405.00,4394.00,4862.00,2015.00,652.00,2594.00,8425.00,10993.00,5666.00,1562.00,2594.00,8741.00,11940.00,8013.00,2313.00,2829.00,8891.00,11940.00,8013.00,2487.00,0.00,274.00,0.00,283.00,173.00,0.00,0.00,0.00,0.00,138.00,0.00,0.00,150.00,109.00,246.00,0.00,0.00,150.00,793.00,574.00,0.00,0.00,211.00,793.00,735.00,0.00,0.00,211.00,1106.00,924.00,0.00,0.00,156.00,255.00,273.00

In [25]:
#export it
puma_counts_df.to_csv("weighted_puma_counts.csv")

In [26]:
# for recent units
recent_puma_sums_df = recent_units_df.groupby("PUMA").sum()
recent_puma_counts_df = recent_puma_sums_df[["rent_ELI_studio_count","rent_ELI_1_br_count",
    "rent_ELI_2_br_count",
    "rent_ELI_3_br_count",
    "rent_ELI_4_br_count",
    "rent_VLI_studio_count",
    "rent_VLI_1_br_count",
    "rent_VLI_2_br_count",
    "rent_VLI_3_br_count",
    "rent_VLI_4_br_count",
    "rent_LI_studio_count",
    "rent_LI_1_br_count",
    "rent_LI_2_br_count",
    "rent_LI_3_br_count",
    "rent_LI_4_br_count",
    "rent_MI_studio_count",
    "rent_MI_1_br_count",
    "rent_MI_2_br_count",
    "rent_MI_3_br_count",
    "rent_MI_4_br_count",
    "rent_MoI_studio_count",
    "rent_MoI_1_br_count",
    "rent_MoI_2_br_count",
    "rent_MoI_3_br_count",
    "rent_MoI_4_br_count",
    "rent_HI_studio_count",
    "rent_HI_1_br_count",
    "rent_HI_2_br_count",
    "rent_HI_3_br_count",
    "rent_HI_4_br_count",
    "own_ELI_studio_count",
    "own_ELI_1_br_count",
    "own_ELI_2_br_count",
    "own_ELI_3_br_count",
    "own_ELI_4_br_count",
    "own_VLI_studio_count",
    "own_VLI_1_br_count",
    "own_VLI_2_br_count",
    "own_VLI_3_br_count",
    "own_VLI_4_br_count",
    "own_LI_studio_count",
    "own_LI_1_br_count",
    "own_LI_2_br_count",
    "own_LI_3_br_count",
    "own_LI_4_br_count",
    "own_MI_studio_count",
    "own_MI_1_br_count",
    "own_MI_2_br_count",
    "own_MI_3_br_count",
    "own_MI_4_br_count",
    "own_MoI_studio_count",
    "own_MoI_1_br_count",
    "own_MoI_2_br_count",
    "own_MoI_3_br_count",
    "own_MoI_4_br_count",
    "own_HI_studio_count",
    "own_HI_1_br_count",
    "own_HI_2_br_count",
    "own_HI_3_br_count",
    "own_HI_4_br_count"]].copy()
recent_puma_counts_df

,rent_ELI_studio_count,rent_ELI_1_br_count,rent_ELI_2_br_count,rent_ELI_3_br_count,rent_ELI_4_br_count,rent_VLI_studio_count,rent_VLI_1_br_count,rent_VLI_2_br_count,rent_VLI_3_br_count,rent_VLI_4_br_count,rent_LI_studio_count,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count
PUMA,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
101,146.00,296.00,0.00,110.00,0.00,215.00,533.00,375.00,472.00,0.00,489.00,1470.00,1321.00,526.00,0.00,1296.00,2752.00,2032.00,782.00,81.00,1658.00,3425.00,2463.00,843.00,81.00,157.00,71.00,0.00,199.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,74.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
102,162.00,0.00,584.00,277.00,0.00,937.00,314.00,987.00,550.00,0.00,1625.00,1224.00,1939.00,1722.00,86.00,2408.00,2305.00,2848.00,1825.00,86.00,2652.00,3057.00,3251.00,1825.00,210.00,249.00,719.00,684.00,109.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
103,0.00,82.00,0.00,0.00,0.00,122.00,321.00,69.00,216.00,0.00,312.00,843.00,194.00,508.00,0.00,415.00,1524.00,428.00,776.00,112.00,415.00,1590.00,704.00,1110.00,140.00,0.00,567.00,60.00,63.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,282.00,0.00,0.00,0.00,55.00,282.00,0.00,0.00,0.00,0.00,0.00,0.00
104,0.00,622.00,81.00,237.00,0.00,0.00,658.00,587.00,401.00,0.00,248.00,1099.00,1053.00,995.00,0.00,248.00,1099.00,1248.00,1163.00,0.00,248.00,1207.00,1248.00,1163.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
105,0.00,99.00,0.00,0.00,0.00,0.00,416.00,281.00,66.00,206.00,541.00,1613.00,1040.00,251.00,378.00,685.00,2085.00,2092.00,460.00,378.00,795.00,2085.00,2442.00,520.00,513.00,64.00,68.00,330.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,100.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11103,0.00,208.00,65.00,0.00,0.00,103.00,208.00,65.00,342.00,0.00,359.00,712.00,1357.00,1005.00,674.00,520.00,1160.00,1405.00,1741.00,821.00,520.00,1160.00,1405.00,1820.00,821.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11104,0.00,38.00,0.00,0.00,0.00,0.00,251.00,154.00,0.00,0.00,72.00,1066.00,2196.00,186.00,0.00,110.00,1806.00,2543.00,472.00,65.00,110.00,1806.00,2615.00,767.00,65.00,0.00,0.00,93.00,330.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11105,40.00,0.00,0.00,0.00,121.00,76.00,250.00,256.00,251.00,173.00,76.00,654.00,505.00,707.00,173.00,76.00,749.00,600.00,834.00,173.00,76.00,811.00,600.00,834.00,173.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,158.00,0.00,0.00,0.00,0.00,158.00,0.00,0.00,0.00,0.00,158.00,0.00,0.00,0.00,0.00,0.00
11106,0.00,73.00,0.00,0.00,0.00,0.00,73.00,35.00,61.00,230.00,81.00,295.00,1997.00,722.00,891.00,440.00,783.00,2404.00,948.00,891.00,440.00,783.00,2735.00,948.00,891.00,0.00,0.00,39.00,31.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11300,535.00,56.00,50.00,365.00,0.00,737.00,1907.00,1992.00,846.00,0.00,1489.00,4690.00,4518.00,1777.00,551.00,1489.00,4827.00,5221.00,3151.00,1016.00,1539.00,4827.00,5221.00,3151.00,1111.00,0.00,177.00,0.00,0.00,173.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,76.00

In [27]:
#export it
recent_puma_counts_df.to_csv("weighted_recent_puma_counts.csv")